body {
  background: #eeeeee;
}
.banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vw;
  background: -moz-linear-gradient(left, #3d84f3, #0f4db2);
  background: -webkit-gradient(linear, left top, right top, #3e84f4, #0f4db2);
  background: -webkit-linear-gradient(left, #3e84f4, #0f4db2);
  background: -o-linear-gradient(left, #3e84f4, #0f4db2);
  background: -ms-linear-gradient(left, #3e84f4, #0f4db2);
  background: linear-gradient(to right, #3e84f4, #0f4db2);
}
.banner .header {
  position: absolute;
  left: 8vw;
  top: 8vw;
  width: 16vw;
  height: 16vw;
  border: 2px solid #7a9dd5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("/home/images/common/default.png") center no-repeat;
  background-size: 16vw 16vw;
}
.banner .all {
  display: inline-block;
  width: 50vw;
  position: absolute;
  left: 26vw;
  top: 9vw;
  color: #ffffff;
  font-size: #666666;
  line-height: 1.6rem;
}
.banner .all .name {
  font-size: 1.5rem;
  line-height: 7vw;
}
.banner .all .name span {
  position: relative;
}
.banner .all .name span:after {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0;
  right: -1.8rem;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.banner .all .name span.student:after {
  content: '学';
  background: #ffb821;
}
.banner .all .name span.main:after {
  content: '主';
  background: #589efd;
}
.banner .all .name span.assi:after {
  content: '助';
  background: #fd8358;
}
.banner .all .note {
  font-size: 1.2rem;
  line-height: 7vw;
}
.banner .listbox {
  position: absolute;
  left: 4vw;
  top: 32vw;
}
.banner .lists {
  width: 92vw;
  height: auto;
  margin-bottom: 2vw;
  padding: 6vw;
  background: #ffffff;
  box-shadow: 1px 3px 8px #f1f1f1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.banner .lists .tag {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 4vw 0;
}
.banner .lists .tag span {
  position: relative;
}
.banner .lists .tag span:before {
  position: absolute;
  left: -2vw;
  content: '';
  width: 1vw;
  height: 1.3rem;
  background: #eda44b;
}
.banner .lists .list {
  border-top: 1px solid #f1f1f1;
  line-height: 10vw;
}
.banner .lists .list.list_img {
  line-height: 20vw;
}
.banner .lists .list .fl {
  color: #666666;
  font-size: 1.4rem;
}
.banner .lists .list .fr {
  color: #999999;
  font-size: 1.2rem;
}
.banner .lists .list .fa-phone {
  color: limegreen;
}
.banner .lists .list .card {
  width: 22vw;
  height: 16vw;
  margin-top: 2vw;
  background: center no-repeat;
  background-size: 60px 40px;
}
