
{extend name="public/common"}

{block name="style"}
<title>新闻发布</title>
<script src="/static/framework7/framework7.js"></script>
<link rel="stylesheet" href="/static/framework7/framework7.ios.min.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.min.css">
<style>
    body{
        background: #000;;
    }
</style>
{/block}

{block name="body"}
<div style="position:absolute;right:20px;top:130px;color:#fff;font-size:22px;" class="clk">X</div>
<iframe src="{$img}" frameborder="0" width="100%" height="300px" allowfullscreen style="margin-top:120px;"></iframe>
{/block}

{block name="script"}
<script>
    window.title='游泳动态';
    $('.clk,body').click(function(){
        history.go(-1);
    })
</script>
{/block}