{extend name="public/common"}

{block name="style"}
<title>新闻发布</title>
<link rel="stylesheet" href="/home/css/common/detail.css">
{/block}
{block name="body"}
<div class="scrollDiy">
	<div class="article">
		<div class="title limit_">{$detail.title}</div>
		<div class="note">{$detail.publisher}/{$detail.create_time|time_format='Y-m-d'}</div>
		<div class="content">
			<div class="ue">{$detail.content}</div>
			<div class="note">
				<span class="read">{$detail.views}</span>
				<!--good、good_-->
				{eq name="visit" value="0"}
				{eq name="detail.is_like" value="1"}
				<span class="isgood good_" onclick="isGood(this,1,{$detail.id})">{$detail.likes}</span>
				{else/}
				<span class="isgood good" onclick="isGood(this,1,{$detail.id})">{$detail.likes}</span>
				{/eq}
				{/eq}
			</div>
		</div>
	</div>
	<div class="comment">
		<div class="sum">共<span>{$detail.comments}</span>条评论</div>
		<div class="lists">
			{volist name="comment" id="co"}
			<div class="list clear">
				<div class="fl">
					<img src="{$co.header}" alt="用户" class="user">
				</div>
				<div class="fl mid">
					<div class="name limit">{$co.nickname}</div>
					<div class="content" >{$co.content}</div>
					<div class="time">{$co.create_time|time_format="Y-m-d"}</div>
				</div>
				{eq name="visit" value="0"}
				{eq name="co.is_like" value="1"}
				<div class="fr isgood good_" onclick="isGood(this,0,{$co.id})">{$co.likes}</div>
				{else/}
				<div class="fr isgood good" onclick="isGood(this,0,{$co.id})">{$co.likes}</div>
				{/eq}
				{/eq}
			</div>
			{/volist}
		</div>
		<div class="tip"></div>
		<div class="loading hidden">
			<div class="typing_loader"></div>
		</div>
	</div>
</div>
</div>
{eq name="visit" value="0"}
<div class="bottom clear">
	{eq name="detail.is_collect" value="1"}
	<div class="collect star_ fl" onclick="isCollect(this,1,{$detail.id})"></div>
	{else/}
	<div class="collect star fl" onclick="isCollect(this,1,{$detail.id})"></div>
	{/eq}
	<div class="myword fl">
		<input type="text" placeholder="说说你的感想！">
	</div>
	<div class="send fr" onclick="send(this,1,{$detail.id})">发送</div>
</div>
{/eq}
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
var scrollNow = true;
$(function(){
	//reset
	var len = $(".list" ).length;
	if(len >= 7){
		$('.tip' ).text('上拉加载更多');
		//上拉加载评论
		loadScroll();
	}
	//ue限定
	ueLimit();
	if($('.list').length == 0){
		$('.lists').append('<img src="/home/images/common/nomessage.png" alt="暂无消息" class="nomessage">');
	}
});
//收藏
function isCollect(e,type,id){
	$(e).toggleClass('star' ).toggleClass('star_');
	$.ajax({
		type:"post",
		url:"{:Url('Base/collect')}",
		data:{
			type:type,
			aid:id,
		},
		success:function(data){

		}
	})
}
//点赞
function isGood(e,type,id){
	var n = $(e ).text();
	$(e).toggleClass('good' ).toggleClass('good_');
	$(e ).hasClass('good')?n--:n++;
	$(e ).text(n);
	//type：1文章，2评论
	//	var type = $(e ).hasClass('fr')?2:1;
	$.ajax({
		type:"post",
		url:"{:Url('Base/like')}",
		data:{
			type:type,
			aid:id,
		},
		success:function(data){

		}
	})
}
//评论
function send(e,type,id){
	var it = $(e ).prev().find('input');
	if(it.val() != '' && it.val().length > 4){
		$.ajax({
			type:"post",
			url:"{:Url('Base/comment')}",
			data:{
				type:type,
				aid:id,
				content:it.val()
			},
			beforeSend:function(){
				swal({
					title: ' ',
					text: '评论提交中...',
					showConfirmButton:false
				});
			},
			success:function(msg){
				var data = msg.data;
				var userid = "'"+data.create_user+"'";
				var html = '';
				html += '<div class="list clear">'+
						'<div class="fl">'+
						'<img src="'+data.header+'" alt="用户头像" class="user">'+
						'</div>'+
						'<div class="fl mid">'+
						'<div class="name limit">'+data.nickname+'</div>'+
						'<div class="content" >'+it.val()+'</div>'+
						'<div class="time">'+data.time+'</div>'+
						'</div>'+
						'<div class="fr isgood good" onclick="isGood(this,0,'+data.id+')">'+data.likes+'</div>'+
						'</div>';
				$('.lists' ).append(html);
				it.val('');
				var sum = $('.sum span' );
				sum.text(parseInt(sum.text())+1);
				swal({
					title: ' ',
					text: '评论成功',
					type: 'success',
					confirmButtonText:'确定',
					timer:3000
				});
			}
		});
	}else{
		swal({
			title: ' ',
			text: '您的评论少于五个字',
			type: 'error',
			confirmButtonText:'确定',
			timer:3000
		});
	}
}
function loadScroll(){
	$('.scrollDiy').off("scroll" ).on("scroll",function(){
		var dh = $('.article').height() + $('.comment').height();
		var end = $('.scrollDiy').height() + $('.scrollDiy').scrollTop();
		var len = $(".list" ).length;
		var tip = $(".tip");
		var loading = $('.loading');
		var id = 'id';
		if(dh <= end && scrollNow){
			scrollNow = false;//请求执行中
			$.ajax({
				type:"post",
				url:"{:Url('Base/morecomment')}",
				data:{
					type:1,
					aid:id,
					length:len
				},
				beforeSend: function(XMLHttpRequest){
					tip.hide();
					loading.toggleClass('hidden');
				},
				success:function(data){
					loading.toggleClass('hidden');
					tip.show();
					if(data.code == 1){
						addComment(data);
						var dataLen =data.data.length;
						if(data.data.length == 5){
							tip.text('上拉加载更多');
						}
					}else{
						tip.text('没有更多了');
						$('.scrollDiy' ).off("scroll");
					}
					scrollNow = true;//请求结束
				}
			})
		}
	})
}
function addComment(data){
	//is_like : 1为已点赞 0为未点赞
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		var userid = "'"+list.create_user+"'";
		html += '<div class="list clear">'+
				'<div class="fl">'+
				'<img src="'+list.header+'" alt="用户" class="user">'+
				'</div>'+
				'<div class="fl mid">'+
				'<div class="name limit">'+ list.nickname+'</div>'+
				'<div class="content" >'+ list.content+'</div>'+
				'<div class="time">'+ list.time+'</div>'+
				'</div>';
		if (visit){
			if(list.is_like == 0){
				html+='<div class="fr isgood good" onclick="isGood(this,0,'+list.id+')">'+list.likes+'</div>'
			}else{
				html+='<div class="fr isgood good_" onclick="isGood(this,0,'+list.id+')">'+list.likes+'</div>'
			}
		}else {
			html+='<div class="fr isgood good">'+list.likes+'</div>'
		}
		html+=
			'</div>';
	}
	$(".lists" ).append(html);
}
function ueLimit(){
	var imgs = $('.content img');
	var ww = $('.content').width();
	imgs.each(function(){
		if($(this ).width() > ww){
			$(this ).width(ww)
		}
	});
}
</script>
{/block}