{extend name="public/common"}

{block name="style"}
<title>新闻发布</title>
<script src="/static/framework7/framework7.js"></script>
<link rel="stylesheet" href="/static/framework7/framework7.ios.min.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.min.css">
<style>
    *{
        box-sizing: border-box;
    }
    img{
        vertical-align: inherit;
    }
    /*样式reset*/
    .page{
        background:none;
    }
    .content-block{
        margin:0;
        padding:0;
        height:44px;
    }
    .buttons-row .button:first-child,.buttons-row .button:last-child{
        border-radius: 0;border-left-width:0;
    }
    .list-block .item-content{
        padding:0;
    }
    .list-block .item-inner{
        padding:0;

    }
    .list-block{
        margin:0;
    }
    /*基础样式*/
    .view>.navbar{
        min-height:44px;
        height:44px;
        border:none;
    }
    .page-content{
        padding-top:44px;
    }
    .buttons-row .button{
        background:#339ee2;
        border:none;
        color: #f5f5f7;
        height:44px;
        line-height: 44px;
        font-size:16px;
    }
    .buttons-row .active-state{
        transition-duration: 0s;
        background: #2a6496;
    }
    .buttons-row .active{
        color:#fff;
        font-size:17px;
    }
    .tabs >.tab{
        height:100%;
    }
    /*.swiper*/
    .swiper-container{
        background:#fff;
        height:160px;
    }
    .swiper-slide>div{
        position:absolute;
        left:0;
        bottom:0;
        background:#000;
        opacity: .5;
        width:100%;
        z-index:99;
    }
    .swiper-slide>div>span{
        color:#fff;
        height:30px;
        line-height: 30px;
        width:95%;
        display: block;
        float:left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left:15px;
        z-index:100;
        font-size:13px;
    }
    .swiper-slide>img{
        width:100%;
    }
    /*列表*/
    .news_list{
        width:100%;
    }
    .news_list div.item-title{
        position:relative;
        width:100%;
        height:80px;
        margin-left:15px;
    }
    .news_list div.item-title>img{
        position:absolute;
        left:0;
        width:80px;
        height:60px;
        margin-top:10px;
    }
    .news_list div.item-title div{
        position:absolute;
        right:0;
    }
    .news_list div.item-title div:nth-child(2){
        top:0;
        width:72%;
        height:30px;
        line-height:30px;
        margin-top:8px;
        font-size:14px;
        overflow:hidden; white-space:nowrap;text-overflow:ellipsis;
    }
    .news_list div.item-title div:nth-child(3){
        bottom:0;
        width:72%;
    }
    .news_list div.item-title div:nth-child(3)>span{
        height:40px;
        line-height: 40px;
        font-size:12px;
        width:27px;
        text-align: left;
    }
    .news_list div.item-title div:nth-child(3)>img{
        width:15px;
        margin-top:15px;
    }

    .news_list div.item-title div:nth-child(3)>span:nth-child(2){
        position:absolute;right:55px;
    }
    .news_list div.item-title div:nth-child(3)>img:nth-child(3){
        position:absolute;right:85px;
    }
    .news_list div.item-title div:nth-child(3)>span:nth-child(4){
        position:absolute;right:5px;
    }
    .news_list div.item-title div:nth-child(3)>img:nth-child(5){
        position:absolute;right:35px;
    }

    /**/
    .video_details{
        position:relative
    }
    .video_details>span:nth-child(1){
        text-align: center;height:30px;line-height:30px;color:#333;display: block;font-size:16px;width:100%;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;
    }
    .video_details>img:nth-child(2){
        position:absolute;top:110px;width:50px;margin-left:calc(50% - 25px)
    }
    .none{
        display: none;
    }
    .video_neirong{
        position:absolute;top:230px;text-align: center;width:100%;padding:0 3%;border-bottom:1px solid #efeff4;
    }
    .video_neirong>img:nth-child(1){
        width:15px;margin-bottom:-2px;
    }
    .video_neirong>span:nth-child(2){
        height: 40px;line-height: 40px;font-size: 14px;width: 27px;text-align: left;margin-right:35%;color:#999;
    }
    .video_neirong>img:nth-child(3){
        width: 20px;
    }
    .video_neirong>span:nth-child(4){
        height: 40px;line-height: 40px;font-size: 14px;width: 27px;text-align: left;color:#999;margin-right:10px;
    }
    /*debug-ing*/
    .modal1{
        background:#000;opacity:1;z-index:1000;width:100%;height:100%;position:absolute;top:0;left:0;display:none;
    }
    .cha{
        position:absolute;right:20px;;top:120px;color:#fff;font-size:20px;display:none;z-index:1001;
    }

    .zan>img{
        width:15px;margin-bottom:-1px;
    }
    #add1,#add2,#add3{
        text-align: center;width:100%;height:30px;line-height:30px;color:#666;font-size:14px;margin-top:5px;display: none;margin-bottom:20px;
    }
    .video{
        display: none;position:absolute;top:150px;left:0;z-index:1001;
    }
</style>
{/block}

{block name="body"}
<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="content-block ">
                <!-- Buttons row as tabs controller -->
                <div class="buttons-row">
                    <!-- Link to 1st tab, active -->
                    <a href="#tab1" class="tab-link button">新闻动态</a>
                    <!-- Link to 2nd tab -->
                    <a href="#tab2" class="tab-link button">游泳百科</a>
                    <!-- Link to 3rd tab -->
                    <a href="#tab3" class="tab-link button">在线视频</a>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="page-content">
                <!-- Tabs, tabs wrapper -->
                <div class="tabs">
                    <!-- Tab 1, active by default -->
                    <div id="tab1" class="tab" >
                        <div class="content-block">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {eq name="show" value="1"}
                                    {volist name="recommend" id="ro"}
                                    <div class="swiper-slide">
                                        <img src="{$ro.front_cover|get_cover='path'}" alt="" onclick=window.location.href="{:Url('News/news_details?id='.$ro['id'])}">
                                        <div>
                                            <span>{$ro.title}</span>
                                        </div>
                                    </div>
                                    {/volist}
                                    {else/}
                                    <div class="swiper-slide">
                                        <img src="{$p1|get_cover='path'}" alt="">
                                        <div>
                                            <span>暂无新闻</span>
                                        </div>
                                    </div>
                                    {/eq}
                                </div>
                            </div>
                            <div class="list-block" id="num1">
                                <ul>
                                    {eq name="shows" value="1"}
                                    {volist name="list" id="lo"}
                                    <li class="item-content" onclick=window.location.href="{:Url('News/news_details?id='.$lo['id'])}">
                                        <div class="item-inner news_list">
                                            <div class="item-title">
                                                <img src="{$lo.front_cover|get_cover='path'}" alt="">
                                                <div>{$lo.title}</div>
                                                <div>
                                                    <span>{$lo.create_time|date="Y-m-d",###}</span>
                                                    <span class="num">{$lo.views}</span>
                                                    <img src="/home/images/news/guanzhu.png" alt="">
                                                    <span class="num">{$lo.comments}</span>
                                                    <img src="/home/images/news/pinglun.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {/volist}
                                    {else/}
                                    <div class="default">
                                        <img src="/home/images/notice/nomessage.png" alt="暂无消息" style="display:inline-block;margin:30vh 35vw;width: 30vw">
                                    </div>
                                    {/eq}

                                </ul>
                                <div id="add1">点击加载更多...</div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div id="tab2" class="tab" >
                        <div class="content-block">
                            <div class="list-block" id="num2">
                                <ul>
                                    {eq name="show1" value="1"}
                                    {volist name="wiki" id="wo"}
                                    <li class="item-content" onclick=window.location.href="{:Url('News/news_details?id='.$wo['id'])}">
                                        <div class="item-inner news_list">
                                            <div class="item-title">
                                                <img src="{$wo.front_cover|get_cover='path'}" alt="">
                                                <div >{$wo.title}</div>
                                                <div>
                                                    <span>{$wo.create_time|date="Y-m-d",###}</span>
                                                    <span class="num">{$wo.views}</span>
                                                    <img src="/home/images/news/guanzhu.png" alt="">
                                                    <span class="num">{$wo.comments}</span>
                                                    <img src="/home/images/news/pinglun.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {/volist}
                                    {else/}
                                    <div class="default">
                                        <img src="/home/images/notice/nomessage.png" alt="暂无消息" style="display:inline-block;margin:30vh 35vw;width: 30vw">
                                    </div>
                                    {/eq}
                                </ul>
                                <div id="add2">点击加载更多...</div>
                            </div>
                        </div>

                    </div>

                    <!-- Tab 3 -->
                    <div id="tab3" class="tab" >
                        <ul>
                            {eq name="shows1" value="1"}
                            {volist name="video" id="io"}
                            <li style="margin-bottom:40px;">
                                <!--modal1-->
                                <div class="modal1"></div>
                                <!--video 视频显示-->
                                <video  height="200px" width="100%" loop controls  class="video" style="">
                                    <!--视频链接-->
                                    <source src="{$io.content}">
                                </video>
                                <!--X-->
                                <span class="cha">X</span>
                                <!--视频内容-->
                                <div class="video_details">
                                    <span>{$io.title}</span>
                                    <img src="/home/images/news/123.jpg" alt=""  class="start" onclick=window.location.href="{:Url('News/videodetail?id='.$io['id'])}">
                                    <div class="video_neirong" >
                                        <img src="/home/images/notice/riqi.png" alt="">
                                        <span>{$io.create_time|date="Y-m-d",###}</span>
                                        <img src="/home/images/news/guanzhu.png" alt="" >
                                        <span class="num" >{$io.views}</span>
                                        {eq name="visit" value="0"}
                                        <span class="zan">
                                            {eq name="io.is_like" value="0"}
                                            <img src="/home/images/notice/good.png" alt=""  onclick="zan(this,{$io.id})">
                                            <img src="/home/images/notice/good_.png" alt="" class="none" style="" onclick="zan(this,{$io.id})">
                                            {else/}
                                            <img src="/home/images/notice/good.png" alt="" class="none" onclick="zan(this,{$io.id})">
                                            <img src="/home/images/notice/good_.png" alt="" onclick="zan(this,{$io.id})">
                                            {/eq}
                                            <span style="margin-left:4px;color:#999;margin-bottom:2px;font-size:14px;" class="like">{$io.likes}</span>
                                        </span>
                                        {else/}
                                        <span class="zan">
                                            <img src="/home/images/notice/good.png" alt="">
                                            <span style="margin-left:4px;color:#999;margin-bottom:2px;font-size:14px;" class="like">{$io.likes}</span>
                                        </span>
                                        {/eq}
                                    </div>
                                </div>
                                <!--视频第一帧图片-->
                                <img src="{$io.img}" alt="" class="video_img" style="width:94%;margin:0 3%;height:200px;">
                            </li>
                            {/volist}
                            {else/}
                            <div class="default">
                                <img src="/home/images/notice/nomessage.png" alt="暂无消息" style="display:inline-block;margin:30vh 35vw;width: 30vw" >
                            </div>
                            {/eq}
                        </ul>
                        <div id="add3">点击加载更多...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>

    $(document).ready(function(){
        if({$c} ==1){
            $('.buttons-row a:nth-child(1)').addClass('active');
            $('.tabs div:nth-child(1)').addClass('active');
        }
        if({$c} ==2){
            $('.buttons-row a:nth-child(2)').addClass('active');
            $('.tabs div:nth-child(2)').addClass('active');
        }
        if({$c} ==3){
            $('.buttons-row a:nth-child(3)').addClass('active');
            $('.tabs div:nth-child(3)').addClass('active');
        }
        if(sessionStorage.aaa==1){
            $('.buttons-row a').removeClass('active');
            $('.tabs div').removeClass('active');
            $('.buttons-row a:nth-child(1)').addClass('active');
            $('.tabs div:nth-child(1)').addClass('active');
        }
        if(sessionStorage.aaa==2){
            $('.buttons-row a').removeClass('active');
            $('.tabs div').removeClass('active');
            $('.buttons-row a:nth-child(2)').addClass('active');
            $('.tabs div:nth-child(2)').addClass('active');
        }
        if(sessionStorage.aaa==3){
            $('.buttons-row a').removeClass('active');
            $('.tabs div').removeClass('active');
            $('.buttons-row a:nth-child(3)').addClass('active');
            $('.tabs div:nth-child(3)').addClass('active');
        }
    });

    window.onload=function(){
        if ($('#num1>ul>li').length >= 4){
            $('#num1> #add1').show();
        }
        if ($('#num2>ul>li').length >= 6){
            $('#num2> #add2').show();
        }
        if ($('#tab3>ul>li').length >= 3){
            $('#tab3> #add3').show();
        }
    };
    $('#num1 ul,.swiper-container').click(function(){
        $('.buttons-row a').removeClass('active');
        $('.tabs div').removeClass('active');
        sessionStorage.aaa=1;

    });
    $('#num2 ul').click(function(){
        $('.buttons-row a').removeClass('active');
        $('.tabs div').removeClass('active');
        sessionStorage.aaa=2;

    });
    $('#tab3 ul').click(function(){
        sessionStorage.aaa=3;

    });
    $('.tab-link').click(function(){
        $('.page .page-content').scrollTop(0)
    });

    var myApp = new Framework7();
    var $$ = Dom7;
    //num
    $(".num").each(function(){
        if($(this).text()>999){
            $(this).text('999+')
        }
    });
    //video


    $('.modal1,span.cha').click(function(){
        $(this).parent().find('video').fadeOut();
        $(this).parent().find('div.modal1').fadeOut();
        $(this).parent().find('span.cha').fadeOut();
        $('.navbar').fadeIn();
        $(this).parent().siblings().fadeIn();
    });


    var mySwiper = new Swiper('.swiper-container', {
        autoplay:3000,//可选选项，自动滑动
        loop:true,
        autoplayDisableOnInteraction : false,
        pagination : '.swiper-pagination',
        observer:true,
        observeParents:true
    });

    //点击加载更多
    //新闻动态
    $('#add1').click(function(){
        var b=$('#num1>ul>li').length;
        $.ajax({
            type:"post",
            url:"{:Url('News/newsmore')}",
            data:{id:b},
            success:function(data){
                var html='';
                if (data == 0){
                    $('#add1').text('没有更多了...');
                }else {
                    for(var i=0; i< data.length;i++){
                        html+='<li class="item-content">'+
                                '<div class="item-inner news_list">'+
                                "<div class='item-title' onclick=window.location.href='news_details?id="+data[i].id+"'>"+
                                '<img src="'+data[i].front_cover+'" alt="">'+
                                '<div>'+data[i].title+'</div>'+
                                '<div>'+
                                '<span>'+data[i].create_time+'</span>'+
                                '<span class="num">'+data[i].views+'</span>'+
                                '<img src="/home/images/news/guanzhu.png" alt="">'+
                                '<span class="num">'+data[i].comments+'</span>'+
                                '<img src="/home/images/news/pinglun1.png" alt="">'+
                                '</div>'+
                                '</div>'+
                                '</div>'+
                                '</li>';
                    }
                    $('#tab1 .list-block ul').append(html);
                }
            }
        })
    });




    $('#add2').click(function(){
        $('#tab2').show();
        var b=$('#num2>ul>li').length;
        $.ajax({
            type:"post",
            url:"{:Url('News/wikimore')}",
            data:{id:b},
            success:function(data){
                var html='';
                if (data == 0){
                    $('#add2').text('没有更多了...');
                }else {
                    for(var i=0; i< data.length;i++){
                        html+='<li class="item-content">'+
                                '<div class="item-inner news_list">'+
                                "<div class='item-title' onclick=window.location.href='news_details?id="+data[i].id+"'>"+
                                '<img src="'+data[i].front_cover+'" alt="">'+
                                '<div>'+data[i].title+'</div>'+
                                '<div>'+
                                '<span>'+data[i].create_time+'</span>'+
                                '<span class="num">'+data[i].views+'</span>'+
                                '<img src="/home/images/news/guanzhu.png" alt="">'+
                                '<span class="num">'+data[i].comments+'</span>'+
                                '<img src="/home/images/news/pinglun1.png" alt="">'+
                                '</div>'+
                                '</div>'+
                                '</div>'+
                                '</li>';
                    }
                    console.log($(this).parent().find('div.list-block').find('ul'))
                    $('#tab2 .list-block ul').append(html);
                }
            }
        })
    });


    $('#add3').click(function(){
        var b=$('#tab3>ul>li').length;
        $.ajax({
            type:"post",
            url:"{:Url('News/videomore')}",
            data:{id:b},
            success:function(data){
                console.log(data);
                var html='';
                if (data == 0){
                    $('#add3').text('没有更多了...');
                }else{
                    for(var i=0; i< data.length;i++){
                        var  list = data[i];
                        console.log(list.id)
                        html+='<li style="margin-bottom:40px;">'+
                                '<div class="modal1"></div>'+
                                '<video  height="200px" width="100%" loop controls  class="video" >'+
                                '<source src="'+list.content+'">'+
                                '</video>'+
                                '<span class="cha">X</span>'+
                                '<div class="video_details">'+
                                '<span>'+list.title+'</span>'+
                                '<img src="/home/images/news/123.jpg" alt=""  class="start" onclick=window.location.href="/home/news/videodetail/id/'+list.id+'.html">'+
                                '<div class="video_neirong" >'+
                                '<img src="/home/images/notice/riqi.png" alt="" style="margin-right:4px;">'+
                                '<span>'+list.create_time+'</span>'+
                                '<img src="/home/images/news/guanzhu.png" alt="" style="margin-right:4px;">'+
                                        '<span class="num" >'+list.views+'</span>';
                        if({$visit} == 0){
                            html+='<span class="zan">'
                            if(list.is_like == 0){
                                html+='<img src="/home/images/notice/good.png" alt="" class="none" onclick="zan(this,'+list.id+')">'+
                                        '<img src="/home/images/notice/good_.png" alt=""   onclick="zan(this,'+list.id+')">'
                            }else {
                                html+='<img src="/home/images/notice/good.png" alt=""  onclick="zan(this,'+list.id+')">'+
                                        '<img src="/home/images/notice/good_.png" alt="" class="none"  onclick="zan(this,'+list.id+')">'
                            }
                            html+='<span style="margin-left:4px;color:#999;margin-bottom:2px;font-size:14px;" class="like">'+list.likes+'</span></span>'
                        }else{
                            html+='<span class="zan">' +
                                    '<img src="/home/images/notice/good.png" alt="">'+
                                    '<span style="margin-left:4px;color:#999;margin-bottom:2px;font-size:14px;" class="like">'+list.likes+'</span>'+
                                    '</span>'
                        }

                                html+='</div>'+
                                '</div>'+
                                '<img src="'+list.img+'" alt="" class="video_img" style="width:94%;margin:0 3%;height:200px;">'+
                                '</li>';
                        }


                    $('#tab3 ul').append(html);
                    $('.modal1,span.cha').click(function(){
                        $(this).parent().find('video').fadeOut();
                        $(this).parent().find('div.modal1').fadeOut();
                        $(this).parent().find('span.cha').fadeOut();
                        $('.navbar').fadeIn();
                        $(this).parent().siblings().fadeIn();
                    });
                }
            }
        })
    });

    //文章点赞
    var zan=function(e,id){
        $(e).parent().find('img').toggleClass('none');
        var a=Number($(e).parent().find('span').text());
        if($(e).parent().find('img:nth-child(1)').hasClass('none')){
            $(e).parent().find('span').text(a+1);
        }
        else{
            $(e).parent().find('span').text(a-1);
        }
        $.ajax({
            type: "post",
            url: "{:Url('Base/like')}",
            data: {
                class:2, //  新闻动态
                type:1,
                id:id
            },
            success:function(data){
                console.log(data)
            }
        })
    };

</script>
{/block}