{extend name="public/common"}
{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/book/index.css">
{/block}
{block name="body"}
<div class="search ">
    <div class="searchBox">
        <div class="searchText"><span class="searchText_c">搜索</span></div>
        <input type="text" class="searchInput">
    </div>
    <div class="unBtn">取消</div>
</div>


<!--搜索返回列表-->
<ul class="result_box hidden">

</ul>

<!--加载等待-->
<div class="onloading hidden">
    加载中...
</div>
<div class="main">
    <ul class="nav clear">
        <li>杭州体育集团</li>
    </ul>
    <ul class="lists">
        <li>
            <ul class="lists">
                <li class="all_group">
                    <a  href="/home/book/grouplist" class="list_header type2" data-pid="">
                        <span>游泳健身中心</span><span class="fr fa fa-angle-right"></span>
                    </a>
                </li>
                <li class="my_group">
                    <div class="list_header type2 mydp" data-pid="">
                        <span>管理层</span><span class="fr fa fa-angle-down"></span>
                    </div>
                    <div class="dps">
                        <a href="/home/book/userlist" class="dp title">中心主任</a>
                        <a href="/home/book/userlist" class="dp title">训练科长</a>
                    </div>
                </li>
                <li class="my_group">
                    <div class="list_header type2 mydp" data-pid="">
                        <span>教练组</span><span class="fr fa fa-angle-down"></span>
                    </div>
                    <div class="dps">
                        <a href="/home/book/userlist" class="dp title">主教练</a>
                        <a href="/home/book/userlist" class="dp title">助教</a>
                    </div>
                </li>
                <li class="my_group">
                    <div class="list_header type2 mydp" data-pid="">
                        <span>学员组</span><span class="fr fa fa-angle-down"></span>
                    </div>
                    <div class="dps">
                        <a href="/home/book/userlist" class="dp title">特招学员</a>
                        <a href="/home/book/userlist" class="dp title">长期学员</a>
                        <a href="/home/book/userlist" class="dp title">潜力学员</a>
                    </div>
                </li>

            </ul>
        </li>
    </ul>
</div>
{/block}
{block name="script"}
<script>
$('title').text('通讯名录');
    $(function(){
    	$('.mydp').on('click',function( ){
    		var this_ = $(this).find('.fr');
    		if(this_.hasClass('fa-angle-down')){
				$('.dps').show();
            }else{
				$('.dps').hide();
            }
			this_.toggleClass('fa-angle-down');
			this_.toggleClass('fa-angle-up');

		});
//
//        //  获取储存
//        function getStorage(){
//            var pid=sessionStorage.getItem("nav-pid");
//            console.log(pid);
//            if(pid){
//                pid=pid.split(",");
//                console.log(pid);
//                var lists=$(".main>.lists>li");
//                for(var i=0;i<pid.length-1;i++){
//                    console.log(pid[i]);
//                    var shouldOpen=lists.find("[data-pid="+pid[i]+"]").eq(0);
//                    console.log(shouldOpen);
//                    if(shouldOpen){
//                        shouldOpen.addClass("open").removeClass("close");
//                        shouldOpen.siblings(".lists").removeClass("hidden");
//                    }
//                }
//                sessionStorage.removeItem("nav-pid")
//            }else{
//            }
//        }
////获取储存
//        getStorage();
        //点击输入
        onInput();
        //取消输入
        $(".search .unBtn").on("click",function(){
            offInput();
            onInput();
            $(".searchInput").val('');
        });
        //折叠列表
        $('.main').on("click",".type1",function(){
            toggleLists($(this))
        });
        $(".main").on("click",".type2",function(){
            toggleLists($(this))
        });
        //搜索ajax
        $(".searchInput").on("keyup",function(){
            var val=$(this).val();
            if(!val)
            {
                $(".result_box").html('');
                return '';
            }
            $.ajax({
                type:"post",
                url:"{:Url('Book/search')}",
                data:{
                    val:val
                },
                beforeSend:function(XMLHttpRequest){
                    $(".onloading").removeClass("hidden");
                },
                success:function(data){
                    $(".onloading").addClass("hidden");
                    $(".result_box").removeClass("hidden");
                    $(".result_box").html('');
                    addToList(data)
                }
            });



//            添加到网页
            function addToList(data) {
                var lists = data.data;
                var html="";
                for(var i=0;i<lists.length;i++){
                    if (visit == 0){
                        html+= "<li><a href='/home/book/userinfo/id/"+lists[i].id+"/did/"+lists[i].did+"'>"
                    }else {
                        html+= "<li><a href=''>"
                    }
                    if (lists[i].header == ''){
                        html+="<img src='/home/images/book/pb.png' alt='头像'>";
                    }else{
                        html+="<img src='"+lists[i].header+"' alt='头像'>";
                    }
                    html+="<div>"+lists[i].name+" <span class='fr'></span></div></a></li>";
                }
                $(".result_box").append(html);
            }
        });

//        折叠
        function toggleLists(a){
            if(a.hasClass('open')){
                a.removeClass('open').addClass('close');
            }else if(a.hasClass('close')){
                a.removeClass('close').addClass('open')
            }else{

            }
            var nextLists=a.next('.lists');
            if(nextLists.length>0){
                nextLists.toggleClass('hidden')
            }else{
            }
        }
        //点击进入输入框函数
        function onInput() {
            $(".searchBox").off('click').on('click',function(){
                $(".search").addClass('isClick');
                $(this).off('click').find('.searchInput').focus();
                $('.main').addClass('hidden');
            })
        }
        //关闭输入框函数
        function offInput(){
            $(".search").removeClass("isClick");
            $('.main').removeClass('hidden');
            $(".result_box").addClass('hidden');
            $(".onloading").addClass('hidden');
        }


    })
</script>
{/block}