{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/book/userinfo.css">
{/block}
{block name="body"}
<div class="header clear">
    <img src="/home/images/book/pb.png" class="head_img fl" alt="头像">
    <!--<img src="header}" class="head_img fl" alt="头像">-->
    <ul class="head_info fl">
        <li>
            <span class="name">xiaobao</span>
                <span class="sex boy"></span>
                <!--<span class="sex girl"></span>-->
        </li>
        <li>
            <span>账号：wechat001</span>
        </li>
        <li>
            <!--<span>企业微信号：bllhahaha</span>-->
        </li>
    </ul>
</div>

<ul class="main">
    <li><span>手机</span><a href="tel:123">123</a></li>
    <li><span>部门</span><a >asdas</a></li>
    <li><span style="color: #333">职位</span>dfsd</li>
    <li><span style="color: #333">学历</span>dfsd</li>
    <li><span style="color: #333">身份证</span>331021315315615</li>
</ul>
{/block}
{block name="script"}
<script>
    $(function () {
        $(".main>li:last-child a").on('click',function () {
            window.history.back();
        })
    })

</script>
{/block}