{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/book/userinfo.css">
{/block}
{block name="body"}
<div class="header clear">
    <img src="{$info.header}" class="head_img fl" alt="头像">
    <ul class="head_info fl">
        <li>
            <span class="name">{$info.name}</span>
                {eq name="$info.gender" value="1"}
                <span class="sex boy"></span>
                {else/}
                <span class="sex girl"></span>
                {/eq}
        </li>
        <li>
            <span>账号：{$info.userid}</span>
        </li>
        <li>
            <!--<span>企业微信号：bllhahaha</span>-->
        </li>
    </ul>
</div>

<ul class="main">

    <li><span>部门</span><a >{$info.depart}</a></li>
    <li><span style="color: #333">职位</span>{$info.position}</li>
    <li><span style="color: #333">学历</span>{$info.education}</li>
    <li><span>手机</span><a href="tel:{$info.mobile}">{$info.mobile}</a></li>
</ul>
{/block}
{block name="script"}
<script>
//    $(function () {
//        $(".main>li:last-child a").on('click',function () {
//            window.history.back();
//        })
//    })

</script>
{/block}