{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/book/userlist.css">
{/block}
{block name="body"}
<div class="search ">
    <div class="searchBox">
        <div class="searchText"><span class="searchText_c">搜索</span></div>
        <input type="text" class="searchInput">
    </div>
    <div class="unBtn">取消</div>
</div>

<!--搜索返回列表-->
<ul class="result_box lists hidden">

</ul>

<!--加载等待-->
<div class="onloading hidden">
    加载中...
</div>
<div class="main">
    <ul class="nav clear">
        <li><a data-pid="">杭州市体育发展集团</a></li>
        <li><span>{$depart.dp1_name}</span></li>
        <li><span>{$depart.dp2_name}</span></li>
        <li>{$depart.dp3_name}</li>
    </ul>
    <ul class="lists">
        <li>
            {volist name="list" id="vo"}
            <a href="{:Url('Book/userinfo?id='.$vo['id'].'&did='.$did)}">
                <img src="{$vo.header}" alt="头像">
                <div>{$vo.name}<span class="fr"></span></div>
            </a>
            {/volist}
        </li>
    </ul>
</div>
{/block}
{block name="script"}
<script>
    $('title').text('通讯名录');
    $(function(){
        //跳转
        $(".nav>li:first-child a").on('click',function () {
            if(window.history.length<3){
                window.history.back();
            }else{
            window.history.go(-2);
            }
        })
        $(".nav>li:nth-child(2) a").on('click',function () {
            if(window.history.length<3){
                window.location.replace('/home/book/grouplist/did/1');
            }else{
                window.history.back();
            }
        })
//        创建导航的sessionStorage
        function addToSession(){
            var list=$(".nav>li>a");
            var pid=[];
            for(var i=0,len=list.length;i<len;i++){
                var val=list.eq(i).attr('data-pid');
                pid.push(val);
            }
            sessionStorage.setItem('nav-pid',pid);
        }
        addToSession();

        //点击进入输入框函数
        function onInput() {
            $(".searchBox").off('click').on('click',function(){
                $(".search").addClass('isClick');
                $(this).off('click').find('.searchInput').focus();
                $('.main').addClass('hidden');
            })
        }
        //关闭输入框函数
        function offInput(){
            $(".search").removeClass("isClick");
            $('.main').removeClass('hidden');
            $(".result_box").addClass('hidden');
            $(".onloading").addClass('hidden');
        }
        //点击输入
        onInput();
        //取消输入
        $(".search .unBtn").on('click',function(){
            offInput();
            onInput();
            $(".searchInput").val('');
        });
        //搜索ajax
        $(".searchInput").on("input",function(){
            var val=$(this).val();
            if(!val)
            {
                $(".result_box").html('');
                return '';
            }
            $.ajax({
                type:"post",
                url:"{:Url('Book/search')}",
                data:{
                    val:val
                },
                beforeSend:function(XMLHttpRequest){
                    $(".onloading").removeClass("hidden");
                },
                success:function(data){
                    $(".onloading").addClass("hidden");
                    $(".result_box").removeClass("hidden");
                    $(".result_box").html('');
                    addToList(data)
                }
            });



//            添加到网页
            function addToList(data) {
                var lists = data.data;
                var html="";
                for(var i=0;i<lists.length;i++){
                    if (visit == 0){
                        html+= "<li><a href='/home/book/userinfo/id/"+lists[i].id+"/did/"+lists[i].did+"'>"
                    }else {
                        html+= "<li><a href=''>"
                    }
                    if (lists[i].header == ''){
                        html+="<img src='/home/images/book/pb.png' alt='头像'>";
                    }else{
                        html+="<img src='"+lists[i].header+"' alt='头像'>";
                    }
                    html+="<div>"+lists[i].name+" <span class='fr'></span></div></a></li>";
                }
                $(".result_box").append(html);
            }
        });

    })
</script>
{/block}