{extend name="public/common"}

{block name="style"}
<title>学员频道</title>
<link rel="stylesheet" href="/home/css/coach/code.css">
{/block}

{block name="body"}


<div class="box">
	<div class="bg">
		<img src="/home/images/coach/code.png" alt="" class="code">
		<div id="qrcode">
			<img src="{$data.header}" alt="条形码" class="header">
		</div>
	</div>

</div>

{/block}

{block name="script"}
<script src="/static/code/qrcode.min.js"></script>
<script>
$(function(){

	var ww = $('body').width();
	var qrcode = new QRCode($('#qrcode')[0], {
		text: '{$data.mobile}',
		width: ww*5/10,
		height: ww*5/10,
		correctLevel: QRCode.CorrectLevel.H
	});
})
</script>
{/block}