{extend name="base/common"}

{block name="style"}
<link rel="stylesheet" href="/static/datepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/iCheck/custom.css">
<link rel="stylesheet" href="/admin/css/chosen/chosen.css">
<style>
    .table-condensed thead{
        opacity: 0!important;
        height: 0!important;
        visibility: hidden;
    }
</style>
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>学员管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:Url('News/index')}">学员列表</a>
            </li>
            <li class="active">
                <strong>{empty name="msg"}新增{else/}编辑{/empty}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{empty name="msg"}新增{else/}编辑{/empty}页面</h5>
                    <div class="ibox-tools">
                        <a href="javascript:window.history.go(-1);" class="btn btn-white btn-sm"><i class="fa fa-reply"></i> 返回</a>
                    </div>
                </div>
                <div class="ibox-content all">
                    <form id="form" class="form-horizontal" method="post"  enctype="multipart/form-data" >
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>名称:</label>
                            </div>
                            <div class="col-lg-2">
                                <input type="text" placeholder="请输入名称" class="form-control form_title" name="name" value="{$msg.name || default=''}" readonly>
                            </div>
                        </div>
                        {if condition="($msg.department == \app\admin\model\WechatDepartment::DEPARTMENT_ASSISTANT) OR ($msg.member_type != \app\admin\model\WechatUser::MEMBER_TYPE_COACH)"}
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>教练:</label>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" data-placeholder="--请选择教练--" name="coach_id" id="coach">
                                    {volist name="coach" id="vo"}
                                    <option value="{$vo.userid}" {eq name="$msg.coach_id" value="$vo.userid"}selected{/eq} data-id="{$vo.department}">{$vo.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        {/if}
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>职位信息:</label>
                            </div>
                            <div class="col-lg-2">
                                {if condition="($msg.member_type == \app\admin\model\WechatUser::MEMBER_TYPE_COACH)"}
                                <input type="text" placeholder="请输入职位信息" class="form-control form_title" name="position" value="{$msg.position || default=''}" readonly>
                                {else/}
                                {if condition="($msg.department == \app\admin\model\WechatDepartment::DEPARTMENT_HEAD_STUDENT)"}
                                <select class="form-control" data-placeholder="--请选择职位信息--" name="position">
                                    <option value="11" selected>主力学员</option>
                                </select>
                                {else/}
                                <select class="form-control" data-placeholder="--请选择职位信息--" name="position">
                                    <option value="12" {eq name="$msg.department" value="12"}selected{/eq}>长期学员</option>
                                    <option value="13" {eq name="$msg.department" value="13"}selected{/eq}>潜力学员</option>
                                </select>
                                {/if}
                                {/if}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>班级:</label>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" data-placeholder="--请选择班级--" name="class_id">
                                    {volist name="class" id="vo"}
                                    <option value="{$vo.id}" {eq name="$msg.class_id" value="$vo.id"}selected{/eq}>{$vo.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$msg.id || default=''}">
                        <div class="form-group">
                            <div class="col-lg-11 col-lg-offset-1">
                                <button class="btn btn-primary submit-btn post-put" type="button" target-form="form-horizontal" >提交</button>
                                <a class="btn btn-default" href="javascript:window.history.go(-1);">返回</a>
                            </div>
                        </div>
                        <div class="selblo"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/uploadify/jquery.uploadify.min.js"></script>
<script src="/static/iCheck/icheck.min.js"></script>
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>
<script src="/admin/js/chosen.jquery.js"></script>
<script>
    $(function(){
        //    单选按钮
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        highlight_subnav("{:Url('headcoach')}");

        $("#coach").off('change').on("change",function(){
            var id = $(this).find("option:selected").attr('data-id');
           if(id == 9) {
               var html = "<option value='"+11+"'"+" selected>主力学员</option>";
               $("select[name='position']").html('');
               $("select[name='position']").append(html);
           } else {
               var html = "<option value='"+12+"'"+" selected>长期学员</option>"+
                       "<option value='"+13+"'"+" >潜力学员</option>";
               $("select[name='position']").html('');
               $("select[name='position']").append(html);
           }
        });

        //发布
        $(".post-put").off('click').on("click",function(){
            var it=$(this);
            var data = {
                id:$("input[name='id']").val(),
                class_id:$("select[name='class_id']").val(),
            };
            var coach_id = $("select[name='coach_id']").val();
            if(coach_id){
                data['coach_id'] = coach_id;
                data['now_coach'] = $("select[name='coach_id']").find("option:selected").text();
            }
            var position = $("input[name='position']").val();
            if(position){
                data['position'] = position;
            }else{
                data['department'] = $("select[name='position']").val();
                data['position'] = $("select[name='position']").find("option:selected").text();
            }
            $.ajax({
                type:"post",
                url:$("#form").attr("action"),
                data:data,
                success:function(data){
                    if(data.code == 1){
                        if (data.url) {
                            updateAlert(data.msg + ' 页面即将自动跳转~','success');
                        }else{
                            updateAlert(data.msg ,'success');
                        }
                        it.prop('disabled','true');
                        it.prev().prop('disabled','true');
                        setTimeout(function(){
                            window.history.go(-1);
                            it.removeAttr('disabled');
                            it.prev().removeAttr('disabled')
                        },2000);
                    } else {
                        updateAlert(data.msg, 'error');
                        it.attr('disabled','true');
                        it.prev().prop('disabled','true');
                        setTimeout(function(){
                            it.removeAttr('disabled');
                            it.prev().removeAttr('disabled')
                        },2000);
                    }
                }
            });
            return false;
        });
    })

</script>
<!--时间日历-->
<script src="/static/datepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">

    $(function(){
        //    时间日历
        $( ".datetimepicker" ).datetimepicker( {
            language:  'cn',
            format: 'hh:ii',
            forceParse: false,
            autoclose: true,
            minuteStep: 5,
            startView: 1

        });
        //    单选按钮
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

    })

</script>
{/block}