@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
.shadow {
  box-shadow: 1px 3px 8px rgba(102, 102, 102, 0.2);
}
body {
  background: #f7f7f7;
}
a {
  display: inline-block;
}
a:active {
  background-color: #ebebeb;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d9d9d9;
}
.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4.6rem;
  background: #f7f7f7;
  box-shadow: 0 -3px 4px rgba(110, 110, 110, 0.2);
  padding: 0 5vw;
}
.tabs .tab {
  display: inline-block;
  width: 44vw;
  height: 100%;
  color: #feba57;
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: center;
}
.tabs .tab:nth-child(1) {
  background: url('/home/images/coach/tab1.png') center 0.6rem no-repeat;
}
.tabs .tab:nth-child(2) {
  background: url('/home/images/coach/tab3.png') center 0.6rem no-repeat;
}
.tabs .tab:nth-child(1).active {
  background: url('/home/images/coach/tab1_.png') center 0.3rem no-repeat;
}
.tabs .tab:nth-child(2).active {
  background: url('/home/images/coach/tab3_.png') center 0.3rem no-repeat;
}
.tabs .tab:nth-child(1),
.tabs .tab:nth-child(2),
.tabs .tab:nth-child(3),
.tabs .tab:nth-child(1).active,
.tabs .tab:nth-child(2).active,
.tabs .tab:nth-child(3).active {
  background-size: 2.6rem 2.6rem;
  padding-top: 2.5rem;
}
.tabs .tab:nth-child(1).active,
.tabs .tab:nth-child(2).active,
.tabs .tab:nth-child(3).active {
  background-size: 2.5rem 2.5rem;
  padding-top: 2.5rem;
}
.tabs .active {
  color: #f99402;
}
.boxs {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 64vw;
}
.boxs .box {
  position: absolute;
  top: 0;
  width: 99vw;
}
.boxs .box .banner {
  position: relative;
  width: 100vw;
  height: 50vw;
}
.boxs .box .banner .banner-img {
  width: 100vw;
  height: 50vw;
}
.boxs .box .banner .user {
  position: absolute;
  top: 17vw;
  left: 42vw;
  width: 16vw;
  height: 16vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.boxs .box .banner .up {
  display: inline-block;
  overflow: hidden;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.31);
  background: url("/home/images/common/default.png") center no-repeat;
  background-size: 16rem 16rem;
}
.boxs .box:nth-child(1) {
  left: 0;
}
.boxs .box:nth-child(1) .content {
  position: relative;
  width: 100vw;
}
.boxs .box:nth-child(1) .content .tags {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 10vh;
}
.boxs .box:nth-child(1) .content .tags .tag {
  width: 8vw;
  height: 24vw;
  margin-left: 2vw;
  background: rgba(249, 147, 0, 0.5);
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  writing-mode: tb-rl;
  letter-spacing: 1vw;
  line-height: 8vw;
}
.boxs .box:nth-child(1) .content .tags .tag:nth-child(1) {
  -webkit-border-radius: 1vw 0 0 0 ;
  -moz-border-radius: 1vw 0 0 0 ;
  border-radius: 1vw 0 0 0 ;
}
.boxs .box:nth-child(1) .content .tags .tag:nth-child(2) {
  -webkit-border-radius: 0 0 0 1vw ;
  -moz-border-radius: 0 0 0 1vw;
  border-radius: 0 0 0 1vw;
}
.boxs .box:nth-child(1) .content .tags .tag.active {
  margin-left: 0;
  width: 10vw;
  height: 27vw;
  line-height: 10vw;
  -webkit-border-radius: 1.5vw 0 0 1.5vw ;
  -moz-border-radius: 1.5vw 0 0 1.5vw;
  border-radius: 1.5vw 0 0 1.5vw;
}
.boxs .box:nth-child(1) .content .tags .tag:nth-child(1).active {
  background: -moz-linear-gradient(top, #feba57, #f99300);
  background: -webkit-gradient(linear, left top, left bottom, #feba57, #f99300);
  background: -webkit-linear-gradient(top, #feba57, #f99300);
  background: -o-linear-gradient(top, #feba57, #f99300);
  background: -ms-linear-gradient(top, #feba57, #f99300);
  background: linear-gradient(to bottom, #feba57, #f99300);
  box-shadow: -1px 4px 5px rgba(249, 147, 0, 0.4);
}
.boxs .box:nth-child(1) .content .tags .tag:nth-child(2).active {
  margin-left: 0;
  background: -moz-linear-gradient(top, #f99300, #feba57);
  background: -webkit-gradient(linear, left top, left bottom, #f99300, #feba57);
  background: -webkit-linear-gradient(top, #f99300, #feba57);
  background: -o-linear-gradient(top, #f99300, #feba57);
  background: -ms-linear-gradient(top, #f99300, #feba57);
  background: linear-gradient(to bottom, #f99300, #feba57);
  box-shadow: -1px -4px 5px rgba(249, 147, 0, 0.4);
}
.boxs .box:nth-child(1) .content .lists .list {
  display: block;
  padding: 4vw;
  background: #ffffff;
  width: 100vw;
  height: 29vw;
  margin-bottom: 2vw;
}
.boxs .box:nth-child(1) .content .lists .list .ll {
  position: relative;
  top: 0;
  display: inline-block;
  width: 21vw;
  height: 21vw;
}
.boxs .box:nth-child(1) .content .lists .list .ll .user {
  width: 21vw;
  height: 21vw;
  -webkit-border-radius: 1.2vw;
  -moz-border-radius: 1.2vw;
  border-radius: 1.2vw;
}
.boxs .box:nth-child(1) .content .lists .list .ll .sex {
  position: absolute;
  width: 6vw;
  height: 6vw;
  right: 0;
  bottom: 0;
}
.boxs .box:nth-child(1) .content .lists .list .lr {
  display: inline-block;
  width: 66vw;
  height: 21vw;
  color: #999999;
  font-size: 1.3rem;
  line-height: 8vw;
}
.boxs .box:nth-child(1) .content .lists .list .lr .top span {
  display: inline-block;
}
.boxs .box:nth-child(1) .content .lists .list .lr .top .name {
  max-width: 40vw;
  color: #333333;
  font-size: 1.4rem;
  line-height: 10vw;
  font-weight: 600;
  margin-right: 2vw;
}
.boxs .box:nth-child(1) .content .lists .list .lr .top .age {
  width: 10vw;
  line-height: 10vw;
}
.boxs .box:nth-child(2) {
  left: 100vw;
}
.boxs .box:nth-child(2) .mylist .list {
  display: block;
  padding: 0 4vw;
  width: 100vw;
  height: 4.4rem;
  color: #666666;
  font-size: 1.4rem;
  line-height: 4.4rem;
  border-bottom: 1px solid #dedede;
}
.boxs .box:nth-child(2) .mylist .list span {
  display: inline-block;
  width: 45vw;
}
.boxs .box:nth-child(2) .mylist .list span.name {
  position: relative;
  padding-left: 4rem;
}
.boxs .box:nth-child(2) .mylist .list span.fa {
  color: #999999;
  font-size: 1.8rem;
  text-align: right;
}
.boxs .box:nth-child(2) .mylist .list:nth-child(1) .name:after,
.boxs .box:nth-child(2) .mylist .list:nth-child(2) .name:after,
.boxs .box:nth-child(2) .mylist .list:nth-child(3) .name:after {
  position: absolute;
  left: 0;
  top: 0.7rem;
  content: '';
  width: 3rem;
  height: 3rem;
}
.boxs .box:nth-child(2) .mylist .list:nth-child(1) .name:after {
  background: url('/home/images/coach/user1.png') 0 0 no-repeat;
  background-size: 3rem,3rem;
}
.boxs .box:nth-child(2) .mylist .list:nth-child(2) .name:after {
  background: url('/home/images/coach/user2.png') 0 0 no-repeat;
  background-size: 3rem,3rem;
}
.boxs .box:nth-child(2) .mylist .list:nth-child(3) .name:after {
  background: url('/home/images/coach/user4.png') 0 0 no-repeat;
  background-size: 3rem,3rem;
}
