{extend name="public/common"}

{block name="style"}
<title>杭州游泳健身中心</title>
<link rel="stylesheet" href="/home/css/index/index.css">
{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/common/banner.jpg" alt="banner">
</div>
<div class="logos clear">
	{if condition="($tag_id) AND ($tag_id != 5)"}
	<a href="{:Url('Book/index')}" class="logo">
		<img src="/home/images/index/zzjg.png" alt="通讯名录">
		<span>通讯名录</span>
	</a>
	{/if}
	<a href="{:Url('News/index')}" class="logo">
		<img src="/home/images/index/xxfb.png" alt="新闻发布">
		<span>新闻发布</span>
	</a>
	<a href="{:Url('Notice/index')}" class="logo">
		<img src="/home/images/index/tzgg.png" alt="通知公告">
		<span>通知公告</span>
	</a>
	{if condition="($tag_id == 1) OR ($tag_id == 2)"}
	<a href="{:Url('Structure/index')}" class="logo">
		<img src="/home/images/index/jlxx.png" alt="教练信息">
		<span>教练信息</span>
	</a>
	{/if}
	{if condition="($tag_id == 2) OR ($tag_id == 3)"}
	<a href="{:Url('Coach/index')}" class="logo">
		<img src="/home/images/index/jlpd.png" alt="教练频道">
		<span>教练频道</span>
	</a>
	{/if}
	{eq name="tag_id" value="4"}
	<a href="{:Url('Student/index')}" class="logo">
		<img src="/home/images/index/xypd.png" alt="学员频道">
		<span>学员频道</span>
	</a>
	{/eq}
	{if condition="($tag_id == 1) OR ($tag_id == 2) OR ($tag_id == 3)"}
	<a href="{:Url('Statistics/index')}" class="logo">
		<img src="/home/images/index/qdgk.png" alt="签到概况">
		<span>签到概况</span>
	</a>
	{/if}
	{eq name="tag_id" value="1"}
	<a href="{:Url('User/index')}" class="logo">
		<img src="/home/images/index/grzx.png" alt="个人中心">
		<span>个人中心</span>
	</a>
	{/eq}
</div>
<div class="notice">
	<div class="tag clear">
		<span class="fl"><i class="fa fa-bell-o"></i>通知公告</span>
		<a href="{:Url('Notice/index')}" class="fr">
			查看更多
			<i class="fa fa-angle-right fa-x"></i>
			<i class="fa fa-angle-right fa-x"></i>
		</a>
	</div>
	<div class="lists">
		{volist name='newsList' id='vo'}
		<a href="{:Url('Notice/detail?id='.$vo['id'])}" class="list clear">
			<img src="{$vo.front_cover|get_cover='path'}" alt="" class="fl">
			<div class="fr">
				<div class="title limit_">{$vo.title}</div>
				<div class="note">
					<span class="time">{$vo.create_time|time_format='Y-m-d'}</span>
					<span class="fa fa-angle-right"></span>
				</div>
			</div>
		</a>
		{/volist}
	</div>
</div>
{/block}

{block name="script"}
<script>
	$(function(){
        fobidden_back();
		var len = $('.notice .list').length;
		if(len == 0){
			$('.notice .lists').append('<img src="/home/images/common/no2.png" alt="暂无消息" class="nomessage">')
		}
		var llen = $('.logos .logo').length;
		if(llen ==4){
			$('.logos,.logo,.logo img').addClass('student');
		}
	})
</script>
{/block}