{extend name="public/common"}

{block name="style"}
<title>签到频道</title>
<link rel="stylesheet" href="/home/css/visitor/lists.css">
{/block}

{block name="body"}
<div class="lists">
	{volist name="res" id="vo"}
	<div class="list" data-tab="{$key}">
		<div class="coach">
			<span class="name limit">教练：{$vo.name}</span>
			<span class="num limit">学员情况：<span>{$vo.current_num}</span>/{$vo.all_num}</span>
		</div>
		<div class="content">
			<div class="students">
				{volist name="vo.studentList" id="voo"}
				<div class="student">
					<span class="name limit">{$voo.name}</span>
					<span class="time limit">{$voo.create_time}</span>
					<span class="st limit">
						{eq name="voo.status" value="1"}正常{else/}迟到{/eq}
					</span>
				</div>
				{/volist}
			</div>
			{if condition="(count($vo.studentList) == 3)"}
			<div class="more limit"><span>更多...</span></div>
			{/if}
		</div>
	</div>
	{/volist}
</div>
<input type="text" autofocus class="number" maxlength="11">
<!--<div class="sign">签到</div>-->
<div class="bg"></div>
<ul class="roster"></ul>
{/block}

{block name="script"}
<script>
$(function(){
	var wh = $(window).height();
	$('body').height(wh);
	//签到
	var last = '';
	$('.number').on('input',function(){
		var this_ = $(this);
		var num = this_.val();
		setTimeout(function(){
			last = ''
		},5000);
		if(num.length == 11 ){
			if(last!=num){
				//this_.blur();
				last = num;
				$.ajax({
					type:"post",
					url:"{:Url('Visitor/sign')}",
					data:{
						mobile: num
					},
					dataType: "Json",
					success:function(data){
						var obj = data.data;
						var html = '';
						if(obj.name){
							speckText(obj.name+data.msg);
						}else{
							speckText(data.msg);
						}
						if(obj.type == 1){
							html +=
								'<div class="list" data-tab='+obj.coach_id+'>'+
								'<div class="coach">'+
								'<span class="name limit">教练：'+obj.name+'</span>'+
								'<span class="num limit">学员情况：<span>0</span>/'+obj.num+'</span>'+
								'</div>'+
								'<div class="content">'+
								'<div class="students">'+
								'</div>'+
								'</div>'+
								'</div>';
							$('.lists').prepend(html);
						}else{
							console.log(obj);
							html +=
								'<div class="student">'+
								'<span class="name limit">'+obj.name+'</span>'+
								'<span class="time limit">'+obj.time+'</span>'+
								'<span class="st limit">'+ obj.status_txt +'</span>'+
								'</div>';
							var list = $('.list[data-tab='+obj.coach_id+']');
							list.find('.students').prepend(html);
							list.find('.num span').text(obj.num);
							var len = list.find('.student').length;
							if(len == 3){
								list.find('.content').append('<div class="more limit"><span>更多...</span></div>')
							}else if(len == 4){
								list.find('.student').eq(3).remove();
							}
							var listclone = list.clone();
							list.remove();
							$('.lists').prepend(listclone);

						}
						if(data.code == 1){
							swal({
								title: '成功',
								text: obj.name+data.msg,
								type: 'success',
								showConfirmButton:false,
								timer:3000
							}).then(
								function () {},
								function (dismiss) {
									if (dismiss === 'timer') {
										this_.val('');
									}
								}
							);
						}else{
							swal({
								title: '失败',
								text: data.msg,
								type: 'error',
								showConfirmButton:false,
								//							confirmButtonText:'确定',
								timer:3000
							}).then(
								function () {},
								function (dismiss) {
									if (dismiss === 'timer') {
										this_.val('');
									}
								}
							);
						}
					}
				})
			}else{
				this_.val('');
			}
		}

	});
	//点击更多的名单
	$(".lists").delegate(".more", "click", function () {
		var this_ = $(this);
		var id = $(this).parents('.list').attr('data-tab');
		$.ajax({
			type:"post",
			url:"{:Url('Visitor/listMore')}",
			data:{
				id: id
			},
			dataType: "Json",
			success:function(data){
				var lists = $.parseJSON(data.data);
				var len = lists.length;
				var html = '';
				for(var i = 0 ;i<len;i++){
					var list = lists[i];
					var status = list.status==1?"<i class='fa fa-check-circle'></i>正常":"<i class='fa fa-exclamation-circle'></i>迟到";

					html+=
						'<li>'+
						'<span class="name limit">'+list.name+'</span>'+
						'<span class="time limit">'+list.create_time+'</span>'+
						'<span class="st limit">'+status+'</span>'+
						'</li>'
				}
				$('.roster').html(html);
				$('.bg,.roster').fadeIn();
			}
		})
	});
	//初始化签到
	$('.sign').on('click',function(){
		history.go(0)
	});
	$('.bg').off('click').on('click',function(){
		$('.bg,.roster').fadeOut();
	});
	$('.more').each(function(){
		var hh = $(this).parents('.content').height();
		$(this).height(hh).css('padding-top',hh - 18);
	})
});
function speckText(str){
	//var request=  new URLRequest();
	var url = "http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&text=" + encodeURI(str);        // baidu
	//url = "http://translate.google.cn/translate_tts?ie=UTF-8&tl=zh-CN&total=1&idx=0&textlen=19&prev=input&q=" + encodeURI(str); // google

	//request.url = encodeURI(url);
	// request.contentType = "audio/mp3"; // for baidu
	//request.contentType = "audio/mpeg"; // for google

	var n = new Audio(url);

	n.src = url;

	n.play();

	// $("...").play();
	// var sound = new Sound(request);
	// sound.play();
}
</script>
{/block}