@import (reference) "../common/common";
//animate

//layout
.box{
	//position: relative;
	//top:0;
	//left:0;
	.wh(100vw,100vh);
	background: #e7e7e7;
	.tab{
		display: block;
		.wh(30vw,10vw);
		background: lightskyblue;
		text-align: center;
		.font(#ffffff,1.8rem,10vw);
		margin-bottom: 2vw;
	}
}