.box {
  position: relative;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #76dae1;
  overflow: hidden;
}
.box:before,
.box:after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #fff;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.box:before {
  bottom: 15vh;
  border-radius: 45%;
  animation-duration: 15s;
}
.box:after {
  bottom: 12vh;
  opacity: 0.5;
  border-radius: 47%;
  animation-duration: 10s;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, 2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
.sign {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 48vw;
  width: 16vw;
  height: 16vw;
  background: rgba(242, 188, 121, 0.71);
  line-height: 16vw;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #f9f9f9;
  font-size: 1.6rem;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  transform: translate(-50%, 0) rotateZ(0deg);
}
@keyframes wave {
  0% {
    bottom: 6vw;
    left: 48vw;
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  25% {
    bottom: 8vw;
    left: 42vw;
    transform: translate(-50%, 2%) rotateZ(20deg);
  }
  50% {
    bottom: 10vw;
    left: 48vw;
    transform: translate(-50%, 0%) rotateZ(0deg);
  }
  75% {
    bottom: 12vw;
    left: 56vw;
    transform: translate(-50%, -2%) rotateZ(-20deg);
  }
  100% {
    bottom: 6vw;
    left: 48vw;
    transform: translate(-50%, 0) rotateZ(0deg);
  }
}
.banners {
  width: 100vw;
  height: 50vw;
}
.banners img {
  width: 100vw;
  height: 50vw;
}
.content {
  position: absolute;
  top: 50vw;
  left: 15vw;
  width: 70vw;
  z-index: 10;
}
.content .tab {
  display: block;
  margin: 4vh auto;
  padding: 0 4vw;
  width: 100%;
  height: 18vh;
  color: #666666;
  font-size: 2rem;
  line-height: 20vh;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  border-radius: 2vw;
  box-shadow: 1px 3px 8px rgba(153, 153, 153, 0.4);
}
.content .tab img {
  width: 10vh;
  height: 10vh;
  margin-top: 4vh;
  margin-right: 5vh;
}
.content .tab img.news {
  width: 7vh;
  height: 7vh;
  margin-top: 5.5vh;
  margin-left: 1.5vh;
  margin-right: 6.5vh;
}
