@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
.shadow {
  box-shadow: 1px 3px 8px rgba(102, 102, 102, 0.2);
}
body {
  background: #f7f7f7;
}
a {
  display: inline-block;
}
a:active {
  background-color: #ebebeb;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d9d9d9;
}
.banners {
  width: 100vw;
  height: 50vw;
}
.banner {
  position: relative;
  width: 100vw;
  height: 50vw;
}
.banner img {
  width: 100vw;
  height: 50vw;
}
.banner .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 10vw;
  padding: 0 4vw;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 10vw;
  background: rgba(0, 0, 0, 0.4);
}
.tabs {
  width: 100vw;
  height: 3.6rem;
  background: #4cd6d2;
}
.tabs .tab {
  display: inline-block;
  width: 49vw;
  height: 100%;
  color: #333333;
  font-size: 1.5rem;
  line-height: 3.6rem;
  text-align: center;
  font-weight: normal;
}
.tabs .active {
  color: #ffffff;
  font-weight: 700;
}
.nice {
  text-align: center;
  color: #666666;
  line-height: 10vw;
}
.boxs {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 64vw;
}
.boxs .box {
  position: absolute;
  top: 0;
  width: 99vw;
}
.boxs .box:nth-child(1) {
  left: 0;
}
.boxs .box:nth-child(1) .lists {
  padding: 0 4vw;
}
.boxs .box:nth-child(1) .list {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 43vw;
  height: 60vw;
  color: #999999;
  font-size: 1.2rem;
  margin-bottom: 3vw;
  background: #ffffff;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  border-radius: 2vw;
}
.boxs .box:nth-child(1) .list:nth-child(even) {
  float: right;
}
.boxs .box:nth-child(1) .list img {
  display: block;
  width: 100%;
  height: 56%;
}
.boxs .box:nth-child(1) .list .title {
  font-size: 1.3rem;
  color: #666666;
  line-height: 7vw;
}
.boxs .box:nth-child(1) .list div {
  width: 100%;
  padding: 0 2vw;
  line-height: 1.8rem;
}
.boxs .box:nth-child(1) .list .time {
  background: url('/home/images/common/time.png') 2vw 0.25rem no-repeat;
  background-size: 1.2rem 1.2rem;
  padding-left: 7vw;
}
.boxs .box:nth-child(1) .list .scan {
  background: url('/home/images/common/scan.png') 2vw 0.55rem no-repeat;
  background-size: 1.2rem 0.73rem;
  padding-left: 7vw;
}
.boxs .box:nth-child(1) .list .num {
  background: url('/home/images/common/num.png') 2vw 0.3rem no-repeat;
  background-size: 1.2rem 1.2rem;
  padding-left: 7vw;
}
.boxs .box:nth-child(1) .list > span {
  display: inline-block;
  position: absolute;
  right: 2vw;
  bottom: 2vw;
  text-align: center;
  width: 12vw;
  height: 6vw;
  line-height: 6vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  border-radius: 1vw;
}
.boxs .box:nth-child(1) .list > span.stop {
  background: #d0d0d0;
}
.boxs .box:nth-child(1) .list > span.enter {
  color: #ffffff;
  background: #63b7d9;
}
.boxs .box:nth-child(2) {
  left: 100vw;
}
.boxs .lists{
  background-color: #fff;
}
.boxs .box:nth-child(2) .list {
  width: 100vw;
  height: 24vw;
  padding: 4.5vw 4vw;
  border-bottom: 1px solid #e5e5e5;
}
.boxs .box:nth-child(2) .list img {
  display: inline-block;
  width: 24vw;
  height: 15vw;
  margin-right: 3vw;
}
.boxs .box:nth-child(2) .list .lr {
  display: inline-block;
  width: 60vw;
  height: 10vw;
}
.boxs .box:nth-child(2) .list .lr .title {
  color: #333333;
  font-size: 1.3rem;
  line-height: 8vw;
}
.boxs .box:nth-child(2) .list .lr .note {
  margin-top: 3vw;
  color: #666666;
  font-size: 1.2rem;
  line-height: 0.7rem;
}
.boxs .box:nth-child(2) .list .lr .note .scan {
  background: url('/home/images/common/scan.png') 2vw 0 no-repeat;
  background-size: 1.2rem 0.7rem;
  padding-left: 7vw;
}
.boxs .box:nth-child(2) .list .lr .note .comment {
  background: url('/home/images/common/comment.png') 2vw 0 no-repeat;
  background-size: 1.2rem 0.7rem;
  padding-left: 7vw;
}
.nomessage {
  display: block;
  width: 50vw;
  margin: 15vh auto;
  opacity: 0.8;
}
