{extend name="public/common"}

{block name="style"}
<title>个人中心</title>
<link rel="stylesheet" href="/home/css/user/index.css">
{/block}

{block name="body"}
<div class="banner">
	<!--头像照片-->
	{empty name="$user.header"}
	<div data-tab="{$user.avatar}"  class="user up"></div>
	{else/}
	<div data-tab="{$user.header|get_cover='path'}"  class="user up"></div>
	{/empty}
	<input type="file" class="hide" id="upload" accept="image/jpg, image/png, image/gif, image/jpeg">
	<input type="hidden" name="header"  value="" required="">
</div>
<div class="lists">
	<a href="{:Url('User/personal')}" class="list clear">
		<span>个人信息</span>
		<i class="fa fa-angle-right fr"></i>
	</a>
</div>
{/block}

{block name="script"}
<script>
$(function(){
	//头像大小自适应
	imgfit();
	//修改头像
	//触发上传按钮
	$('.up').off("click").on('click',function(){
		//栈溢出
		$('#upload')[0].click()
	});
	//上传图片并获取信息
	$('#upload').off("change").on('change',function(){
		var up = $('.up' );
		var ww = up.width();
		var size = ($(this)[0].files[0].size / 1024).toFixed(2);
		if(size <= 2048){
			var img = $(this)[0].files[0];
			var formData = new FormData();
			formData.append("picture",img);
			$.ajax({
				type:"post",
				url:"{:Url('File/uploadPicture')}",
				data:formData,
				processData : false,
				contentType : false,
				success:function(data){
					var msg = $.parseJSON(data);
					if(msg.code == 1){
						var image = new Image();
						image.src = msg.data.path ;
						up.css({"background-image":'url('+msg.data.path+')'});
						image.onload = function(){
							if(image.width > image.height){
								up.css({"background-size":'auto '+ww +'px'});
							}else{
								up.css({"background-size":ww +'px'+' auto '});
							}
						};
						$.ajax({
							type:"post",
							url:"{:Url('User/index')}",
							data:{header:msg.data.id},
							dataType: "Json",
							success:function(){
							}
						})
					} else {
						warning({msg:'上传失败'});
						return;
					}
				}
			});
		} else {
			warning({msg:"您选择的图片超过2mb，请重新选择"});
			return;
		}
	});
});
function imgfit(){
	var up = $('.up' );
	var path = up.attr('data-tab');
	var image = new Image();
	var ww = up.width();
	image.src = path ;
	up.css({"background-image":'url('+path+')'});
	image.onload = function(){
		if(image.width > image.height){
			up.css({"background-size":'auto '+ww +'px'});
		}else{
			up.css({"background-size":ww +'px'+' auto '});
		}
	};
}
</script>
{/block}