{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/user/personal.css">
{/block}

{block name="body"}
<div class="lists">
	<div class="list clear">
		<span class="fl">头像</span>
		<img src="" alt="个人头像" class="fr">
	</div>
	<div class="list clear">
		<span class="fl">姓名</span>
		<span class="fr">xiaoxiao</span>
	</div>
	<div class="list clear">
		<span class="fl">性别</span>
		<span class="fr">男</span>
	</div>
	<div class="list clear">
		<span class="fl">手机号</span>
		<a class="fr" href="tel:10086">10086</a>
	</div>
</div>
<div class="lists">
	<div class="list clear">
		<span class="fl">学历</span>
		<span class="fr">本科</span>
	</div>
	<div class="list clear">
		<span class="fl">部门</span>
		<span class="fr">教练</span>
	</div>
	<div class="list clear">
		<span class="fl">职位</span>
		<span class="fr">主教练</span>
	</div>
</div>
{/block}

{block name="script"}
{/block}