{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/user/personal.css">
{/block}

{block name="body"}
<div class="lists">
	<div class="list clear">
		<span class="fl">头像</span>
		{empty name="$res.header"}
		<img src="<?php echo param_to($res['avatar'], \think\Config::get('de_header')); ?>" alt="个人头像" class="fr user">
		{else/}
		<img src="{$res.header|get_cover='path'}" alt="个人头像" class="fr user">
		{/empty}
	</div>
	<div class="list clear">
		<span class="fl">姓名</span>
		<span class="fr">{$res.name}</span>
	</div>
	<div class="list clear">
		<span class="fl">性别</span>
		<span class="fr">{$res.gender_text}</span>
	</div>
	<div class="list clear">
		<span class="fl">手机号</span>
		<a class="fr" href="tel:{$res.mobile}">{$res.mobile}</a>
	</div>
</div>
<div class="lists">
	<div class="list clear">
		<span class="fl">学历</span>
		<span class="fr">{$res.education}</span>
	</div>
	<div class="list clear">
		<span class="fl">部门</span>
		<span class="fr">{$res->departmentName->name;}</span>
	</div>
	<div class="list clear">
		<span class="fl">职位</span>
		<span class="fr">{$res.position}</span>
	</div>
</div>
{/block}

{block name="script"}
{/block}