{extend name="public/common"}

{block name="style"}
<title>学员信息</title>
<link rel="stylesheet" href="/home/css/user/personal.css">
{/block}

{block name="body"}
<div class="lists">
	<div class="list clear">
		<span class="fl">头像</span>
		{empty name="$res.header"}
		<div data-tab="<?php echo param_to($res['avatar'], \think\Config::get('de_header')); ?>"  class="user up fr"></div>
		<input type="file" class="hide upload" accept="image/jpg, image/png, image/gif, image/jpeg">
		<input type="hidden" name="header"  value="" required="" data-tab="">
		{else/}
		<div data-tab="{$res.header|get_cover='path'}"  class="user up fr"></div>
		<input type="file" class="hide upload" accept="image/jpg, image/png, image/gif, image/jpeg">
		<input type="hidden" name="header"  value="" required="" data-tab="{$res.header}">
		{/empty}
	</div>
	<div class="list clear">
		<span class="fl">姓名</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.name}" class="fr" name="name">
	</div>
	<div class="list clear">
		<span class="fl">出生年月</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value='{empty name="$res.birthday"}{$res.birthday_year}-{$res.birthday_month}{else/}{$res.birthday}{/empty}' class="fr" name="birthday">
	</div>
	<div class="list clear">
		<span class="fl">性别</span>
		<div class="fr clear sex">
			<span class="{eq name='$res.gender' value='1'}active{/eq} fl">男</span>
			<span class="{eq name='$res.gender' value='2'}active{/eq} fr">女</span>
		</div>
	</div>
	<div class="list clear">
		<span class="fl">监护人姓名</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.guardian}" class="fr" name="guardian">
	</div>
	<div class="list clear">
		<span class="fl">手机号</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.mobile}" class="fr" name="mobile">
	</div>
</div>
<div class="lists">
	<!--<div class="list clear">
		<span class="fl">招生日期</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.enrollday}" class="fr" name="enrollday">
	</div>-->
	<div class="list clear">
		<span class="fl">身高（cm）</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.height}" class="fr" name="height">
	</div>
	<div class="list clear">
		<span class="fl">体重（kg）</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.weight}" class="fr" name="weight">
	</div>
	<!--<div class="list clear">
		<span class="fl">星级情况</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.star_level}" class="fr" name="star_level">
	</div>-->
	<div class="list clear">
		<span class="fl">原教练</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.ever_coach}" class="fr" name="ever_coach">
	</div>
	<!--<div class="list clear">
		<span class="fl">现教练</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.now_coach}" class="fr" name="now_coach">
	</div>-->
</div>
<div class="lists">
	<div class="list clear">
		<span class="fl">家庭地址</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.address}" class="fr" name="address">
	</div>
	<div class="list clear">
		<span class="fl">学历</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.education}" class="fr" name="education">
	</div>
	<div class="list clear">
		<span class="fl">现就读学校</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.school}" class="fr" name="school">
	</div>
	<div class="list clear">
		<span class="fl">学籍号</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.student_code}" class="fr" name="student_code">
	</div>
	<div class="list clear">
		<span class="fl">文化成绩</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.achievement}" class="fr" name="achievement">
	</div>
</div>

<div class="save">保&emsp;存</div>

{/block}

{block name="script"}
<script>
$(function(){
	//头像大小自适应
	imgfit();
	//保存
	$('.save').on('click',function(){
		swal({
			title: "提示",
			text: "确认提交您的信息？",
			showCancelButton: true,
			confirmButtonColor: "#f99300",
			confirmButtonText: "确定",
			cancelButtonText: "取消"
		}).then(function(isConfirm){
			if (isConfirm) {
				var data={
					header:$("input[name='header']").attr('data-tab'),
					name:$("input[name='name']").val(),
					birthday:$("input[name='birthday']").val(),
					gender:$(".sex span.active").index()+1,
					guardian:$("input[name='guardian']").val(),
					mobile:$("input[name='mobile']").val(),
					enrollday:$("input[name='enrollday']").val(),
					height:$("input[name='height']").val(),
					weight:$("input[name='weight']").val(),
					star_level:$("input[name='star_level']").val(),
					ever_coach:$("input[name='ever_coach']").val(),
					now_coach:$("input[name='now_coach']").val(),
					address:$("input[name='address']").val(),
					education:$("input[name='education']").val(),
					school:$("input[name='school']").val(),
					student_code:$("input[name='student_code']").val(),
					achievement:$("input[name='achievement']").val(),
					id:{$res.id}
				};
				$.ajax({
					type:"post",
					url:"{:Url('User/studentedit')}",
					data:data,
					dataType: "Json",
					success:function(data){
						if(data.code){
							swal({
								title: '',
								text: data.msg,
								type: 'success',
								showConfirmButton:false
							});
							setTimeout(function(){
								history.go(-1);
							},1500);
						} else{
							swal({
								title: '',
								text: data.msg,
								type: 'error',
								showConfirmButton:false
							});
						}
						//window.location.href="/home/student/index"
					}
				})
			}else{
				swal.close();
			}
		});

	});
	//触发上传按钮
	$('.up').off("click").on('click',function(){
		$(this).next('.upload').click()
	});
	//上传图片
	$('.upload').off("change").on('change',function(){
		var up = $(this).prev('.up');
		var id = $(this).next('input');
		var ww = up.width();
		var size = ($(this)[0].files[0].size / 1024).toFixed(2);
		if(size <= 2048){
			var img = $(this)[0].files[0];
			var formData = new FormData();
			formData.append("picture",img);
			$.ajax({
				type:"post",
				url:"{:Url('File/uploadPicture')}",
				data:formData,
				processData : false,
				contentType : false,
				success:function(data){
					var msg = $.parseJSON(data);
					if(msg.code == 1){
						var image = new Image();
						image.src = msg.data.path ;
						up.css({"background-image":'url('+msg.data.path+')'});
						image.onload = function(){
							if(image.width > image.height){
								up.css({"background-size":'auto '+ww +'px'});
							}else{
								up.css({"background-size":ww +'px'+' auto '});
							}
							id.attr('data-tab',msg.data.id)
						};
					} else {
						warning({msg:'上传失败'});
						return;
					}
				}
			});
		} else {
			warning({msg:"您选择的图片超过2mb，请重新选择"});
			return;
		}
	});
	//性别
	$('.sex span').off('click').on('click',function(){
		var this_ = this;
		$(this_).addClass('active');
		$(this_).siblings('span').removeClass('active');
	})
});

</script>
{/block}