{extend name="public/common"}

{block name="style"}
<title>教练信息</title>
<link rel="stylesheet" href="/home/css/user/personal.css">
{/block}

{block name="body"}
<div class="lists">
	<div class="list clear">
		<span class="fl">头像</span>
		{empty name="$res.header"}
		<div data-tab="<?php echo param_to($res['avatar'], \think\Config::get('de_header')); ?>"  class="user up fr"></div>
		<input type="file" class="hide upload" accept="image/jpg, image/png, image/gif, image/jpeg">
		<input type="hidden" name="header"  value="" required="" data-tab="">
		{else/}
		<div data-tab="{$res.header|get_cover='path'}"  class="user up fr"></div>
		<input type="file" class="hide upload" accept="image/jpg, image/png, image/gif, image/jpeg">
		<input type="hidden" name="header"  value="" required="" data-tab="{$res.header}">
		{/empty}
	</div>
	<div class="list clear">
		<span class="fl">姓名</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.name}" class="fr" name="name">
	</div>
	<div class="list clear">
		<span class="fl">性别</span>
		<div class="fr clear sex">
			<span class="{eq name='$res.gender' value='1'}active{/eq} fl">男</span>
			<span class="{eq name='$res.gender' value='2'}active{/eq} fr">女</span>
		</div>
	</div>
	<!--<div class="list clear">
		<span class="fl">手机号</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.mobile}" class="fr" name="mobile">
	</div>-->
</div>
<div class="lists">
	<div class="list clear">
		<span class="fl">学历</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.education}" class="fr" name="education">
	</div>
	{notempty name="$res.tag"}
	<div class="list clear">
		<span class="fl">技术职称</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.technical_title}" class="fr" name="technical_title">
	</div>
	{/notempty}
	<!--<div class="list clear">-->
		<!--<span class="fl">部门</span>-->
		<!--<img src="/home/images/user/pen.png" alt="笔" class="fr pen">-->
		<!--<input type="text" value="管理" class="fr" name="department">-->
	<!--</div>-->
	<!--<div class="list clear">-->
		<!--<span class="fl">职位</span>-->
		<!--<img src="/home/images/user/pen.png" alt="笔" class="fr pen">-->
		<!--<input type="text" value="主任" class="fr" name="position">-->
	<!--</div>-->
</div>
<!--助教-->
{empty name="$res.tag"}
<div class="lists">
	<div class="list clear">
		<span class="fl">身份证号</span>
		<img src="/home/images/user/pen.png" alt="笔" class="fr pen">
		<input type="text" value="{$res.identity}" class="fr" name="identity">
	</div>
	<div class="list clear">
		<span class="fl">社会指导员证</span>
		<div data-tab="{empty name='$res.social_certificate'}<?php echo '/home/images/user/default.png';?>{else/}{$res.social_certificate|get_cover='path'}{/empty}"  class="card up fr"></div>
		<input type="file" class="hide upload" accept="image/jpg, image/png, image/gif, image/jpeg">
		<input type="hidden" name="social_certificate"  value="" required="" data-tab="{$res.social_certificate}">
	</div>
	<div class="list clear">
		<span class="fl">职业资格鉴定证</span>
		<div data-tab="{empty name='$res.profession_certificate'}<?php echo '/home/images/user/default.png';?>{else/}{$res.profession_certificate|get_cover='path'}{/empty}"  class="card up fr"></div>
		<input type="file" class="hide upload" accept="image/jpg, image/png, image/gif, image/jpeg">
		<input type="hidden" name="profession_certificate"  value="" required="" data-tab="{$res.profession_certificate}">
	</div>
	<div class="list clear">
		<span class="fl">救生员证</span>
		<div data-tab="{empty name='$res.lifeguard_certificate'}<?php echo '/home/images/user/default.png';?>{else/}{$res.lifeguard_certificate|get_cover='path'}{/empty}"  class="card up fr"></div>
		<input type="file" class="hide upload" accept="image/jpg, image/png, image/gif, image/jpeg">
		<input type="hidden" name="lifeguard_certificate"  value="" required="" data-tab="{$res.lifeguard_certificate}">
	</div>
</div>
{/empty}
<div class="save">保&emsp;存</div>
<!--/助教-->
{/block}

{block name="script"}
<script>
    //安卓设备保存按钮调起事件
        var H=window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;//可视区域的高度
        window.onresize = function(){
            var h =window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;//可视区域的高度
            if (h < H) {
                document.getElementsByClassName("save")[0].style.display = "none";//
            }else if (document.body.scrollHeight = h) {
                document.getElementsByClassName("save")[0].style.display = "block";
            }
        };
$(function(){
	//头像大小自适应
	imgfit();
	//保存
	$('.save').on('click',function(){
		swal({
			title: "提示",
			text: "确认提交您的信息？",
			showCancelButton: true,
			confirmButtonColor: "#f99300",
			confirmButtonText: "确定",
			cancelButtonText: "取消"
		},function(isConfirm){
			if (isConfirm) {
				var data={
					header:$("input[name='header']").attr('data-tab'),
					name:$("input[name='name']").val(),
					gender:$(".sex span.active").index()+1,
					//mobile:$("input[name='mobile']").val(),
					education:$("input[name='education']").val(),
//					department:$("input[name='department']").val(),
//					position:$("input[name='position']").val(),
					identity:$("input[name='identity']").val(),
					technical_title:$("input[name='technical_title']").val(),
					social_certificate:$("input[name='social_certificate']").attr('data-tab'),
					profession_certificate:$("input[name='profession_certificate']").attr('data-tab'),
					lifeguard_certificate:$("input[name='lifeguard_certificate']").attr('data-tab'),
					id:{$res.id}
				};
				$.ajax({
					type:"post",
					url:"{:Url('User/tutoredit')}",
					data:data,
					dataType: "Json",
					success:function(data){
						if(data.code){
							swal({
								title: '',
								text: data.msg,
								type: 'success',
								showConfirmButton:false,
                                timer:1500
							});
							setTimeout(function(){
								history.go(-1);
							},1500);
						} else{
							swal({
								title: '',
								text: data.msg,
								type: 'error',
								showConfirmButton:false,
                                timer:3000
							});
						}
					}
				})
			}else{
				swal.close();
			}
		});

	});
	//触发上传
	$('.up').off("click").on('click',function(){
		$(this).next('.upload').click()
	});
	//上传图片
	$('.upload').off("change").on('change',function(){
		var up = $(this).prev('.up');
		var id = $(this).next('input');
		var ww = up.width();
		var size = ($(this)[0].files[0].size / 1024).toFixed(2);
		if(size <= 5120){
			var img = $(this)[0].files[0];
			var formData = new FormData();
			formData.append("picture",img);
			$.ajax({
				type:"post",
				url:"{:Url('File/uploadPicture')}",
				data:formData,
				processData : false,
				contentType : false,
				success:function(data){
					var msg = $.parseJSON(data);
					if(msg.code == 1){
						var image = new Image();
						image.src = msg.data.path ;
						up.css({"background-image":'url('+msg.data.path+')'});
						image.onload = function(){
							if(image.width > image.height){
								up.css({"background-size":'auto '+ww +'px'});
							}else{
								up.css({"background-size":ww +'px'+' auto '});
							}
							id.attr('data-tab',msg.data.id)
						};
					} else {
                        swal({
                            title: ' ',
                            text: '上传失败，请从新上传！',
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
					}
				}
			});
		} else {
            swal({
                title: ' ',
                text: '您的图片超过5M，请重新选择！',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
		}
	});
	//性别
	$('.sex span').off('click').on('click',function(){
		var this_ = this;
		$(this_).addClass('active');
		$(this_).siblings('span').removeClass('active');
	})
});
</script>
{/block}
