{extend name="public/common"}

{block name="style"}
<title>教练信息</title>
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<link rel="stylesheet" href="/home/css/user/personal.css">
{/block}

{block name="body"}
<div class="lists">
	<div class="list clear">
		<span class="fl">头像</span>
		{empty name="$res.header"}
		<div data-tab="<?php echo param_to($res['avatar'], \think\Config::get('de_header')); ?>"  class="user up fr"></div>
		{else/}
		<div data-tab="{$res.header|get_cover='path'}"  class="user up fr"></div>
		{/empty}
	</div>
	<div class="list clear">
		<span class="fl">姓名</span>
		<span class="fr">{$res.name}</span>
	</div>
	<div class="list clear">
		<span class="fl">性别</span>
		<span class="fr">{$res.gender_text}</span>
	</div>
	<div class="list clear">
		<span class="fl">手机号</span>
		<a class="fr" href="tel:{$res.mobile}">{$res.mobile}</a>
	</div>
	{empty name="$res.tag"}
	<div class="list clear">
		<span class="fl">身份证号</span>
		<span class="fr">{$res.identity}</span>
	</div>
	{/empty}
</div>
<div class="lists">
	<div class="list clear">
		<span class="fl">学历</span>
		<span class="fr">{$res.education}</span>
	</div>
	<div class="list clear">
		<span class="fl">部门</span>
		<span class="fr">{$res->departmentName->name;}</span>
	</div>
	<div class="list clear">
		<span class="fl">职位</span>
		<span class="fr">{$res.position}</span>
	</div>
	<div class="list clear">
		<span class="fl">技术职称</span>
		<span class="fr">{$res.technical_title}</span>
	</div>
</div>
<!--助教-->
{empty name="$res.tag"}
<div class="lists">
	<div class="list clear">
		<span class="fl">社会指导员证</span>
		<img src="{empty name='$res.social_certificate'}<?php echo '/home/images/common/card.png';?>{else/}{$res.social_certificate|get_cover='path'}{/empty}" alt="社会指导员证" class="fr card"  data-original="">
	</div>
	<div class="list clear">
		<span class="fl">职业资格鉴定证</span>
		<img src="{empty name='$res.profession_certificate'}<?php echo '/home/images/common/card.png';?>{else/}{$res.profession_certificate|get_cover='path'}{/empty}" alt="职业资格鉴定证" class="fr card"  data-original="">
	</div>
	<div class="list clear">
		<span class="fl">救生员证</span>
		<img src="{empty name='$res.lifeguard_certificate'}<?php echo '/home/images/common/card.png';?>{else/}{$res.lifeguard_certificate|get_cover='path'}{/empty}" alt="救生员证" class="fr card"  data-original="">
	</div>
</div>
{/empty}
{empty name="$res.edit_button"}
<a href="{:Url('User/tutoredit?id='.$res['id'])}" class="edit">编&emsp;辑</a>
{/empty}
<!--/助教-->
{/block}

{block name="script"}
<script src="/static/viewer/viewer-jquery.min.js"></script>
<script>
$(function(){
    //退出缓存
    isOut();
	//图片预览
	$('.card').viewer({
		url: 'data-original',
		toolbar:false,
		title:false
	});
	//头像自适应
	imgfit();
});
//window.onpageshow = function(e){
//	if(e.persisted){
//		window.location.reload();
//	}
//}


//退出清理tab缓存
function isOut(){
    pushHistory();
    setTimeout(function(){
        window.addEventListener("popstate", function(e) {
            delCookie("type");

            var str = window.location.href;
            console.log(str)
            var arr = str.split('/');
            console.log(arr)
            if(arr[7]==1){
                window.location.href = "/home/student/index.html";
            }else {
                window.location.href = "/home/coach/index.html";
            }
        }, false);
    },200)
}
//防止恶意刷新
function pushHistory(){
    var sta = {
        title: "title"
    };
    if( window.history.state === null )
    {
        window.history.pushState( sta, "title" );
    }
    window.addEventListener("popstate", function(e) {
        window.history.go(0);
    }, false);
}
function setCookie(name,value){
    var Days = 30;
    var exp = new Date();
    exp.setTime(exp.getTime() + Days*24*60*60*1000);
    document.cookie = name + "="+ value + ";expires=" + exp.toGMTString();
}
function getCookie(name){
    var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
    if(arr=document.cookie.match(reg))
        return arr[2];
    else
        return null;
}
function delCookie(name){
    var exp = new Date();
    exp.setTime(exp.getTime() - 1);
    var cval=getCookie(name);
    if(cval!=null)
        document.cookie= name + "="+cval+";expires="+exp.toGMTString();
}

</script>
{/block}