{extend name="public/common"}

{block name="style"}
<title>教练信息</title>
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<link rel="stylesheet" href="/home/css/user/personal.css">
{/block}

{block name="body"}
<div class="lists">
	<div class="list clear">
		<span class="fl">头像</span>
		{empty name="$res.header"}
		<div data-tab="{$res.avatar}"  class="user up fr"></div>
		{else/}
		<div data-tab="{$res.header|get_cover='path'}"  class="user up fr"></div>
		{/empty}
	</div>
	<div class="list clear">
		<span class="fl">姓名</span>
		<span class="fr">{$res.name}</span>
	</div>
	<div class="list clear">
		<span class="fl">性别</span>
		<span class="fr">{$res.gender_text}</span>
	</div>
	<div class="list clear">
		<span class="fl">手机号</span>
		<a class="fr" href="tel:{$res.mobile}">{$res.mobile}</a>
	</div>
</div>
<div class="lists">
	<div class="list clear">
		<span class="fl">学历</span>
		<span class="fr">{$res.education}</span>
	</div>
	<div class="list clear">
		<span class="fl">部门</span>
		<span class="fr">{$res->departmentName->name;}</span>
	</div>
	<div class="list clear">
		<span class="fl">职位</span>
		<span class="fr">{$res.position}</span>
	</div>
</div>
<!--助教-->
<div class="lists">
	<div class="list clear">
		<span class="fl">身份证号</span>
		<span class="fr">{$res.identity}</span>
	</div>
	<div class="list clear">
		<span class="fl">社会指导员证</span>
		<img src="{$res.social_certificate|get_cover='path'}" alt="社会指导员证" class="fr card"  data-original="">
	</div>
	<div class="list clear">
		<span class="fl">职业资格鉴定证</span>
		<img src="{$res.profession_certificate|get_cover='path'}" alt="职业资格鉴定证" class="fr card"  data-original="">
	</div>
	<div class="list clear">
		<span class="fl">救生员证</span>
		<img src="{$res.lifeguard_certificate|get_cover='path'}" alt="救生员证" class="fr card"  data-original="">
	</div>
</div>
<a href="{:Url('User/tutoredit?id='.$res['id'])}" class="edit">编&emsp;辑</a>
<!--/助教-->
{/block}

{block name="script"}
<script src="/static/viewer/viewer-jquery.min.js"></script>
<script>
$(function(){
	//图片预览
	$('.card').viewer({
		url: 'data-original',
		toolbar:false,
		title:false
	});
	//头像自适应
	imgfit();
});
function imgfit(){
	var up = $('.up' );
	var path = up.attr('data-tab');
	var image = new Image();
	var ww = up.width();
	image.src = path ;
	up.css({"background-image":'url('+path+')'});
	image.onload = function(){
		if(image.width > image.height){
			up.css({"background-size":'auto '+ww +'px'});
		}else{
			up.css({"background-size":ww +'px'+' auto '});
		}
	};
}
</script>
{/block}