{extend name="public/common"}

{block name="style"}
<title>签到概况</title>
<link rel="stylesheet" href="/home/css/statistics/index.css">
<link rel="stylesheet" href="/static/mobiscroll/mobiscroll.2.13.2.css">
<style>
	#datas span {display: block;margin: 2vw 0; }
</style>
{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/coach/banner01.png" alt="数据统计banner" class="banner-img">
</div>

<div class="date">
	<label for="start">签到日期</label>
	<input value="<?php echo date('Y-m-d')?>" class="" readonly="readonly" id="start" type="text">
</div>
{if condition="($tag_id == 1) OR ($tag_id == 2)"}
<div class="box" style="position: relative;">
	<div class="top clear">
		<div class="tag fl">教练情况</div>
		<div class="type fr">
			<div class="tab tutor" data-tab="0">
				{eq name="tag_id" value="1"}
				<span>全部</span>
				{else/}
				<span>助教</span>
				{/eq}
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="lists">
				{eq name="tag_id" value="1"}
				<div class="list" data-tab="0">全部</div>
				<div class="list" data-tab="1">主教练</div>
				{/eq}
				<div class="list" data-tab="2">助教</div>
			</div>
		</div>
	</div>
	<a class="details" href="#" style="position: absolute;top:4rem;left:0;width:100%;height:80%;display: block;opacity: 0;">签到详情>></a>
	<div id="datass" style="position: absolute;top:10rem;width:89%;right:-64%;">
		<span></span><span></span><span></span>
	</div>
	<canvas id="tutor" width="400" height="200"></canvas>
	<div class="swim_null" style="text-align: center;margin: 10vw 0;display: none"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw"></div>
</div>
{/if}
<div class="box" style="position: relative;">
	{if condition="($tag_id == 1) OR ($tag_id == 2)"}
	<div class="top clear">
		<div class="tag fl">学员情况</div>
		<div class="type fr">
			<div class="tab student" data-tab="0" data-tag="0">
				<span>{eq name="tag_id" value="1"}全部{else/}助教{/eq}</span> - <span>全部</span>
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="lists">
				{eq name="tag_id" value="1"}
				<div class="list" data-tab="0">全部</div>
				<div class="list" data-tab="1">主教练</div>
				{/eq}
				<div class="list" data-tab="2">助教</div>
			</div>
			<!--主教练-->
			<div class="main">
				<div class="li" data-tag="0">全部</div>
				{volist name="headCoachList" id="vo"}
				<div class="li" data-tag="{$key}">{$vo}</div>
				{/volist}
			</div>
			<!--助教-->
			<div class="main students">
				<div class="li" data-tag="0">全部</div>
				{volist name="assistantCoachList" id="vo"}
				<div class="li" data-tag="{$key}">{$vo}</div>
				{/volist}
			</div>
		</div>
	</div>
	{/if}
	<canvas id="student" width="400" height="200"></canvas>
	<div class="swim_null" style="text-align: center;margin: 10vw 0;display: none"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw"></div>
</div>
<!--点击弹框-->
<!--时间选择-->
<div class="maks_box">
	<div class="maks">
		<div class="time">
			<a></a>
		</div>
		<div class="tabbox">
			<div class="tabs clear">
				<span data-side="1" class="tab active">迟到</span>
				<span data-side="2" class="tab fr">正常</span>
				<span data-side="3" class="tab fr">缺勤</span>
			</div>
		</div>
		<div class="boxss">
			<!--迟到-->
			<div class="boxs " id="side1">
				{notempty name="$sign.late"}
				{volist name="sign.late" id="vo"}
				<div class="list">
					<span>{$vo.name}</span><span>{$vo.time}</span><span class="late"><i class="fa fa-exclamation-circle"></i>迟到</span>
				</div>
				{/volist}
				{else/}
				<div style="text-align: center;width:100%;position: relative;top:10vw;">
					<img src="/home/images/common/no2.png" style="width:40vw;height:40vw;">
				</div>
				{/notempty}
			</div>
			<!--正常-->
			<div class="boxs hidden" id="side2">
				{notempty name="$sign.normal"}
				{volist name="sign.normal" id="vo"}
				<div class="list">
					<span>{$vo.name}</span><span>{$vo.time}</span><span class="normal"><i class="fa fa-check-circle"></i> 正常 </span>
				</div>
				{/volist}
				{else/}
				<div style="text-align: center;width:100%;position: relative;top:10vw;">
					<img src="/home/images/common/no2.png" style="width:40vw;height:40vw;">
				</div>
				{/notempty}
			</div>
			<!--缺勤-->
			<div class="boxs hidden" id="side3">
				{notempty name="$sign.absence"}
				{volist name="sign.absence" id="vo"}
				<div class="list">
					<span>{$vo.name}</span><span>{$vo.time}</span><span class="absence"><i class="fa fa-times-circle"></i>缺勤</span>
				</div>
				{/volist}
				{else/}
				<div style="text-align: center;width:100%;position: relative;top:10vw;">
					<img src="/home/images/common/no2.png" style="width:40vw;height:40vw;">
				</div>
				{/notempty}
			</div>
		</div>
	</div>
</div>
	<div id="loading" style="position: fixed;top:0;left:0;background: rgba(0,0,0,.5);width:100%;height:100%;text-align: center;display: none;">
		<img src="/home/images/loading.gif" alt="" style="position: relative;top:50%;width:12.8vw;height:12.8vw;margin-top: -7vw;">
	</div>
<div id="loadings" style="position: fixed;top:0;left:0;background: rgba(0,0,0,.5);width:100%;height:100%;text-align: center;display: block;">
	<img src="/home/images/loading.gif" alt="" style="position: relative;top:50%;width:12.8vw;height:12.8vw;margin-top: -7vw;">
</div>
{/block}

{block name="script"}
<script src="/static/mobiscroll/mobiscroll.2.13.2.js"></script>
<script src="/static/chartJs/Chart.min.js"></script>
<script src="/static/flot/echarts.min.js"></script>
<script>

//    beforeSend: function () {
//        $("#loading").show();
//    },


    //css适配
    $(function(){
        $('.maks_box').height($(window).height());
    });
    $(function () {
        //tab值记录
//        tabRecord('.tab' ,'.boxs');
        //tab切换
        tabSwitch('.tab' ,'.boxs');

        //点击隐藏
        $('.maks>.time>a').click(function(){
            $(".maks_box").hide()
            $("body").css("position","")
        });

    });

setTimeout(function(){
    $("#loadings").hide();
},1000);


var forCase=0;
var side = 1;
//当助教为true时 可在助教权限下查看数据
var zhujiao = {$zhujiao};
    var sIndex = 0,tIndex = 0; tPid = 0;// 教练跟学员选中情况
    $(function(){
        //初始数据
        var data1={$coach};//教练[正常,迟到,缺卡]
        var data2={$student};//学员[正常,迟到,缺卡]
        var str=[0,0,0];
        cocah(data1);
        student(data2);
//        datas(data1,data2);
//        dataNone(data1,0);
//        dataNone(data2,1);

        //时间选择
        timeSelect();
        //教练情况的切换
        $('.tab.tutor').off('click').on('click',function(){
            var this_ = this;
            $('.lists,.main').hide();
            $(this_).next('.lists').fadeIn();
            $('.list').off('click').on('click',function(){
                var index = $(this).attr('data-tab');
                tIndex = index;
                var text = $(this).text();
                $(this_).find('span').text(text);
                $(this_).attr('data-tab',index);
                $(this_).next('.lists').fadeOut();
                var start = $('#start').val();
                var end = $('#end').val();
                $.ajax({
                    type:"post",
                    url:"{:Url('index')}",
                    data:{
                        start:start,
                        end: end,
                        c_type:index
                    },
                    beforeSend: function () {
                        $("#loading").show();

                    },
                    success:function(data){
                        var _data = JSON.parse(data);
                        var _data1=_data.data;
                        var a = _data1[0]
                        var b = _data1[1]
                        cocah(a)
                        forCase = 1;
                        console.log(_data)
                        //                        签到情况
                        var str=''
                        var sign = _data.sign;
                        if(side == 1){
                            if(sign.late.length!==0){
                                for (var z=0;z<sign.late.length;z++){
                                    str += '<div class="list"><span>'+sign.late[z].name+'</span><span>'+sign.late[z].time+'</span><span class="late"><i class="fa fa-exclamation-circle"></i>迟到</span></div>'
                                }
                                $('#side1').html(str);
                            }
                            else {
                                $('#side1').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
                            }
						}else if(side == 2){
                            if(sign.normal.length!==0){
                                for (var x=0;x<sign.normal.length;x++){
                                    str += '<div class="list"><span>'+sign.normal[x].name+'</span><span>'+sign.normal[x].time+'</span><span class="late"><i class="fa fa-check-circle"></i>正常</span></div>'
                                }
                                $('#side2').html(str);
                            }
                            else {
                                $('#side2').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
                            }
						}else if (side ==3){
                            if(sign.absence.length!==0){
                                for (var c=0;c<sign.absence.length;c++){
                                    str += '<div class="list"><span>'+sign.absence[c].name+'</span><span>'+sign.absence[c].time+'</span><span class="late"><i class="fa fa-times-circle"></i>缺勤</span></div>'
                                }
                                $('#side3').html(str);
                            }
                            else {
                                $('#side3').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
                            }
						}
                        for(var K=0;K<$('.tabbox').find('span').length;K++){
                            $('.tabbox').find('span')[K].onclick = function(){
                                 side = $(this).data('side');
                                $('.boxss .boxs').addClass('hidden');
                                $('#side'+side).removeClass('hidden');
                                var html = '';
                                if(side == 1){
                                    if(sign.late.length!==0){
                                        for (var z=0;z<sign.late.length;z++){
                                            html += '<div class="list"><span>'+sign.late[z].name+'</span><span>'+sign.late[z].time+'</span><span class="late"><i class="fa fa-exclamation-circle"></i>迟到</span></div>'
                                        }
                                        $('#side1').html(html);
                                    }else {
                                        $('#side1').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
                                    }
                                }else if(side == 2){
                                    if(sign.normal.length!==0){
                                        for (var x=0;x<sign.normal.length;x++){
                                            html += '<div class="list"><span>'+sign.normal[x].name+'</span><span>'+sign.normal[x].time+'</span><span class="late"><i class="fa fa-check-circle"></i>正常</span></div>'
                                        }
                                        $('#side2').html(html);
                                    }else {
                                        $('#side2').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
                                    }
                                }
                                else if(side == 3){
                                    if(sign.absence.length!==0){
                                        for (var c=0;c<sign.absence.length;c++){
                                            html += '<div class="list"><span>'+sign.absence[c].name+'</span><span>'+sign.absence[c].time+'</span><span class="late"><i class="fa fa-times-circle"></i>缺勤</span></div>'
                                        }
                                        $('#side3').html(html);
                                    }else {
                                        $('#side3').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
                                    }
                                }
                            }
                        }
                    },
                    complete:function(){
                        $("#loadings").show();
                        $("#loading").hide();
                        setTimeout(function(){
                            $("#loadings").hide();
                        },1000);
                    }

                });

            })
        });
        //学员情况的切换
        $('.tab.student').off('click').on('click',function(){
            var this_ = this;
            $('.lists,.main').hide();
            $(this_).next('.lists').fadeIn();
            $('.list').off('click').on('click',function(){
                var index = $(this).attr('data-tab');
                sIndex = index;
                var text = $(this).text();
                $(this_).find('span').eq(0).text(text);
                $(this_).attr('data-tab',index);
                $(this_).next('.lists').hide();
                console.log(text)
                if(index>0){
                    //除了全部-全部的其他情况
                    $('.main').eq(index-1).fadeIn();
                    $('.li').off('click').on('click',function(){
                        var pid = $(this).attr('data-tag');
                        tPid = pid;
                        var text = $(this).text();
                        $(this_).find('span').eq(1).text(text);
                        $(this_).attr('data-tag',pid);
                        $('.main').eq(index-1).fadeOut();
                        var start = $('#start').val();
                        var end = $('#end').val();
//                        console.log({start:start,end: end,s_type:index,pid:pid})
                        $.ajax({
                            type:"post",
                            url:"{:Url('index')}",
                            data:{
                                start:start,
                                end: end,
                                s_type:index,
                                pid:pid
                            },
                            success:function(data){
                                var _data = JSON.parse(data);
                                var _data1=_data.data;
                                var a = _data1[0]
                                var b = _data1[1]
                                student(b)
                            },
                            complete:function(){
                                $("#loadings").show();
                                $("#loading").hide();
                                setTimeout(function(){
                                    $("#loadings").hide();
                                },1000);
                            }
                        });
                    })
                }
                else{
                    //全部-全部
                    $(this_).next('.lists').fadeOut();
                    $(this_).find('span').text('全部')
                    var start = $('#start').val();
                    var end = $('#end').val();
                    tPid = 0;
//                    console.log({start:start,end: end,s_type:0,pid:0})
                    $.ajax({
                        type:"post",
                        url:"",
                        data:{
                            start:start,
                            end: end,
                            s_type:0,
                            pid:0
                        },
                        success:function(data){
                            var _data = JSON.parse(data);
                            var _data1=_data.data;
                            var b = _data1[1]
                            student(b)
//                            for (var i in _data1[1]){
//                                datas("",_data1[1]);
//                                dataNone(_data1[1],1);
//                            }
                        },
                        complete:function(){
                            $("#loadings").show();
                            $("#loading").hide();
                            setTimeout(function(){
                                $("#loadings").hide();
                            },1000);
                        }
                    });
                }
            })
        });
    });
    function timeSelect(){
        forCase = 0;
        var currYear = (new Date()).getFullYear();
        var opt={};
        opt.date = {preset : 'date'};
        opt.default = {
            theme: 'android-holo light',
            display: 'modal',
            mode: 'scroller',
            dateFormat: 'yy-mm-dd',
            lang: 'zh',
            showNow: true,
            nowText: "今天",
            startYear: currYear,
            endYear: currYear + 50,
            onSelect: function (valueText, inst) {
                resetAll();
                var start = $('#start').val();
                var end = $('#end').val();
                $.ajax({
                    type:"post",
                    url:"{:Url('index')}",
                    data:{
                        start:start,
                        end: end
                    },
                    beforeSend: function () {
                        $("#loading").show();
                    },
                    success:function(data){
                        var _data = JSON.parse(data);
                        var _data1=_data.data;
						var a = _data1[0];
						var b = _data1[1];
                        cocah(a);
                        student(b);
						console.log(a,b);
//                        签到情况
						var str=''
						var sign = _data.sign;
                        if(sign.late.length!==0){
                            for (var p=0;p<sign.late.length;p++){
                                str += '<div class="list"><span>'+sign.late[p].name+'</span><span>'+sign.late[p].time+'</span><span class="late"><i class="fa fa-exclamation-circle"></i>迟到</span></div>'
                            }
                            $('#side1').html(str);
                        }else {
                            $('#side1').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
                        }
						for(var K=0;K<$('.tabbox').find('span').length;K++){
                            $('.tabbox').find('span')[K].onclick = function(){
                                side = $(this).data('side');
                                $('.boxss .boxs').addClass('hidden');
                                $('#side'+side).removeClass('hidden');
                                var html = '';
                                if(side == 1){
                                    if(sign.late.length!==0){
                                        for (var z=0;z<sign.late.length;z++){
                                            html += '<div class="list"><span>'+sign.late[z].name+'</span><span>'+sign.late[z].time+'</span><span class="late"><i class="fa fa-exclamation-circle"></i>迟到</span></div>'
										}
										$('#side1').html(html);
									}else {
                                        $('#side1').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
									}
								}else if(side == 2){
                                    if(sign.normal.length!==0){
                                        for (var x=0;x<sign.normal.length;x++){
                                            html += '<div class="list"><span>'+sign.normal[x].name+'</span><span>'+sign.normal[x].time+'</span><span class="late"><i class="fa fa-check-circle"></i>正常</span></div>'
                                        }
                                        $('#side2').html(html);
                                    }else {
                                        $('#side2').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
                                    }
								}
                                else if(side == 3){
                                    if(sign.absence.length!==0){
                                        for (var c=0;c<sign.absence.length;c++){
                                            html += '<div class="list"><span>'+sign.absence[c].name+'</span><span>'+sign.absence[c].time+'</span><span class="late"><i class="fa fa-times-circle"></i>缺勤</span></div>'
                                        }
                                        $('#side3').html(html);
                                    }else {
                                        $('#side3').html('<div style="text-align: center;width:100%;position: relative;top:10vw;"><img src="/home/images/common/no2.png" style="width:40vw;height:40vw;"></div>');
                                    }
                                }
							}
						}

                    },
                    complete:function(){
                        $("#loadings").show();
                        $("#loading").hide();
                        setTimeout(function(){
                            $("#loadings").hide();
                        },1000);
                    }
                });
            }
        };
        $("#start").mobiscroll($.extend(opt['date'], opt['default']));
        $("#end").mobiscroll($.extend(opt['date'], opt['default']));

    }

            var Options1 = {
                responsive: true,
                showTooltips: true
            };
    if(zhujiao == true){
        //    教练数据
        function cocah(a){
            if(JSON.stringify(a) == JSON.stringify([0,0,0])){
                $('.box').eq(0).find('.swim_null').hide();
                $('#tutor').hide();
            }
        }
//	  学员数据
        function student(b){
            if(JSON.stringify(b) == JSON.stringify([0,0,0])){
                $('.box').find('.swim_null').show();
                $('#student').hide();
            }
            else {
                if($.isArray(b)){
                    //	学员签到
                    var data2 = {
                        type: 'pie',
                        labels: ["正常 "+b[0],"迟到 "+b[1],"缺勤 "+b[2] ],
                        datasets: [{
                            data: b,
                            backgroundColor: ["#46BFBD","#FDB45C","#F7464A"],
                        }]
                    } ;


                    // 每次重汇之前 清空
                    $('.box').eq(1).find('.swim_null').hide();
                    $('#student').remove();
                    var tag = {$tag_id};
                    if(tag == 3){
                        var eqNumber = 0;
                    }else{
                        var eqNumber = 1;
                    }
                    $('.box').eq(eqNumber).append('<div id="'+'student"'+' width="'+'400" '+'height="'+'200" style="width: 100vw;height:50vw;position: relative;left: -10vw;"></div>');
//			$("#student").hide();
                    var ctx2 = document.getElementById("student");
                    var myGender2 = echarts.init(document.getElementById('student'));
                    //修改提示信息
                    var genderOption={
                        calculable : true,
                        series : [
                            {
                                name:'',
                                type:'pie',
                                radius: ['30%', '55%'],
                                color: ["#46BFBD","#FDB45C","#F7464A"],
                                itemStyle : {
                                    normal : {
                                        label : {
                                            show : true
                                        },
                                        labelLine : {
                                            show : true,
                                            length:5
                                        }
                                    },
                                },
                                data:[
                                    {value:b[0]!==0?b[0]:'', name:'正常：'+b[0]},
                                    {value:b[1]!==0?b[1]:'', name:'迟到：'+b[1]},
                                    {value:b[2]!==0?b[2]:'', name:'缺勤：'+b[2]},
                                ]
                            }
                        ]
                    };
                    myGender2.setOption(genderOption);
                }
            }
        }
	}
	else {
        //    教练数据
        function cocah(a){
            if(JSON.stringify(a) == JSON.stringify([0,0,0])){
                $('.box').eq(0).find('.swim_null').show();
                $('#tutor').hide();
            }
            else {
                if($.isArray(a)){
                    //	教练签到
//                    var data1 = {
//                        labels: ["正常 "+a[0],"迟到 "+a[1],"缺勤 "+a[2] ],
//                        datasets: [{
//                            data:a ,
//                            backgroundColor: ["#46BFBD","#FDB45C","#F7464A"],
//                            xPadding: 2
//                        }]
//                    } ;
                    if(document.getElementById("tutor")){
                        //每次重汇之前 清空
                        $('#tutor').remove();
                        $('.box').eq(0).find('.swim_null').hide();
                        $('.box').eq(0).append('<div id="'+'tutor"'+' width="'+'400" '+'height="'+'200" style="width: 100vw;height:50vw;position: relative;left: -10vw;"></div>');
//				$("#tutor").hide();
                        var ctx1 = document.getElementById("tutor");
                        var myGender = echarts.init(document.getElementById('tutor'));
                        //修改提示信息
                        var genderOption={
                            calculable : true,
                            series : [
                                {
                                    name:'',
                                    type:'pie',
                                    radius: ['30%', '55%'],
                                    color: ["#46BFBD","#FDB45C","#F7464A"],
                                    itemStyle : {
                                        normal : {
                                            label : {
                                                show : true
                                            },
                                            labelLine : {
                                                show : true,
                                                length:5
                                            }
                                        },
                                    },
                                    data:[
                                        {value:a[0]!==0?a[0]:'', name:'正常：'+a[0]},
                                        {value:a[1]!==0?a[1]:'', name:'迟到：'+a[1]},
                                        {value:a[2]!==0?a[2]:'', name:'缺勤：'+a[2]},
                                    ]
                                }
                            ]
                        };
                        myGender.setOption(genderOption);
                        //点击显示
                        $('#tutor canvas').click(function(e){
                            e.stopPropagation();
                            $(".maks_box").show();
                            $("body").css("position","fixed")
                        });
                    }
                }
            }

        }
//	  学员数据
        function student(b){
            if(JSON.stringify(b) == JSON.stringify([0,0,0])){
                $('.box').eq(1).find('.swim_null').show();
                $('#student').hide();
            }
            else {
                if($.isArray(b)){
                    //	学员签到
                    var data2 = {
                        type: 'pie',
                        labels: ["正常 "+b[0],"迟到 "+b[1],"缺勤 "+b[2] ],
                        datasets: [{
                            data: b,
                            backgroundColor: ["#46BFBD","#FDB45C","#F7464A"],
                        }]
                    } ;


                    // 每次重汇之前 清空
                    $('.box').eq(1).find('.swim_null').hide();
                    $('#student').remove();
                    var tag = {$tag_id};
                    if(tag == 3){
                        var eqNumber = 0;
                    }else{
                        var eqNumber = 1;
                    }
                    $('.box').eq(eqNumber).append('<div id="'+'student"'+' width="'+'400" '+'height="'+'200" style="width: 100vw;height:50vw;position: relative;left: -10vw;"></div>');
//			$("#student").hide();
                    var ctx2 = document.getElementById("student");
                    var myGender2 = echarts.init(document.getElementById('student'));
                    //修改提示信息
                    var genderOption={
                        calculable : true,
                        series : [
                            {
                                name:'',
                                type:'pie',
                                radius: ['30%', '55%'],
                                color: ["#46BFBD","#FDB45C","#F7464A"],
                                itemStyle : {
                                    normal : {
                                        label : {
                                            show : true
                                        },
                                        labelLine : {
                                            show : true,
                                            length:5
                                        }
                                    },
                                },
                                data:[
                                    {value:b[0]!==0?b[0]:'', name:'正常：'+b[0]},
                                    {value:b[1]!==0?b[1]:'', name:'迟到：'+b[1]},
                                    {value:b[2]!==0?b[2]:'', name:'缺勤：'+b[2]},
                                ]
                            }
                        ]
                    };
                    myGender2.setOption(genderOption);
                }
            }
        }
	}




    function resetAll() {
        $('.tab.tutor').attr('data-tab',0);
        $('.tab.tutor').find('span').eq(0).text('全部');
        $('.tab.student').attr('data-tab',0);
        $('.tab.student').find('span').eq(0).text('全部');
        $('.tab.student').find('span').eq(1).text('全部');
    }



</script>
{/block}