{extend name="public/common"}

{block name="style"}
<title>教练频道</title>
<link rel="stylesheet" href="/home/css/coach/allsign.css">
{/block}

{block name="body"}
<div class="time">2017年11月11号</div>
<div class="tabbox">
	<div class="tabs clear">
		<span class="tab active">异常打卡</span>
		<span class="tab fr">正常打卡</span>
	</div>
</div>
<div class="boxs">
	<!--absence：缺卡，late：迟到，normal：正常-->
	<div class="box active">
		<div class="list">
			<span>张三</span>
			<span class="absence">
				<i class="fa fa-times-circle"></i>
				缺卡
			</span>
		</div>
		<div class="list">
			<span>张三</span>
			<span class="late">
				<i class="fa fa-exclamation-circle"></i>
				迟到
			</span>
		</div>
	</div>
	<div class="box hidden">
		<div class="list">
			<span>张三</span>
			<span class="normal">
				<i class="fa fa-check-circle"></i>
				正常
			</span>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script>
$(function(){
	//tab值记录
	tabRecord('.tab' ,'.box');
	//tab切换
	tabSwitch('.tab' ,'.box');
});
function loadScroll(){}
</script>
{/block}