{extend name="public/common"}

{block name="style"}
<title>训练档案</title>
<link rel="stylesheet" href="/home/css/coach/weekplan.css">
<link rel="stylesheet" href="/static/mobiscroll/mobiscroll.2.13.2.css">
{/block}

{block name="body"}
<div class="date clear">
    <img src="/home/images/coach/cal.png" alt="日历">
    <label for="start" class="fr">
        <input value="<?php echo date('Y年m月')?>"  readonly="readonly" id="start" type="text">
        <i class="fa fa-angle-down"></i>
    </label>
</div>
<div class="lists">
    <!--每周计划详情页dweekPlan.html,课时计划详情页dclassPlan.html,每周总结详情页dweekSummary.html-->
    {volist name="res" id="vo"}
    <div class="list">
        <div class="content">
            <!--课时计划-->
            <div class="time limit">{$vo.start_time} <?php echo \app\home\model\ClassPlan::WEEK_ARRAY[$vo['week']]?></div>
            <div class="content limit">{$vo.title}</div>
            <!--/课时计划-->
        </div>
        <div class="note clear">
            <span>浏览 ： {$vo.views}</span>
            <a href="{:Url('dclassplan?did='.$did.'&id='.$vo.id)}" class="fr detail">查看详情</a>
            {empty name="$edit_button"}
            <!--{empty name="$vo.overtime"}-->
            <a href="{:Url('pclassplan?id='.$vo.id)}" class="fr edit">编辑</a>
            <!--{/empty}-->
            <span class="del fr" onclick="listDel(this,'{$vo.id}')">删除</span>
            {/empty}
        </div>
    </div>
    {/volist}
</div>
<!--每周计划发布pweekPlan.html,课时计划发布pclassPlan.html,每周总结发布pweekSummary.html-->
{empty name="$edit_button"}
<a href="{:Url('pclassplan')}" class="publish">
    <img src="/home/images/coach/add.png" alt="">
</a>
{/empty}
{/block}

{block name="script"}
<script src="/static/mobiscroll/mobiscroll.2.13.2.js"></script>
<script>
    $(function(){
        timeSelect();
        //退出缓存
        isOut();
    });
	function listDel(e,b){
		swal({
			title: '删除',
			text: '是否删除该内容？',
			type: 'warning',
			confirmButtonText:'确定',
			showCancelButton:true,
			cancelButtonText:'取消'
		}).then(function(isConfirm){
			//确认之后执行函数
			if (isConfirm) {
				$.ajax({
					type:"post",
					url:"{:Url('del')}",
					data:{
						type:0,
						id:b
					},
					success:function(data){
						if(data.code == 1){
							$(e).parents('.list').remove();
							swal( {
								title: '成功',
								text: '删除成功',
								type: 'success',
								showConfirmButton: true,
								timer:3000
							})
						}else{
							swal( {
								title: '失败',
								text: '删除失败',
								type: 'error',
								showConfirmButton: true,
								timer:3000
							})
						}
					}
				});
			}
		});
	}
    function timeSelect(){
        var currYear = (new Date()).getFullYear();
        var opt={};
        opt.date = {preset : 'date'};
        opt.default = {
            theme: 'android-holo light',
            display: 'modal',
            mode: 'scroller',
            dateFormat: 'yy年mm月',
            lang: 'zh',
            showNow: true,
            nowText: "今天",
            startYear: currYear - 10,
            endYear: currYear + 50,
            onBeforeShow: function (inst) {
                inst.settings.wheels[0].length>2?inst.settings.wheels[0].pop():null;
            },
            onSelect: function (valueText, inst) {
                var time = $('#start').val();
                $.ajax({
                    type:"post",
                    url:"",
                    data:{
                        time:time,
                    },
                    success:function(data){
                        var lists = $.parseJSON(data);
                        var len = lists.length;
                        var html = '';
                        var week_arr = ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
                        var edit_button = {$edit_button};
                        for(var i= 0 ;i<len;i++){
                            var list = lists[i];
                            var week = list.week-1;
                            html +=
                                    '<div class="list">'+
                                    '<div class="content">'+
                                    '<div class="time limit">'+list.start_time+' '+week_arr[week]+'</div>'+
                                    '<div class="content limit">'+list.title+'</div>'+
                                    '</div>'+
                                    '<div class="note clear">'+
                                    '<span>浏览 ： '+list.views+'</span>'+
                                    '<a href="{:Url(\'dclassplan\')}?did=\'.$did.\'&id='+list.id+'" class="fr detail">查看详情</a>';
                            if(!edit_button){
                                //if(!list.overtime) {
                                    html +=
                                            '<a href="{:Url(\'pclassplan\')}?id=' + list.id + '" class="fr edit">编辑</a>';
                                //}
                                html +=
                                        '<span class="del fr" onclick="listDel(this,\''+list.id+'\')">删除</span>';
                            }
                            html +=
                                    '</div>'+
                                    '</div>'
                        }
                        $('.lists').html(html);
                    }
                });
            }
        };
        $("#start").mobiscroll($.extend(opt['date'], opt['default']));
        $("#end").mobiscroll($.extend(opt['date'], opt['default']));
    }
    //退出清理tab缓存
    function isOut(){
        pushHistory();
        setTimeout(function(){
            window.addEventListener("popstate", function(e) {
                delCookie("type");
                var did = '{$did}';
                if (did) {
                    window.location.href = "/home/structure/detail/did/"+"{$did}";
                }else {
                    window.location.href = "/home/coach/index.html";
                }

            }, false);
        },200)
    }
    //防止恶意刷新
    function pushHistory(){
        var sta = {
            title: "title"
        };
        if( window.history.state === null )
        {
            window.history.pushState( sta, "title" );
        }
    }
    function setCookie(name,value){
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days*24*60*60*1000);
        document.cookie = name + "="+ value + ";expires=" + exp.toGMTString();
    }
    function getCookie(name){
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return arr[2];
        else
            return null;
    }
    function delCookie(name){
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        var cval=getCookie(name);
        if(cval!=null)
            document.cookie= name + "="+cval+";expires="+exp.toGMTString();
    }

</script>
{/block}