{extend name="public/common"}

{block name="style"}
<title>教练频道</title>
<link rel="stylesheet" href="/home/css/coach/code.css">
{/block}

{block name="body"}


<div class="box">
	<div id="qrcode">
		<img src="{$data.header}" alt="条形码" class="header">
	</div>
</div>

{/block}

{block name="script"}
<script src="/static/code/qrcode.min.js"></script>
<script>
$(function(){

	var ww = $('.box').width();
	var qrcode = new QRCode($('#qrcode')[0], {
		text: '{$data.mobile}',
		width: ww*6/10,
		height: ww*6/10,
		correctLevel: QRCode.CorrectLevel.H
	});
})
</script>
{/block}