{extend name="public/common"}

{block name="style"}
<title>训练档案</title>
<link rel="stylesheet" href="/home/css/coach/publish.css">
{/block}

{block name="body"}
<div class="main">
	<div class="tag">课时计划</div>
	<div class="list clear">
		<span class="title fl">计划标题</span>
		<input type="text" placeholder="请输入标题" class="fr limit" name="title" value="{$res.title|default=''}" readonly>
	</div>
	<div class="list clear">
		<span class="title fl">课时时间</span>
		<input type="text" value="{$res.start_time|default=date('Y-m-d')}" class="fr" readonly="readonly" id="start" name="start">
	</div>
	<div class="list">
		<span class="title">任务需求</span>
		<div class="content">
			<textarea name="need" id="need" placeholder="输入不多于200字。" disabled="disabled">{$res.need|default=''}</textarea>
			<!--<div class="sum">123</div>-->
		</div>
	</div>
	<div class="tag">计划内容</div>
	<div class="list clear templet" data-tab="0">
		<span class="title fl">准备部分</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
	<div class="list clear templet" data-tab="1">
		<span class="title fl">基本部分</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
	<div class="list clear templet" data-tab="2">
		<span class="title fl">结束部分</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
	<div class="tag">课后小结</div>
	<div class="list">
		<!--<span class="title">课后小结</span>-->
		<div class="content">
			<textarea name="summary" id="summary" placeholder="输入不多于200字。" disabled="disabled">{$res.summary|default=''}</textarea>
			<!--<div class="sum">123</div>-->
		</div>
		<div class="students">
			{volist name="res.score" id="vo"}
			<div class="student clear">
				<span class="name fl {notempty name='vo.good'} green {/notempty}" data-tab="zangsna">{$vo.name|default=''}</span>
				<input type="text" value="{$vo.score|default=''}" class="fr limit" readonly>
			</div>
			{/volist}
		</div>
	</div>
</div>
<!--日模板-->
<div class="bg">
	<div class="list clear">
		<span class="title fl">计划部分</span>
		<span class="fr limit week" data-tab="0"></span>
	</div>
	<div class="list">
		<span class="title">训练内容</span>
		<table>
			<tr>
				<td>序号</td>
				<td>组数</td>
				<td>个数</td>
				<td>距离</td>
				<td>项目</td>
				<td>详情</td>
			</tr>
			<!--<tr>-->
				<!--<td>1</td>-->
				<!--<td class="group">1</td>-->
				<!--<td class="num">1</td>-->
				<!--<td class="distance">-</td>-->
				<!--<td class="pose">-</td>-->
			<!--</tr>-->
		</table>
	</div>
	<div class="list">
		<span class="title">自定义训练内容</span>
		<div class="content">
			<textarea name="contentself" id="contentself" placeholder="请输入自定义训练内容。" disabled="disabled">{$res.contentself|default=''}</textarea>
		</div>
	</div>
	<div class="list clear">
		<span class="title fl">负荷量</span>
		<div class="load fr radiogroup">
			<span class="active">低</span>
			<span>中低</span>
			<span>中</span>
			<span>中高</span>
			<span>高</span>
		</div>
	</div>
	<div class="list clear">
		<span class="title fl">负荷强度</span>
		<div class="strength fr radiogroup">
			<span class="active">低</span>
			<span>中低</span>
			<span>中</span>
			<span>中高</span>
			<span>高</span>
		</div>
	</div>
	<div class="list clear">
		<span class="title fl">时间</span>
		<div class="duration fr radiogroup">
			<span class="active">5</span>
			<span>10</span>
			<span>15</span>
			<span>20</span>
			<span>30</span>
		</div>
	</div>
	<!--<div class="daysave">返回</div>-->
</div>
{/block}

{block name="script"}
<script src="/static/mobiscroll/mobiscroll.2.13.2.js"></script>
<script>
$(function(){
	//字数统计
	wordSum();
	//内容模板
	templet();
	//返回
	daySave();
	//退出缓存
	 isOut();
	$('.student .name').off('click').on('click',function(){
		$(this).toggleClass('green');
	})
});
var parts=new Array(3);
var contents={$contents};
var clen = contents.length;
if(clen > 0){
	for(var i = 0 ; i<clen;i++){
		parts[contents[i].type-1]= contents[i]
	}
}
function templet(){
	$('.templet').off('click').on('click',function(){
		var index = $(this).attr('data-tab');
		var name = $(this).find('.title').text();
		$('.week').text(name).attr('data-tab',index);
        pushHistory();
		$('.main').fadeOut();
		$('.bg').fadeIn();
		var html = '<tr> <td>序号</td> <td>组数</td> <td>个数</td> <td>距离</td> <td>项目</td> <td>详情</td> </tr>';
		if(parts[index]){
			var trs = parts[index].content;
			var len = trs.length;
			for(var i = 0 ; i<len;i++){
				html+=
					'<tr>'+
					'<td>'+(i+1)+'</td>'+
					'<td class="group">'+trs[i][0]+'</td>'+
					'<td class="num">'+trs[i][1]+'</td>'+
					'<td class="distance">'+trs[i][2]+'</td>'+
					'<td class="pose">'+trs[i][3]+'</td>'+
					'<td class="detail">'+trs[i][4]+'</td>'+
					'</tr>';
			}
			$('table').html(html);
			$('#contentself').val(parts[index].contentself);
			$('.load span').eq(parts[index].load-1).addClass('active').siblings('span').removeClass('active');
			$('.strength span').eq(parts[index].strength-1).addClass('active').siblings('span').removeClass('active');
			$('.duration span').eq(parts[index].duration-1).addClass('active').siblings('span').removeClass('active');
		}else{
			html+='';
//				'<tr>'+
//				'<td>'+1+'</td>'+
//				'<td class="group">1</td>'+
//				'<td class="num">1</td>'+
//				'<td class="distance">-</td>'+
//				'<td class="pose">-</td>'+
//				'</tr>';
			$('table').html(html);
			$('#contentself').val('');
			$('.load span').eq(0).addClass('active').siblings('span').removeClass('active');
			$('.strength span').eq(0).addClass('active').siblings('span').removeClass('active');
			$('.duration span').eq(0).addClass('active').siblings('span').removeClass('active');
		}
	});
}
function daySave(){
	$('.daysave').off('click').on('click',function(){
		$('.bg').fadeOut();
		$('.main').fadeIn();
		enable_back();
	})
}
function wordSum(){
	$('#need,#load,#content').on('input',function(){
		var len = $(this).val().length;
		$(this).next('.sum').find('span').text(len);
		if(len > 20){
			$(this).next('.sum').find('span').addClass('red');
		}else{
			$(this).next('.sum').find('span').removeClass('red');
		}
	});
}
//退出清理tab缓存
function isOut(){
    pushHistory();
    setTimeout(function(){
        window.addEventListener("popstate", function(e) {
            delCookie("type");
            window.location.href = "/home/coach/weekplan/id/0.html";
        }, false);
    },200)
}
//防止恶意刷新
function pushHistory(){
    var sta = {
        title: "title"
    };
    if( window.history.state === null )
    {
        window.history.pushState( sta, "title" );
    }
    window.addEventListener("popstate", function(e) {
        window.history.go(0);
    }, false);
}
function setCookie(name,value){
    var Days = 30;
    var exp = new Date();
    exp.setTime(exp.getTime() + Days*24*60*60*1000);
    document.cookie = name + "="+ value + ";expires=" + exp.toGMTString();
}
function getCookie(name){
    var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
    if(arr=document.cookie.match(reg))
        return arr[2];
    else
        return null;
}
function delCookie(name){
    var exp = new Date();
    exp.setTime(exp.getTime() - 1);
    var cval=getCookie(name);
    if(cval!=null)
        document.cookie= name + "="+cval+";expires="+exp.toGMTString();
}


</script>
{/block}