{extend name="public/common"}

{block name="style"}
<title>训练档案</title>
<link rel="stylesheet" href="/home/css/coach/publish.css">
{/block}

{block name="body"}
<div class="main">
	<div class="tag">周计划</div>
	<div class="list clear">
		<span class="title fl">计划标题</span>
		<input type="text" value="{$res.title}" class="fr limit" name="title" readonly>
	</div>
	<div class="list clear">
		<span class="title fl">开始时间</span>
		<input type="text" value="{$res.start_time}" class="fr" readonly="readonly" id="start" name="start" >
	</div>
	<div class="list clear">
		<span class="title fl">结束时间</span>
		<input type="text" value="{$res.end_time}" class="fr"  readonly="readonly" id="end" name="end">
	</div>
	<div class="list">
		<span class="title">任务需求</span>
		<div class="content">
			<textarea name="need" id="need" disabled="disabled">{$res.need}</textarea>
			<!--<div class="sum"><span>0</span>/200</div>-->
		</div>
	</div>
	<div class="tag">计划内容</div>
	<div class="list clear templet" data-tab="0">
		<span class="title fl">星期一</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
	<div class="list clear templet" data-tab="1">
		<span class="title fl">星期二</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
	<div class="list clear templet" data-tab="2">
		<span class="title fl">星期三</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
	<div class="list clear templet" data-tab="3">
		<span class="title fl">星期四</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
	<div class="list clear templet" data-tab="4">
		<span class="title fl">星期五</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
	<div class="list clear templet" data-tab="5">
		<span class="title fl">星期六</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
	<div class="list clear templet" data-tab="6">
		<span class="title fl">星期天</span>
		<span class="fa fa-angle-right fr green"></span>
	</div>
</div>
<!--日模板-->
<div class="bg">
	<div class="list clear">
		<span class="title fl">计划时间</span>
		<span class="fr limit week" data-tab="0">星期一</span>
	</div>
	<div class="list">
		<span class="title">训练内容</span>
		<table>
			<tr>
				<td>序号</td>
				<td>组数</td>
				<td>个数</td>
				<td>距离</td>
				<td>项目</td>
				<td>详情</td>
			</tr>
			<!--<tr>-->
				<!--<td>1</td>-->
				<!--<td class="group">1</td>-->
				<!--<td class="num">1</td>-->
				<!--<td class="distance">400</td>-->
				<!--<td class="pose">自由泳</td>-->
			<!--</tr>-->
		</table>
		<!--<span class="fa fa-plus addList"></span>-->
		<!--<div class="content">-->
		<!--<textarea name="content" id="content" placeholder="输入不多于200字。"></textarea>-->
		<!--<div class="sum"><span>0</span>/200</div>-->
		<!--</div>-->
	</div>
	<div class="list">
		<span class="title">自定义训练内容</span>
		<div class="content">
			<textarea name="contentself" id="contentself" placeholder="请输入自定义训练内容。" disabled="disabled"></textarea>
		</div>
	</div>
	<div class="list clear">
		<span class="title fl">负荷</span>
		<div class="load fr radiogroup">
			<span class="active">低</span>
			<span>中低</span>
			<span>中</span>
			<span>中高</span>
			<span>高</span>
		</div>
	</div>
	<div class="list clear">
		<span class="title fl">时间（h）</span>
		<div class="duration fr radiogroup">
			<span class="active">1</span>
			<span>1.5</span>
			<span>2</span>
			<span>2.5</span>
			<span>3</span>
		</div>
	</div>
	<!--<div class="daysave">返回</div>-->
</div>
{/block}

{block name="script"}
<script>
$(function(){
	//内容模板
	templet();
	//字数统计
	wordSum();
	//保存日计划
	daySave();

});
var days=new Array(7);
var contents={$contents};
var clen = contents.length;
if(clen > 0){
	for(var i = 0 ; i<clen;i++){
		days[contents[i].type - 1]= contents[i]
	}
}
function daySave(){
	$('.daysave').off('click').on('click',function(){
		$('.bg').fadeOut();
		enable_back();
	})
}
function templet(){
	$('.templet').off('click').on('click',function(){
		var index = $(this).attr('data-tab');
		var name = $(this).find('.title').text();
		$('.week').text(name).attr('data-tab',index);
		bghide();
//		fobidden_back();
		$('.main').fadeOut();
		$('.bg').fadeIn();
		var html = '<tr> <td>序号</td> <td>组数</td> <td>个数</td> <td>距离</td> <td>项目</td> <td>详情</td>  </tr>';
		if(days[index]){
			var trs = days[index].content;
			var len = trs.length;
			for(var i = 0 ; i<len;i++){
				html+=
					'<tr>'+
					'<td>'+(i+1)+'</td>'+
					'<td class="group">'+trs[i][0]+'</td>'+
					'<td class="num">'+trs[i][1]+'</td>'+
					'<td class="distance">'+trs[i][2]+'</td>'+
					'<td class="pose">'+trs[i][3]+'</td>'+
					'<td class="detail">'+trs[i][4]+'</td>'+
					'</tr>';
			}
			$('table').html(html);
			$('#contentself').val(days[index].contentself);
			$('.load span').eq(days[index].load-1).addClass('active').siblings('span').removeClass('active');
			$('.duration span').eq(days[index].duration-1).addClass('active').siblings('span').removeClass('active');
		}else{
			html+='';
//				'<tr>'+
//				'<td>1</td>'+
//				'<td class="group">1</td>'+
//				'<td class="num">1</td>'+
//				'<td class="distance">-</td>'+
//				'<td class="pose">-</td>'+
//				'</tr>';
			$('table').html(html);
			$('#contentself').val('');
			$('.load span').eq(0).addClass('active').siblings('span').removeClass('active');
			$('.duration span').eq(0).addClass('active').siblings('span').removeClass('active');
		}
	});
}
function wordSum(){
	$('#need').on('input',function(){
		var len = $(this).val().length;
		$(this).next('.sum').find('span').text(len);
		if(len > 200){
			$(this).next('.sum').find('span').addClass('red');
		}else{
			$(this).next('.sum').find('span').removeClass('red');
		}
	});
	$('#load,#content').on('input',function(){
		var len = $(this).val().length;
		$(this).next('.sum').find('span').text(len);
		if(len > 100){
			$(this).next('.sum').find('span').addClass('red');
		}else{
			$(this).next('.sum').find('span').removeClass('red');
		}
	});
}
</script>
{/block}