{extend name="public/common"}

{block name="style"}
<title>训练档案</title>
<link rel="stylesheet" href="/static/mobiscroll/mobiscroll.2.13.2.css">
<link rel="stylesheet" href="/home/css/coach/publish.css">
{/block}

{block name="body"}
<div class="tag">每周小结</div>
<div class="list clear">
	<span class="title fl">小结标题</span>
	<input type="text" readonly class="fr limit" name="title" value="{$res.title}">
</div>
<div class="list clear">
	<span class="title fl">开始时间</span>
	<input type="text" value="{$res.start_time}" class="fr" readonly="readonly" id="start" name="start">
</div>
<div class="list clear">
	<span class="title fl">结束时间</span>
	<input type="text" value="{$res.end_time}" class="fr"  readonly="readonly" id="end" name="end">
</div>
<div class="list">
	<span class="title">重点运动员完成情况</span>
	<div class="content">
		<textarea name="content" id="content" placeholder="输入不多于300字。" disabled="disabled">{$res.content}</textarea>
		<div class="sum"><span>0</span>/300</div>
	</div>
</div>
<div class="list summary">
	<span class="title">周小结</span>
	<div class="content">
		<textarea name="summary" id="summary" placeholder="输入不多于300字。" disabled="disabled">{$res.summary}</textarea>
		<div class="sum"><span>0</span>/300</div>
	</div>
</div>

{/block}

{block name="script"}
<script>
$(function(){
	//字数统计
	wordSum();
});
</script>
{/block}