{extend name="public/common"}

{block name="style"}
<title>教练频道</title>
<link rel="stylesheet" href="/home/css/coach/index.css">
<link rel="stylesheet" href="/home/css/structure/mobileSelect.css">
<link rel="stylesheet" href="/home/css/structure/public.css">
<style>
	.hideKey {
		background-color: #f9f9f9;
		text-align: center;
		font-size: 1.3rem;
		line-height: 8vw;
		display: inline-block;
		width: 100vw;
	}
	.class_name{
		position: fixed;
		right: 0;
		bottom: 22vw;
		width: 35vw;
		height: 9.4vw;
		line-height: 9.4vw;
		text-align: center;
		background: -webkit-linear-gradient(left, #6cd9ff , #50c9ff);
		color: #ffffff;
		border-radius: 10vw 0vw 0vw 10vw;
		z-index: 999;
		box-shadow: 0 3px 5px #87e6fc;
	}
	.class_name span {
		width: 100%;
		height: 100%;
		display: inline-block;
		font-size: 1.3rem;
	}
	.class_name>img{
		width: 4.8vw;
		position: absolute;
		top: 3.5vw;
		right: 1vw;
	}
	.hideKey1{
		display:none;
	}
	.students .list:last-child{
		margin-bottom: 0!important;
	}
</style>
{/block}

{block name="body"}
<!--三个模块-->
<div class="boxs">
	<!--我的学员-->
	<div class="box hidden clear">
		<div class="content">
			<!--学员标签-->
			{empty name="$tag"}
			{else/}
			<div class="tabbox">
				<div class="tags clear">
					<div class="tag active">长期学员</div>
					<div class="tag fr">潜力学员</div>
				</div>
			</div>
			{/empty}
			<!--列表-->

			{empty name="$tag"}
			<div class="class_name"><span></span><img src="/home/images/structure/right.png"/></div>
			<div class="lists">
				{volist name="headStudentModel" id="model"}
				<span class="hideKey">{$key}</span>
				<div class="students">
					{volist name="model" id="vo"}
					<a href="{:Url('sign?did='.$vo['userid'])}" class="list clear">
						<div class="ll fl">
							{empty name="$vo.header"}
							<img src="<?php echo param_to($vo['avatar'], \think\Config::get('de_header')); ?>" alt="学员头像" class="user">
							{else/}
							<img src="{$vo.header|get_cover='path'}" alt="学员头像" class="user">
							{/empty}
							{if condition="$vo.gender eq 2"}
							<img src="/home/images/coach/female.png" alt="女" class="sex">
							{else/}
							<img src="/home/images/coach/male.png" alt="男" class="sex">
							{/if}
						</div>
						<div class="lr fr">
							<div class="top">
								<span class="name limit">{$vo.name}</span>
								<span class="age limit">{$vo.age}岁</span>
							</div>
							<div class="note">身高 : {$vo.height|param_to='_'} cm 体重 : {$vo.weight|param_to='_'} kg</div>
							<div class="note">课程 : 已上{$vo.count}节</div>
						</div>
					</a>
					{/volist}
				</div>
				{/volist}
			</div>
			{else/}
			<div class="class_name"><span></span><img src="/home/images/structure/right.png"/></div>
			<div class="lists">
				{volist name="longStudentModel" id="model"}
				<span class="hideKey">{$key}</span>
				<div class="students">
					{volist name="model" id="vo"}
					<a href="{:Url('sign?did='.$vo['userid'])}" class="list clear">
						<div class="ll fl">
							{empty name="$vo.header"}
							<img src="<?php echo param_to($vo['avatar'], \think\Config::get('de_header')); ?>" alt="学员头像" class="user">
							{else/}
							<img src="{$vo.header|get_cover='path'}" alt="学员头像" class="user">
							{/empty}
							{if condition="$vo.gender eq 2"}
							<img src="/home/images/coach/female.png" alt="女" class="sex">
							{else/}
							<img src="/home/images/coach/male.png" alt="男" class="sex">
							{/if}
						</div>
						<div class="lr fr">
							<div class="top">
								<span class="name limit">{$vo.name}</span>
								<span class="age limit">{$vo.age}岁</span>
							</div>
							<div class="note">身高 : {$vo.height|param_to='_'} cm 体重 : {$vo.weight|param_to='_'} kg</div>
							<div class="note">课程 : 已上{$vo.count}节</div>
						</div>
					</a>
					{/volist}
				</div>
				{/volist}
			</div>
			<div class="lists hideKey1">
				<!--<div class="class_name"><span></span><img src="/home/images/structure/right.png"/></div>-->
				{volist name="potentialStudentModel" id="model"}
				<span class="hideKey">{$key}</span>
				<div class="students">
					{volist name="model" id="vo"}
					<a href="{:Url('sign?did='.$vo['userid'])}" class="list clear">
					<div class="ll fl">
						{empty name="$vo.header"}
						<img src="<?php echo param_to($vo['avatar'], \think\Config::get('de_header')); ?>" alt="学员头像" class="user">
						{else/}
						<img src="{$vo.header|get_cover='path'}" alt="学员头像" class="user">
						{/empty}
						{if condition="$vo.gender eq 2"}
						<img src="/home/images/coach/female.png" alt="女" class="sex">
						{else/}
						<img src="/home/images/coach/male.png" alt="男" class="sex">
						{/if}
					</div>
					<div class="lr fr">
						<div class="top">
							<span class="name limit">{$vo.name}</span>
							<span class="age limit">{$vo.age}岁</span>
						</div>
						<div class="note">身高 : {$vo.height|param_to='_'} cm 体重 : {$vo.weight|param_to='_'} kg</div>
						<div class="note">课程 : 已上{$vo.count}节</div>
					</div>
				</a>
					{/volist}
				</div>
				{/volist}
			</div>
			{/empty}
		</div>
	</div>
	<!--训练档案-->
	<div class="box hidden">
		<div class="banner">
			<img src="/home/images/coach/banner02.png" alt="训练档案banner" class="banner-img">
		</div>
		<div class="mylist">
			<a href="{:Url('Coach/allsign')}" class="list clearfix">
				<img src="/home/images/coach/mid1.png" alt="学员签到logo">
				<div class="content fl">
					<div class="name">学员签到</div>
					<div class="detail">可查阅学员签到具体信息</div>
				</div>
				<i class="fa fa-angle-right fr"></i>
			</a>
			<a href="{:Url('Coach/weekplan?id=0')}" class="list clearfix">
				<img src="/home/images/coach/mzjh.png" alt="每周计划logo">
				<div class="content fl">
					<div class="name">每周计划</div>
					<div class="detail">可制定每周训练计划</div>
				</div>
				<i class="fa fa-angle-right fr"></i>
			</a>
			<a href="{:Url('Coach/classplan')}" class="list clearfix">
				<img src="/home/images/coach/ksjh.png" alt="课时计划logo">
				<div class="content fl">
					<div class="name">课时计划</div>
					<div class="detail">可制定课时计划</div>
				</div>
				<i class="fa fa-angle-right fr"></i>
			</a>
			<a href="{:Url('Coach/weekplan?id=1')}" class="list clearfix">
				<img src="/home/images/coach/mzzj.png" alt="每周总结logo">
				<div class="content fl">
					<div class="name">每周总结</div>
					<div class="detail">可制定每周训练计划</div>
				</div>
				<i class="fa fa-angle-right fr"></i>
			</a>
		</div>

	</div>
	<!--个人中心-->
	<div class="box hidden">
		<div class="banner">
			<img src="/home/images/structure/banner.png" alt="个人中心banner" class="banner-img">
			<!--头像照片-->
			{empty name="$userModel.header"}
			<div data-tab="<?php echo param_to($userModel['avatar'], \think\Config::get('de_header')); ?>"  class="user up"></div>
			{else/}
			<div data-tab="{$userModel.header|get_cover='path'}"  class="user up"></div>
			{/empty}
			<input type="file" class="hidden" id="upload" accept="image/jpg, image/png, image/gif, image/jpeg">
			<input type="hidden" name="header"  value="" required="">
		</div>
		<div class="mylist">
			<a href="{:Url('user/tutor')}" class="list clear">
				<span class="name">个人信息</span>
				<span class="fa fa-angle-right"></span>
			</a>
			<a href="{:Url('mysign')}" class="list clear">
				<span class="name">我的签到</span>
				<span class="fa fa-angle-right"></span>
			</a>
			<a href="{:Url('user/mycollect')}" class="list clear">
				<span class="name">我的收藏</span>
				<span class="fa fa-angle-right"></span>
			</a>
			<a href="{:Url('coach/code')}" class="list clear">
				<span class="name">我要签到</span>
				<span class="fa fa-angle-right"></span>
			</a>

		</div>
	</div>
</div>

<!--切换-->
<div class="tabs">
	<a href="javaScript:; "class="tab active"> 我的学员</a>
	<a href="javaScript:;" class="tab">训练档案</a>
	<a href="javaScript:;" class="tab">个人中心</a>
</div>
{/block}

{block name="script"}
<script src="/home/js/mobileSelect.js"></script>
<script>
$(function(){
	//tab值记录
	tabRecord('.tab' ,'.box');
	//tab切换
	tabSwitch('.tab' ,'.box');
	//tag切换
	tagswich();
	//头像大小自适应
	imgfit();
	//清除缓存
    isOut();
	//修改头像
	//触发上传按钮
	$('.up').off("click").on('click',function(){
		//栈溢出
		$('#upload')[0].click()
	});
	//上传图片并获取信息
	$('#upload').off("change").on('change',function(){
		var up = $('.up' );
		var ww = up.width();
		var size = ($(this)[0].files[0].size / 1024).toFixed(2);
		if(size <= 5120){
			var img = $(this)[0].files[0];
			var formData = new FormData();
			formData.append("picture",img);
			$.ajax({
				type:"post",
				url:"{:Url('File/uploadPicture')}",
				data:formData,
				processData : false,
				contentType : false,
				success:function(data){
					var msg = $.parseJSON(data);
					console.log(msg);
					if(msg.code == 1){
						var image = new Image();
						image.src = msg.data.path ;
						up.css({"background-image":'url('+msg.data.path+')'});
						image.onload = function(){
							if(image.width > image.height){
								up.css({"background-size":'auto '+ww +'px'});
							}else{
								up.css({"background-size":ww +'px'+' auto '});
							}
						};
						$.ajax({
							type:"post",
							url:"{:Url('User/setHeader')}",
							data:{
								header:msg.data.id,
								id:'{$userModel.id}'
							},
							dataType: "Json",
							success:function(){
								console.log(msg.data.id)
							}
						})
					} else {
                        swal({
                            title: ' ',
                            text: '上传失败，请从新上传！',
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
					}
				}
			});
		} else {
            swal({
                title: ' ',
                text: '您的图片超过5M，请重新选择',
                type: 'warning',
                showConfirmButton:false,
                timer:1500
            });
		}
	});
    // 右侧固定时间条
    $(".box").find(".class_name").eq(1).hide();
    $(".class_name").find("span").html($(".hideKey").html());

    var date = {$class_arr};

    $(window).scroll(function() {
        var t = $(window).scrollTop();
        var $study;
        for(var i = 0; i < date.length; i++) {
           var $study=$(".students").eq(i).find("a");
            var height = $(".students").eq(i).outerHeight();
            $study += parseFloat(height);
            if(t >= $study - $(".hideKey").height() + $(".tabbox").height()){
                $(".class_name").find("span").html(date[i]);
            }else if(t == 0) {
                $(".class_name").find("span").html(date[0]);
            }
        }
    });


    // 弹出窗
    var mobileSelect1 = new MobileSelect({
        trigger: ".class_name span",
        title: '',
        wheels: [
            {data:date}
        ],
        position:[0] //初始化定位
    });

    $(".mobileSelect .ensure").on("touchstart",function (e) {
        var t = $(".class_name span").html();
        var $study = 0;
        for(i in date) {
            var height = $(".students").eq(i-1).height();
            if (i == 0) {
                height = 0;
			}
            $study += parseFloat(height);
			if(date[i] == t) {
				if(i == 0) {
					$('body,html').animate({scrollTop:0},1000);
					return false;
				}else if(i >= 1){
					$('body,html').animate({scrollTop:$study + $(".content").find(".lists").find(".hideKey").height()+ $(".tabbox").height()},1000);
					return false;
				}
			}
        }
        return false;
    });

});

// 初始化判断是否有学员列表
if($(".lists").eq(0).find(".students").length == 0) {
    $(".class_name").hide();
}else {
    $(".class_name").show();
}
function tagswich(){
	var list;

	$('.tag').off('click').on('click',function(e){
	    //  解绑滚动事件
        $(window).unbind("scroll");
        $('.box').find('.lists').hide();

        var index = $(this).index();
        list = $('.box').eq(0).find('.lists').eq(index);
        list.fadeIn();
        $(this).addClass('active').siblings('.tag').removeClass('active');

        // 弹窗
	    $(".mobileSelect").remove();

		$(".class_name").show();
		if($(".lists").eq(index).find(".students").length == 0) {
            $(".class_name").hide();
		}

		var date = [];
		if(index == 0) {
		    date = {$class_arr};
		}else {
		    date = {$class_arr2};
		}
        $(".class_name span").html(date[0]);
        var mobileSelect2 = new MobileSelect({
            trigger: ".class_name span",
            title: '',
            wheels: [
                {data:date}
            ],
            position:[0] //初始化定位
        });

        $(window).scroll(function() {
            var t = $(window).scrollTop();
            for(var i = 0; i < date.length; i++) {
                var $study=$(".students").eq(i).find("a");
                if(t>=$study.length * i + $study.outerHeight() - $(".hideKey").height() + $(".tabbox").height()){
                    $(".class_name").find("span").html(date[i]);
                }else {
                    $(".class_name").find("span").html(date[i-1]);
				}
            }
        });

        $(".mobileSelect .ensure").on("touchstart",function (e) {
            var t = $(".class_name span").html();
            var $study = 0;
            for(var i = 0; i < date.length; i++ ) {
                var height = list.children(".students").eq(i-1).height();
                if(i == 0) {
                    height = 0;
				}
                $study += parseFloat(height);
				if(date[i] == t) {
					if(i == 0) {
						$('body,html').animate({scrollTop:0},1000);
						return false;
					}else if(i >= 1){
						$('body,html').animate({scrollTop:$study + i * $(".content").find(".lists").eq(1).find(".hideKey").height() + $(".tabbox").height()},1000);
						return false;
					}
				}
            }
            return false;
        });
//		return false;
//		$(this).unbind("click");
	});
}

function imgfit(){
	var up = $('.up' );
	var path = up.attr('data-tab');
	var image = new Image();
	var ww = up.width();
	image.src = path ;
	up.css({"background-image":'url('+path+')'});
	image.onload = function(){
		if(image.width > image.height){
			up.css({"background-size":'auto '+ww +'px'});
		}else{
			up.css({"background-size":ww +'px'+' auto '});
		}
	};
}

//退出清理tab缓存
function isOut(){
    pushHistory();
    setTimeout(function(){
        window.addEventListener("popstate", function(e) {
            delCookie("type");
            window.location.href = "/home/visitor/index.html";
        }, false);
    },200)
}
//防止恶意刷新
function pushHistory(){
    var sta = {
        title: "title"
    };
    if( window.history.state === null )
    {
        window.history.pushState( sta, "title" );
    }
}
function setCookie(name,value){
    var Days = 30;
    var exp = new Date();
    exp.setTime(exp.getTime() + Days*24*60*60*1000);
    document.cookie = name + "="+ value + ";expires=" + exp.toGMTString();
}
function getCookie(name){
    var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
    if(arr=document.cookie.match(reg))
        return arr[2];
    else
        return null;
}
function delCookie(name){
    var exp = new Date();
    exp.setTime(exp.getTime() - 1);
    var cval=getCookie(name);
    if(cval!=null)
        document.cookie= name + "="+cval+";expires="+exp.toGMTString();
}
function loadScroll(){}
</script>
{/block}