{extend name="public/common"}

{block name="style"}
<title>教练频道</title>
<link rel="stylesheet" href="/home/css/coach/sign.css">
<style>

</style>
{/block}

{block name="body"}
<div class="banner">
	<div class="user clear">
		<!--男class:male,女：female-->
		<div class="sex male fl">
			<img src="/home/images/tem/5.jpg" alt="用户头像">
		</div>
		<div class="msgs fl">
			<div class="name limit">小小白</div>
			<div class="note">12岁&emsp;长期学员</div>
		</div>
	</div>
	<a href="" class="todetail">
		<span>学员详情</span>
	</a>
	<div class="tags">
		<span class="tag">缺卡记录 : 0次</span>
		<span class="tag">迟到记录 : 100节</span>
	</div>
</div>
<div id="calendar">

	<!--<modal :show.sync="showModal">-->
		<!--<h3 slot="header">比气体</h3>-->
	<!--</modal>-->
	<div class="header clear" id="show-modal" @click="showModal = true" >
		<span class="logo fl"></span>
		<span class="now-y-m">{{ nowYear}}年{{ formatNowMonth }}月 <i class="fa fa-angle-down"></i></span>
	</div>
	<div class="sdbox">
		<div class="top">打卡情况</div>
		<div class="title">
			<span v-for="week in weeks">{{ week }}</span>
		</div>
		<div class="content">
			<ul>
				<li v-for="(day,index) in days" :class="{'normal' : day in normal}" :key="index">
					<span>{{ day }}</span>
				</li>
			</ul>
		</div>
	</div>

</div>
<div class="color">
	<span class="normal">正常</span>
	<span class="late">迟到</span>
	<span class="absence">缺勤</span>
</div>


{/block}

{block name="script"}
<script src="/static/vue/vue.js"></script>
<!--<script type="x/template" id="modal-template">-->
<!--<div class="modal-mask" v-show="show" transition="modal">-->
	<!--<div class="modal-wrapper">-->
		<!--<div class="modal-container">-->
			<!--<div class="modal-header">-->
				<!--<slot name="header">-->
					<!--default header-->
				<!--</slot>-->
			<!--</div>-->
			<!--<div class="modal-body">-->
				<!--<slot name="body">-->
					<!--default body-->
				<!--</slot>-->
			<!--</div>-->
			<!--<div class="modal-footer">-->
				<!--<slot name="footer">-->
					<!--default footer-->
					<!--<button class="modal-default-button"-->
							<!--@click="show = false">-->
						<!--OK-->
					<!--</button>-->
				<!--</slot>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!--</script>-->

<script>
//注册弹窗
//Vue.component('modal', {
//	template: '#modal-template',
//	props: {
//		show: {
//			type: Boolean,
//			required: true,
//			twoWay: true
//		}
//	}
//});
var calendar = new Vue({
	el: '#calendar',
	data: {
		weeks: ['日', '一', '二', '三', '四', '五', '六'],
		days: [],
		nowMonth: null,
		nowYear: null,
		nowDate: null,
		showModal: false
	},
	computed: {
		today: function() {
			var date = new Date();
			if (this.nowYear === date.getFullYear() && this.nowMonth === date.getMonth()) {
				return (this.getFirstDay(this.nowYear, this.nowMonth) + this.nowDate - 1);
			}
			return false;
		},
		normal: function(){
			return [2,4,6,8];
		},
		late:function(){
			return 4;
		},
		absence: function(){

		},
		formatNowMonth: function() {
			if (this.nowMonth < 9) {
				return '0' + (this.nowMonth + 1);
			}
			return this.nowMonth + 1;
		}
	},
	created(){
		this.$nextTick(() => {
			this.nowDate();
		this.init();
	})
	},
	methods: {
		// 获取当月天数
		getDates: function(year, month) {
			var date = new Date(year, month+1, 0);
			return date.getDate();
		},
		// 获取当月第一天是星期几
		getFirstDay: function(year, month) {
			var date = new Date();
			var firstDay = new Date(year, month, 1);
			return firstDay.getDay();
		},
		nowDate: function() {
			var date = new Date();
			this.nowYear = date.getFullYear();
			this.nowMonth = date.getMonth();
			this.nowDate = date.getDate();
		},
		init: function() {
			this.days = [];
			var date = new Date();
			var dates = this.getDates(this.nowYear, this.nowMonth);
			var firstDay = this.getFirstDay(this.nowYear, this.nowMonth);
			var totalLength = 42;
			if (firstDay != 0) {
				for (var i = 0; i < firstDay; i++) {
					this.days.push('');
				}
			}
			for (var m = 0; m < dates; m++) {
				this.days.push(m + 1);
			}
			var daysLength = this.days.length;
			if (daysLength < totalLength) {
				for (var n = 0; n < totalLength - daysLength; n++)
					this.days.push('');
			}
		},
		preMonth: function() {
			if (this.nowMonth <= 0) {
				this.nowYear -= 1;
				this.nowMonth = 11;
			} else {
				this.nowMonth -= 1;
			}
			this.init();
		},
		nextMonth: function() {
			if (this.nowMonth >= 11) {
				this.nowYear += 1;
				this.nowMonth = 0;
			} else {
				this.nowMonth += 1;
			}
			this.init();
		},
		showDate: function(day) {
			if (day === '') {
				return;
			}
			//alert(this.nowYear + '-' + (this.nowMonth + 1)+ '-' +(day));
		},
		changeDate: function(){

			this.nowYear = 2017;
			this.nowMonth = 1;
			this.init();
		},


	},

});
</script>
{/block}