{extend name="public/common"}

{block name="style"}
<title>训练档案</title>
<link rel="stylesheet" href="/home/css/coach/weekplan.css">
<link rel="stylesheet" href="/static/mobiscroll/mobiscroll.2.13.2.css">
{/block}

{block name="body"}
<div class="date clear">
	<img src="/home/images/coach/cal.png" alt="日历">
	<label for="start" class="fr">
	<input value="<?php echo date('Y年m月')?>"  readonly="readonly" id="start" type="text">
	<i class="fa fa-angle-down"></i>
	</label>
</div>
<div class="lists">
	<!--每周计划详情页dweekPlan.html,课时计划详情页dclassPlan.html,每周总结详情页dweekSummary.html-->
	<div class="list">
		<div class="content">
			<!--每周计划、每周总结-->
			<div class="title limit">2017年第一周周计划</div>
			<div class="time">2017-06-06 —— 2017-06-06 </div>
			<!--/每周计划、每周总结-->
		</div>
		<div class="note clear">
			<span>浏览 ： 121</span>
			<a href="dweekPlan.html" class="fr detail">查看详情</a>
			<a href="dweekPlan.html" class="fr edit">编辑</a>
		</div>
	</div>
	<div class="list">
		<div class="content">
			<!--课时计划-->
			<div class="time limit">2017-06-06 星期六</div>
			<div class="content limit">今天好开心好开心好开心今天好开心好开心好开心</div>
			<!--/课时计划-->
		</div>
		<div class="note clear">
			<span>浏览 ： 121</span>
			<a href="detail.html" class="fr detail">查看详情</a>
			<a href="edit.html" class="fr edit">编辑</a>
		</div>
	</div>
</div>
<!--每周计划发布pweekPlan.html,课时计划发布pclassPlan.html,每周总结发布pweekSummary.html-->
<a href="pweekPlan.html" class="publish">
	<img src="/home/images/coach/add.png" alt="">
</a>
{/block}

{block name="script"}
<script src="/static/mobiscroll/mobiscroll.2.13.2.js"></script>
<script>
$(function(){
	timeSelect()
});
function timeSelect(){
	var currYear = (new Date()).getFullYear();
	var opt={};
	opt.date = {preset : 'date'};
	opt.default = {
		theme: 'android-holo light',
		display: 'modal',
		mode: 'scroller',
		dateFormat: 'yyyy年mm月',
		lang: 'zh',
		showNow: true,
		nowText: "今天",
		startYear: currYear,
		endYear: currYear + 50,
		onBeforeShow: function (inst) {
			inst.settings.wheels[0].length>2?inst.settings.wheels[0].pop():null;
		},
		onSelect: function (valueText, inst) {
			var time = $('#start').val();
			$.ajax({
				type:"post",
				url:"",
				data:{
					time:time

				},
				success:function(data){
					var lists = $.parseJSON(data);
					var len = lists.length;
					var html = '';
					for(var i= 0 ;i<len;i++){
						html +=
							'<div class="list">'+
							'<div class="content">'+
							'<div class="title">2017年第一周周计划</div>'+
							'<div class="time">2017-06-06 —— 2017-06-06 </div>'+
							'</div>'+
							'<div class="note clear">'+
							'<span>浏览 ： 121</span>'+
							'<a href="detail.html" class="fr detail">查看详情</a>'+
							'<a href="edit.html" class="fr edit">编辑</a>'+
							'</div>'+
							'</div>'
					}
					$('.lists').html(html);
				}
			});
		}
	};
	$("#start").mobiscroll($.extend(opt['date'], opt['default']));
	$("#end").mobiscroll($.extend(opt['date'], opt['default']));
}
</script>
{/block}