.box {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.box .bg {
  position: relative;
  top: 18vw;
}
.box .bg .code {
  width: 100vw;
}
.box .bg #qrcode {
  z-index: 1;
  position: absolute;
  top: 35vw;
  left: 23vw;
  display: block;
  border: 2vw solid #ffffff;
}
.box .bg #qrcode .header {
  z-index: 2;
  position: absolute;
  top: 16vw;
  left: 16vw;
  width: 18vw;
  height: 18vw;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
