@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
.shadow {
  box-shadow: 1px 3px 8px rgba(102, 102, 102, 0.2);
}
body {
  background: #f7f7f7;
}
a {
  display: inline-block;
}
a:active {
  background-color: #ebebeb;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d9d9d9;
}
.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4.6rem;
  background: #f7f7f7;
  box-shadow: 0 -3px 4px rgba(110, 110, 110, 0.2);
  padding: 0 5vw;
}
.tabs .tab {
  display: inline-block;
  width: 29vw;
  height: 100%;
  color: #bfbfbf;
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: center;
}
.tabs .tab:nth-child(1) {
  background: url('/home/images/coach/tab1.png') center 0.6rem no-repeat;
}
.tabs .tab:nth-child(2) {
  background: url('/home/images/coach/tab2.png') center 0.6rem no-repeat;
}
.tabs .tab:nth-child(3) {
  background: url('/home/images/coach/tab3.png') center 0.6rem no-repeat;
}
.tabs .tab:nth-child(1).active {
  background: url('/home/images/coach/tab1_.png') center 0.3rem no-repeat;
}
.tabs .tab:nth-child(2).active {
  background: url('/home/images/coach/tab2_.png') center 0.3rem no-repeat;
}
.tabs .tab:nth-child(3).active {
  background: url('/home/images/coach/tab3_.png') center 0.3rem no-repeat;
}
.tabs .tab:nth-child(1),
.tabs .tab:nth-child(2),
.tabs .tab:nth-child(3),
.tabs .tab:nth-child(1).active,
.tabs .tab:nth-child(2).active,
.tabs .tab:nth-child(3).active {
  background-size: 2.6rem 2.6rem;
  padding-top: 2.5rem;
}
.tabs .tab:nth-child(1).active,
.tabs .tab:nth-child(2).active,
.tabs .tab:nth-child(3).active {
  background-size: 2.5rem 2.5rem;
  padding-top: 2.5rem;
}
.tabs .active {
  color: #f99402;
}
.boxs {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 64vw;
}
.boxs .box {
  position: absolute;
  top: 0;
  width: 99vw;
}
.boxs .box .banner {
  position: relative;
  width: 100vw;
  height: 50vw;
}
.boxs .box .banner .banner-img {
  width: 100vw;
  height: 50vw;
}
.boxs .box .banner .user {
  position: absolute;
  top: 17vw;
  left: 42vw;
  width: 16vw;
  height: 16vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.boxs .box .banner .up {
  display: inline-block;
  overflow: hidden;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.31);
  background: url("/home/images/common/default.png") center no-repeat;
  background-size: 16rem 16rem;
}
.boxs .box:nth-child(1) {
  left: 0;
}
.boxs .box:nth-child(1) .content {
  position: relative;
  width: 100vw;
}
.tabbox {
  position: relative;
  width: 100vw;
  height: 5rem;
  background: #f9f9f9;
}
.tabbox .tags {
  overflow: hidden;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 52.9vw;
  height: 2.8rem;
  background: #ffffff;
  border: 1px solid #2c79f9;
  color: #2c79f9;
  font-size: 1.4rem;
  line-height: 2.8rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.tabbox .tags .tag {
  display: inline-block;
  width: 26vw;
  height: 100%;
  text-align: center;
}
.tabbox .tags .active {
  background: #2c79f9;
  color: #ffffff;
}
.boxs .box:nth-child(1) .content .tags .tag:nth-child(2).active {
 background:#2c79f9;
  color:#ffffff;
}
.boxs .box:nth-child(1) .content .lists {
  padding-bottom: 29vw;
}
.boxs .box:nth-child(1) .content .lists .list {
  display: block;
  padding: 4vw;
  background: #ffffff;
  width: 100vw;
  height: 29vw;
  margin-bottom: 2vw;
}
.boxs .box:nth-child(1) .content .lists .list .ll {
  position: relative;
  top: 0;
  display: inline-block;
  width: 21vw;
  height: 21vw;
}
.boxs .box:nth-child(1) .content .lists .list .ll .user {
  width: 21vw;
  height: 21vw;
  -webkit-border-radius: 1.2vw;
  -moz-border-radius: 1.2vw;
  border-radius: 1.2vw;
}
.boxs .box:nth-child(1) .content .lists .list .ll .sex {
  position: absolute;
  width: 6vw;
  height: 6vw;
  right: 0;
  bottom: 0;
}
.boxs .box:nth-child(1) .content .lists .list .lr {
  display: inline-block;
  width: 66vw;
  height: 21vw;
  color: #999999;
  font-size: 1.2rem;
  line-height: 6vw;
}
.boxs .box:nth-child(1) .content .lists .list .lr .top span {
  display: inline-block;
}
.boxs .box:nth-child(1) .content .lists .list .lr .top .name {
  max-width: 40vw;
  color: #333333;
  font-size: 1.4rem;
  line-height: 7.5vw;
  font-weight: 600;
  margin-right: 2vw;
}
.boxs .box:nth-child(1) .content .lists .list .lr .top .age {
  width: 10vw;
  line-height: 8vw;
}
.boxs .box:nth-child(2) {
  left: 100vw;
}
.boxs .box:nth-child(2) .banner {
  width: 100vw;
  height: 32vw;
}
.boxs .box:nth-child(2) .banner .banner-img {
  width: 100%;
  height: 100%;
}
.boxs .box:nth-child(2) .mylist .list {
  display: block;
  padding: 1.2vw 4vw;
  width: 100vw;
  /*height: 5.4rem;*/
  color: #666666;
  font-size: 1.4rem;
  /*line-height: 4.4rem;*/
}
.boxs .box:nth-child(2) .mylist .list img {
  width: 12.8vw;
  height: 12.8vw;
  margin-top: 2vw;
  margin-right: 3vw;
  float: left;
}
.boxs .box:nth-child(3) {
  left: 200vw;
}
.boxs .box:nth-child(3) .mylist .list {
  display: block;
  padding: 0 4vw;
  width: 100vw;
  height:15vw ;
  color: #666666;
  font-size: 1.4rem;
  line-height: 15vw;
  border-bottom: 1px solid #dedede;
}
.boxs .box:nth-child(3) .mylist .list span {
  display: inline-block;
  width: 45vw;
}
.boxs .box:nth-child(3) .mylist .list span.name {
  position: relative;
  padding-left: 15vw;
  font-size: 1.4rem;
}
.boxs .box:nth-child(3) .mylist .list span.fa {
  color: #999999;
  font-size: 1.8rem;
  text-align: right;
}
.boxs .box:nth-child(3) .mylist .list:nth-child(1) .name:after,
.boxs .box:nth-child(3) .mylist .list:nth-child(2) .name:after,
.boxs .box:nth-child(3) .mylist .list:nth-child(3) .name:after {
  position: absolute;
  left: 0;
  top: 0.5rem;
  content: '';
  width: 3.6rem;
  height: 3.6rem;
}
.boxs .box:nth-child(3) .mylist .list:nth-child(1) .name {
  background: url('/home/images/coach/user1.png') 0 0.7rem no-repeat;
  background-size:10.8vw,10.8vw;
}
.boxs .box:nth-child(3) .mylist .list:nth-child(2) .name {
  background: url('/home/images/coach/user2.png') 0 0.7rem no-repeat;
  background-size: 10.8vw,10.8vw;
}
.boxs .box:nth-child(3) .mylist .list:nth-child(3) .name {
  background: url('/home/images/coach/user4.png') 0 0.7rem no-repeat;
  background-size: 10.8vw,10.8vw;
}
.boxs .box:nth-child(3) .mylist .list:nth-child(4) .name {
  background: url('/home/images/coach/wdewm.png') 0 0.7rem no-repeat;
  background-size: 10.8vw,10.8vw;
}

.mylist .content{
  width: 65vw;
  margin-top:2vw;
}
.mylist .content .name{
  color: #333333;
  font-size: 1.4rem;
  line-height:7vw;
}
.mylist .content .detail{
  color: #999999;
  font-size: 1.2rem;
  line-height: 4vw;
}
.mylist .fa{
  color: #999999;
  font-size: 2rem;
  line-height:16vw;
}