.banner {
  width: 100vw;
  height: 50vw;
}
.banner img {
  width: 100%;
  height: 100%;
}
#calendar {
  width: 88vw;
  margin: 0 auto;
}
#calendar .sdbox {
  position: relative;
  z-index: 1;
  background: #ffffff;
  -webkit-border-radius: 0 0 1vw 1vw;
  -moz-border-radius: 0 0 1vw 1vw;
  border-radius: 0 0 1vw 1vw;
  box-shadow: 0 0 2vw rgba(80, 80, 80, 0.2);
}
#calendar .sdbox:before,
#calendar .sdbox:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 4vw;
  width: 47vw;
  height: 4vw;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 6vw 2vw rgba(163, 163, 163, 0.2);
}
#calendar .sdbox:before {
  left: 0;
  transform: rotate(-5deg);
}
#calendar .sdbox:after {
  right: -0.5vw;
  transform: rotate(5deg);
}
#calendar .top {
  height: 8vw;
  line-height: 8vw;
  text-align: center;
  background: #ff9a08;
  margin: 4vw 0;
  color: #fff;
  font-size: 1.5rem;
  -webkit-border-radius: 1vw 1vw 0 0;
  -moz-border-radius: 1vw 1vw 0 0;
  border-radius: 1vw 1vw 0 0;
}
#calendar .top i {
  display: inline-block;
  width: 20vw;
  height: 8vw;
  line-height: 8vw;
  font-size: 2rem;
}
#calendar .top .time {
  position: relative;
}
#calendar .top .time input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#calendar .title {
  margin-top: 7vw;
  margin-bottom: 2vw;
  padding: 0 7.2vw;
}
#calendar .title span {
  display: inline-block;
  width: 10.5vw;
  text-align: center;
  color: #333333;
  font-size: 1.3rem;
  line-height: 6vw;
  margin-bottom: 2vw;
}
#calendar .content {
  overflow: hidden;
  padding: 0 7.2vw;
  background: #ffffff;
}
#calendar .content ul li {
  display: block;
  float: left;
  width: 10.5vw;
  height: 10vw;
  text-align: center;
  transition: all 0.1s;
}
#calendar .content ul li span {
  display: inline-block;
  width: 7vw;
  height: 7vw;
  color: #999999;
  font-size: 1.2rem;
  line-height: 7vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#calendar .content ul li.normal span {
  background: -moz-linear-gradient(left, #6cd8ff, #50c8ff);
  background: -webkit-gradient(linear, left top, left bottom, #6cd8ff, #50c8ff);
  background: -webkit-linear-gradient(left, #6cd8ff, #50c8ff);
  background: -o-linear-gradient(left, #6cd8ff, #50c8ff);
  background: -ms-linear-gradient(left, #6cd8ff, #50c8ff);
  background: linear-gradient(to right, #6cd8ff, #50c8ff);
}
#calendar .content ul li.late span {
  background: -moz-linear-gradient(left, #ffba1d, #ff9806);
  background: -webkit-gradient(linear, left top, left bottom, #ffba1d, #ff9806);
  background: -webkit-linear-gradient(left, #ffba1d, #ff9806);
  background: -o-linear-gradient(left, #ffba1d, #ff9806);
  background: -ms-linear-gradient(left, #ffba1d, #ff9806);
  background: linear-gradient(to right, #ffba1d, #ff9806);
}
#calendar .content ul li.absence span {
  background: -moz-linear-gradient(left, #fe8080, #ff6161);
  background: -webkit-gradient(linear, left top, left bottom, #fe8080, #ff6161);
  background: -webkit-linear-gradient(left, #fe8080, #ff6161);
  background: -o-linear-gradient(left, #fe8080, #ff6161);
  background: -ms-linear-gradient(left, #fe8080, #ff6161);
  background: linear-gradient(to right, #fe8080, #ff6161);
}
#calendar .content ul li.normal span,
#calendar .content ul li.late span,
#calendar .content ul li.absence span {
  color: #fff;
}
.color {
  text-align: center;
  color: #999999;
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 12vw;
}
.color span {
  position: relative;
  margin-right: 4rem;
}
.color span.normal {
  margin-left: 2rem;
}
.color span.absence {
  margin-right: 0;
}
.color span.normal:after {
  position: absolute;
  left: -1.5rem;
  content: '';
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background: -moz-linear-gradient(left, #6cd8ff, #50c8ff);
  background: -webkit-gradient(linear, left top, left bottom, #6cd8ff, #50c8ff);
  background: -webkit-linear-gradient(left, #6cd8ff, #50c8ff);
  background: -o-linear-gradient(left, #6cd8ff, #50c8ff);
  background: -ms-linear-gradient(left, #6cd8ff, #50c8ff);
  background: linear-gradient(to right, #6cd8ff, #50c8ff);
}
.color span.late:after {
  position: absolute;
  left: -1.5rem;
  content: '';
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background: -moz-linear-gradient(left, #ffba1d, #ff9806);
  background: -webkit-gradient(linear, left top, left bottom, #ffba1d, #ff9806);
  background: -webkit-linear-gradient(left, #ffba1d, #ff9806);
  background: -o-linear-gradient(left, #ffba1d, #ff9806);
  background: -ms-linear-gradient(left, #ffba1d, #ff9806);
  background: linear-gradient(to right, #ffba1d, #ff9806);
}
.color span.absence:after {
  position: absolute;
  left: -1.5rem;
  content: '';
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background: -moz-linear-gradient(left, #fe8080, #ff6161);
  background: -webkit-gradient(linear, left top, left bottom, #fe8080, #ff6161);
  background: -webkit-linear-gradient(left, #fe8080, #ff6161);
  background: -o-linear-gradient(left, #fe8080, #ff6161);
  background: -ms-linear-gradient(left, #fe8080, #ff6161);
  background: linear-gradient(to right, #fe8080, #ff6161);
}
