body {
  padding-bottom: 6rem;
}
.tag {
  width: 100vw;
  height: 4.5rem;
  padding: 0 4vw;
  background: #f7f7f7;
  color: 1.8rem;
  font-size: 1.3rem;
  line-height: 4.5rem;
}
.list {
  width: 100vw;
  padding: 0 4vw;
  color: #333333;
  font-size: 1.3rem;
  line-height: 4.5rem;
  border-bottom: 1px solid #f7f7f7;
}
.list.summary {
  border-bottom: none;
}
.list input {
  background: transparent;
  width: 66vw;
  color: #999999;
  text-align: right;
}
.list .fa-angle-right,
.list .fa-angle-down {
  margin-top: 1.4rem;
  font-size: 2rem;
  margin-left: 1rem;
  color: #999999;
}
.list .fa-angle-right.green,
.list .fa-angle-down.green {
  color: #3cb152;
}
.list .content {
  width: 92vw;
  height: 40vw;
  padding: 2VW 4vw;
  margin-bottom: 4vw;
  background: #fcfcfc;
  color: #666666;
  font-size: 1.3rem;
  line-height: 2rem;
  border: 1px solid #f7f7f7;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  border-radius: 1vw;
}
.list .content textarea {
  width: 84vw;
  min-height: 30vw;
  color: #333;
  background: #fcfcfc;
}
.list .content .sum {
  text-align: right;
  color: #999999;
  font-size: 1.2rem;
  line-height: 4vw;
}
.list .content .sum span.red {
  color: indianred;
}
.list .name {
  display: inline-block;
  width: 20vw;
}
.list .name.green {
  color: #3cb152;
}
.tems {
  display: none;
  margin: 0 auto;
  width: 92vw;
}
.tems div {
  width: 92vw;
  height: 3rem;
  padding: 0 4vw;
  color: #999999;
  font-size: 1.3rem;
  line-height: 3rem;
  text-align: right;
  border-bottom: 1px solid #f1f1f1;
}
.save {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 4.5rem;
  background: #8ad097;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 4.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
}
.main .content {
  margin-top: 4vw;
}
.bg {
  display: none;
  background: #ffffff;
}
.bg .daysave {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 4.5rem;
  background: #13a4f2;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 4.5rem;
  text-align: center;
  letter-spacing: 0.3rem;
}
.bg .radiogroup {
  color: #999999;
  font-size: 1.5rem;
}
.bg .radiogroup span {
  padding: 0 2vw;
}
.bg .radiogroup span.active {
  color: #00b3fb;
}
.bg table {
  margin-left: 2vw;
  margin-bottom: 4vw;
  width: 92vw;
}
.bg table tr {
  position: relative;
  top: 0;
  left: 0;
}
.bg table tr .del {
  position: absolute;
  top: 0;
  right: -80px;
  text-align: center;
  background: #ffcb20;
  color: #fff;
  width: 80px;
}
.bg table tr td {
  position: relative;
  width: 18vw;
  text-align: center;
  line-height: 2.6rem;
}
.bg table tr td .rs {
  z-index: 2;
  position: absolute;
  top: 2rem;
  background: #ffffff;
  border: 1px solid #eaeaea;
  text-align: center;
  color: #333333;
  font-size: 1.5rem;
}
.bg table tr td .rs div {
  width: 20vw;
  height: 3rem;
}
.bg table tr td .fa {
  color: #666666;
}
.bg table tr td:first-child,
.bg table tr td:nth-child(2),
.bg table tr td:nth-child(3) {
  width: 8vw;
}
.bg table tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}
.bg .fa-plus {
  color: #999999;
  font-size: 3rem;
  margin-left: 5vw;
}
