{extend name="public/common"}

{block name="style"}
<title>消息审核</title>
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.css">
<link rel="stylesheet" href="/home/css/review/passlist.css">
{/block}

{block name="body"}
<div class="views">
    <div class="list-block" id="list-block-company">
        <div id="nomessage">
            <img src="/home/images/common/nomessage.png" alt="" >
        </div>
        <ul>
            <li class="swipeout">
                <div class="swipeout-content">
                    <img src="11" alt="封面图片">
                    <div class="list">
                        <span class="title" >发第三方的所发生的</span>
                        <span class="sent_time">
                            <span style="margin-right: 5px;font-weight: bolder;display: block;height:25px;line-height:25px;">通知</span>
                            <span>审核人：111</span>
                            <span>2012-01-01</span>
                        </span>
                    </div>
                    <div class="arrow green">
                        <img src="/home/images/review/yes.png" alt="通过">
                    </div>

                    <!--<div class="arrow red">-->
                        <!--<img src="/home/images/review/tanhao.png" alt="拒绝">-->
                    <!--</div>-->

                </div>
            </li>
        </ul>
    </div>
</div>
{/block}

{block name="script"}
<script>
    if($("ul").find("li").length == 0){
        $('#nomessage').show()
    }
</script>
{/block}