{extend name="public/common"}

{block name="style"}
<title>消息审核</title>
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.css">
<link rel="stylesheet" href="/home/css/review/passlist.css">
<style>
    body {overflow: initial;}
</style>
{/block}

{block name="body"}
    <div class="list-block" id="list-block-company">
        <div id="nomessage">
            <img src="/home/images/common/nomessage.png" alt="" >
        </div>
        <ul>
            {volist name="res" id="vo"}
            <li class="swipeout">
                {if condition="$vo.tab eq 0"}
                    <?php $url = Url('news/detail?id='.$vo['id'].'&visit=1');?>
                    <div class="swipeout-content" onclick="jump('{$url}')">
                {elseif condition="$vo.tab eq 1"/}
                    <?php $url = Url('notice/detail?id='.$vo['id'].'&visit=1');?>
                    <div class="swipeout-content" onclick="jump('{$url}')">
                {else/}
                    <?php $url = Url('carddetail?id='.$vo['id']);?>
                    <div class="swipeout-content" onclick="jump('{$url}')">
                {/if}
                        <img src="{$vo.front_cover|get_cover='path'}">
                        <div class="list">
                            <span class="title" >{$vo.title}</span>
						<span class="sent_time">
							<span style="margin-right: 5px;font-weight: bolder;display: block;height:25px;line-height:25px;">
                                {if condition="$vo.tab eq 0"}
                                <?php echo \app\home\model\News::TYPE_ARRAY[$vo['type']];?>
                                {elseif condition="$vo.tab eq 1"/}
                                <?php echo \app\home\model\Notice::TYPE_ARRAY[$vo['type']];?>
                                {else/}
                                <?php echo \app\home\model\CertificateReview::TYPE_ARRAY[$vo['type']];?>
                                {/if}
                            </span>
                            {if condition="($vo.tab eq 0) or ($vo.tab eq 1)"}
							<span>发布人：{$vo.publisher}</span>
                            {/if}
							<span>{$vo.create_time|time_format='Y-m-d'}</span>
						</span>
                        </div>
                        {eq name="$vo.status" value="1"}
                        <div class="arrow green"><img src="/home/images/review/yes.png" alt="通过"></div>
                        {/eq}
                        {eq name="$vo.status" value="-1"}
                        <div class="arrow red"><img src="/home/images/review/tanhao.png" alt="拒绝"></div>
                        {/eq}
                    </div>
            </li>
            {/volist}
        </ul>
        <div class="tip"></div>
        <div class="loading hidden">
            <div class="typing_loader"></div>
        </div>
    </div>

{/block}

{block name="script"}
<script>
    if($("ul").find("li").length == 0){
        $('#nomessage').show()
    }
    var scrollNow = true;
    $(function(){
        var len = $(".swipeout" ).length;
        if(len >= 5){
            $('.tip' ).text('上拉加载更多');
        }else {
            $('.tip' ).text('暂无数据');
        }
        //上拉加载
        loadScroll();
    });
    function loadScroll(){
        $(window).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window).scrollTop();
            var len = $(".swipeout" ).length;
            var tip = $(".tip");
            var loading = $('.loading');
            console.log(dh,end)
            if(dh == end && scrollNow){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url:"{:Url('Review/passlistmore')}",
                    data:{
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        console.log(data)
                        if(data.code == 1){
                            addCourse(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                            function jump(url){
                                parent.location.href= url;
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    function addCourse(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            var url = '';
            var sort = list.sort;
            var status = '';
            if(list.tab==0){
                url = '/home/news/detail/id/'+list.id+'/visit/1.html'
                list.publisher = '发布人:'+list.publisher
            }else if(list.tab==1){
                url = '/home/notice/detail/id/'+list.id+'/visit/1.html'
                list.publisher = '发布人:'+list.publisher
            }else {
                url = '/home/review/carddetail/id/'+list.id+'.html'
                list.publisher = ''
            }
            if(list.status == 1){
                status = '<div class="arrow green"><img src="/home/images/review/yes.png" alt="通过"></div>'
            }else {
                status = '<div class="arrow red"><img src="/home/images/review/tanhao.png" alt="拒绝"></div>'
            }
            html +='<li class="swipeout">'
                    +'<div class="swipeout-content" onclick="jump(\''+url+'\')">'
                    +'<img src="'+list.path+'">'
                    +'<div class="list">'
                    +'<span class="title">'+list.title+'</span>'
                    +'<span class="sent_time">'
                    +'<span style="margin-right: 5px;font-weight: bolder;display: block;height:25px;line-height:25px;">'+sort+'</span><span>'+list.publisher+'</span><span>'+list.time+'</span>'
                    +'</span>'
                    +'</div>'
                    +status
                    +'</div>'
                    +'</li>'
        }
        $('ul').append(html);
    }

    //跳转新闻详情
    function jump(url){
        parent.location.href= url;
    }
</script>
{/block}