{extend name="public/common"}

{block name="style"}
<title>教练信息</title>
<link rel="stylesheet" href="/static/viewer/viewer.min.css">
<link rel="stylesheet" href="/home/css/structure/student.css">
{/block}

{block name="body"}
<div class="banner">
	{empty name="$coachModel.header"}
	<div data-tab="<?php echo param_to($coachModel['avatar'], \think\Config::get('de_header')); ?>"  class="header up"></div>
	{else/}
	<div data-tab="{$coachModel.header|get_cover='path'}"  class="header up"></div>
	{/empty}
	<div class="all">
		<!--主教练：main,助教：assi-->
		{if condition="$coachModel.department eq \app\home\model\WechatDepartment::DEPARTMENT_HEAD_COACH"}
		<div class="name"><span class="main">{$coachModel.name}</span></div>
		{else/}
			<div class="name"><span class="assi">{$coachModel.name}</span></div>
		{/if}
		<div class="note">
			{if condition="$coachModel.gender eq 2"}女{else/}男{/if}/{$coachModel.age}岁
		</div>
	</div>
	<div class="listbox">
		<div class="lists">
			<div class="tag"><span>基本信息</span></div>
			<div class="list clear">
				<span class="fl">联系电话</span>
				<span class="fr">
				<i class="fa fa-phone"></i>
				<a href="tel:{$coachModel.mobile}">{$coachModel.mobile}</a>
			</span>
			</div>
			<div class="list clear">
				<span class="fl">身份证号</span>
				<span class="fr">{$coachModel.identity}</span>
			</div>
			<!--助教显示-->
			<div class="list clear">
				<span class="fl">学历</span>
				<span class="fr">{$coachModel.education}</span>
			</div>
			{empty name="$coachModel.tag"}
			<div class="list clear list_img">
				<span class="fl">社会指导员证</span>
				<img src="{empty name='$coachModel.social_certificate'}<?php echo '/home/images/common/card.png';?>{else/}{$coachModel.social_certificate|get_cover='path'}{/empty}" alt="社会指导员证" class="fr card"  data-original="">
			</div>
			<div class="list clear list_img">
				<span class="fl">职业资格鉴定证</span>
				<img src="{empty name='$coachModel.profession_certificate'}<?php echo '/home/images/common/card.png';?>{else/}{$coachModel.profession_certificate|get_cover='path'}{/empty}" alt="职业资格鉴定证" class="fr card"  data-original="">
			</div>
			<div class="list clear list_img">
				<span class="fl">救生员证</span>
				<img src="{empty name='$coachModel.lifeguard_certificate'}<?php echo '/home/images/common/card.png';?>{else/}{$coachModel.lifeguard_certificate|get_cover='path'}{/empty}" alt="救生员证" class="fr card"  data-original="">
			</div>
			{/empty}
			<!--/助教显示-->
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script src="/static/viewer/viewer-jquery.min.js"></script>
<script>
$(function(){
	//图片预览
	$('.card').viewer({
		url: 'data-original',
		toolbar:false,
		title:false
	});
	//头像自适应
	imgfit();
});
</script>
{/block}