{extend name="public/common"}

{block name="style"}
<title>教练信息</title>
<link rel="stylesheet" href="/home/css/structure/detail.css">
<link rel="stylesheet" href="/home/css/structure/mobileSelect.css">
<link rel="stylesheet" href="/home/css/structure/public.css">
<style>
	.class_name{
		position: fixed;
		right: 0;
		bottom: 25vw;
		width: 34vw;
		height: 9.4vw;
		text-align: center;
		line-height: 9.4vw;
		background: -webkit-linear-gradient(left, #6cd9ff , #50c9ff);
		color: #ffffff;
		border-radius: 10vw 0vw 0vw 10vw;
		z-index: 99;
		box-shadow: 0 3px 5px #87e6fc;
	}
	.hideKey {
		background-color: #f9f9f9;
		text-align: center;
		font-size: 1.3rem;
		line-height: 8vw;
		display: inline-block;
		width: 100vw;
	}
	.class_name span {
		width: 100%;
		height: 100%;
		display: inline-block;
		font-size: 1.3rem;
	}
	.class_name>img{
        width: 4.8vw;
		position: absolute;
		top: 3.15vw;
		right: 1vw;
	}
	.students .list:last-child{
		margin-bottom: 0!important;
	}
</style>
{/block}

{block name="body"}
<div class="banner">
	{empty name="$coachModel.header"}
	<img src="<?php echo param_to($coachModel['avatar'], \think\Config::get('de_header')); ?>" alt="header" class="header">
	{else/}
	<img src="{$coachModel.header|get_cover='path'}" alt="header" class="header">
	{/empty}
	<!--主教练：main,助教：assi-->
	{if condition="$coachModel.department eq \app\home\model\WechatDepartment::DEPARTMENT_HEAD_COACH"}
	<span class="main">{$coachModel.name}</span>
	{else/}
	<span class="assi">{$coachModel.name}</span>
	{/if}
	<p>目前拥有{$num}名学员</p>
</div>
<div class="tabbox">
	<div class="tabs clear">
		<span class="tab active">我的学员</span>
		<span class="tab fr">教练档案</span>
	</div>
</div>
<div class="boxs">
	<div class="box active">
		<div class="class_name"><span></span><img src="/home/images/structure/right.png"/></div>
		{volist name="userList" id="model"}
		<span class="hideKey">{$key}</span>
		<div class="students">
			{volist name="model" id="vo"}
			<a href="{:Url('coach/sign?did='.$vo['userid'])}" class="list clear">
				<div class="ll fl">
					{empty name="$vo.header"}
					<img src="<?php echo param_to($vo['avatar'], \think\Config::get('de_header')); ?>" alt="学员头像" class="user">
					{else/}
					<img src="{$vo.header|get_cover='path'}" alt="学员头像" class="user">
					{/empty}
					{if condition="$vo.gender eq 2"}
					<img src="/home/images/coach/female.png" alt="女" class="sex">
					{else/}
					<img src="/home/images/coach/male.png" alt="男" class="sex">
					{/if}
				</div>
				<div class="lr fr">
					<div class="top">
						<span class="name limit">{$vo.name}</span>
						<span class="age limit">{$vo.age}岁</span>
					</div>
					<div class="note">身高 : {$vo.height|param_to='_'} cm 体重 : {$vo.weight|param_to='_'} kg</div>
					<div class="note">课程 : 已上{$vo.count}节</div>
				</div>
			</a>
			{/volist}
		</div>
		{/volist}
	</div>
	<div class="box hidden">
		<a href="{:Url('coach?did='.$coachModel['userid'])}" class="list clear">
			<img src="/home/images/structure/logo1.png" alt="logo" class="fl">
			<div class="content fl">
				<div class="name">教练信息</div>
				<div class="detail">可查阅教练具体信息</div>
			</div>
			<i class="fa fa-angle-right fr"></i>
		</a>
		<a href="{:Url('Coach/mysign?did='.$coachModel['userid'])}" class="list clear">
			<img src="/home/images/structure/logo2.png" alt="logo" class="fl">
			<div class="content fl">
				<div class="name">教练签到</div>
				<div class="detail">可查阅教练签到信息</div>
			</div>
			<i class="fa fa-angle-right fr"></i>
		</a>
		<a href="{:Url('Coach/weekplan?id=0&did='.$coachModel['userid'])}" class="list clear">
			<img src="/home/images/coach/mzjh.png" alt="logo" class="fl">
			<div class="content fl">
				<div class="name">每周计划</div>
				<div class="detail">可查阅教练每周训练计划</div>
			</div>
			<i class="fa fa-angle-right fr"></i>
		</a>
		<a href="{:Url('Coach/classplan?did='.$coachModel['userid'])}" class="list clear">
			<img src="/home/images/coach/ksjh.png" alt="logo" class="fl">
			<div class="content fl">
				<div class="name">课时计划</div>
				<div class="detail">可查阅教练具体课时计划</div>
			</div>
			<i class="fa fa-angle-right fr"></i>
		</a>
		<a href="{:Url('Coach/weekplan?id=1&did='.$coachModel['userid'])}" class="list clear">
			<img src="/home/images/coach/mzzj.png" alt="logo" class="fl">
			<div class="content fl">
				<div class="name">每周小结</div>
				<div class="detail">可查阅教练每周训练小结</div>
			</div>
			<i class="fa fa-angle-right fr"></i>
		</a>
	</div>
</div>
{/block}

{block name="script"}
<script src="/home/js/mobileSelect.js"></script>
<script>
$(function(){
	// tab值记录
	tabRecord('.tab' ,'.box');
	// tab切换
	tabSwitch('.tab' ,'.box');
    // 右侧固定时间条
    $(".box").find(".class_name").eq(1).hide();
    $(".class_name").find("span").html($(".hideKey").html());
    $(window).scroll(function() {
        var t = $(window).scrollTop();
        var $study=$(".students").eq(1).find("a");
		if(t>=$study.length*$study.outerHeight()){
            $(".class_name").find("span").html($(".hideKey:last-of-type").html());
        }else{
            $(".class_name").find("span").html($(".hideKey").html());
		}
	});
	// 弹出窗
    var mobileSelect1 = new MobileSelect({
            trigger: ".class_name span",
            title: '',
            wheels: [
                {data:{$class_arr}}
            ],
            position:[0] //初始化定位
        });
	$(".mobileSelect .ensure").on("touchstart",function (e) {
	    var t = $(".class_name span").html();
	    var $study =0;
	   	for(var i = 0; i < $(".hideKey").length; i++ ) {
	   	    var height = $('.students').eq(i-1).height();
	   	    if(i == 0) {
                height = 0;
            };
            $study += parseFloat(height);
	   	    if($(".hideKey").eq(i).html() == t) {

                if(i == 0) {
                    $('body,html').animate({scrollTop:0},1000);
                    return false;
                }else if(i>= 1){
                    $('body,html').animate({scrollTop:$study + i * $(".hideKey").height() + $(".banner").height() + $(".tabbox").height()},1000);
                    return false;
				}
			}
		}
		return false;
    });


});
function loadScroll(){}
</script>
{/block}