{extend name="public/common"}

{block name="style"}
<title>教练信息</title>
<link rel="stylesheet" href="/home/css/structure/detail.css">
{/block}

{block name="body"}
<div class="banner">
	{empty name="$coachModel.header"}
	<img src="<?php echo param_to($coachModel['avatar'], \think\Config::get('de_header')); ?>" alt="header" class="header">
	{else/}
	<img src="{$coachModel.header|get_cover='path'}" alt="header" class="header">
	{/empty}
	<!--主教练：main,助教：assi-->
	{if condition="$coachModel.department eq \app\home\model\WechatDepartment::DEPARTMENT_HEAD_COACH"}
	<span class="main">{$coachModel.name}</span>
	{else/}
	<span class="assi">{$coachModel.name}</span>
	{/if}
</div>
<div class="tabbox">
	<div class="tabs clear">
		<span class="tab active">我的学员</span>
		<span class="tab fr">教练档案</span>
	</div>
</div>
<div class="boxs">
	<div class="box active">
		{volist name="userList" id="vo"}
		<a href="{:Url('coach/sign?did='.$vo['userid'])}" class="list clear">
			<div class="ll fl">
				{empty name="$vo.header"}
				<img src="<?php echo param_to($vo['avatar'], \think\Config::get('de_header')); ?>" alt="学员头像" class="user">
				{else/}
				<img src="{$vo.header|get_cover='path'}" alt="学员头像" class="user">
				{/empty}
				{if condition="$vo.gender eq 2"}
				<img src="/home/images/coach/female.png" alt="女" class="sex">
				{else/}
				<img src="/home/images/coach/male.png" alt="男" class="sex">
				{/if}
			</div>
			<div class="lr fr">
				<div class="top">
					<span class="name limit">{$vo.name}</span>
					<span class="age limit">{$vo.age}岁</span>
				</div>
				<div class="note">身高 : {$vo.height|param_to='_'} cm 体重 : {$vo.weight|param_to='_'} kg</div>
				<div class="note">课程 : 已上{$vo.count}节</div>
			</div>
		</a>
		{/volist}
	</div>
	<div class="box hidden">
		<a href="{:Url('coach?did='.$coachModel['userid'])}" class="list clear">
			<img src="/home/images/structure/logo1.png" alt="logo" class="fl">
			<div class="content fl">
				<div class="name">教练信息</div>
				<div class="detail">可查阅教练具体信息</div>
			</div>
			<i class="fa fa-angle-right fr"></i>
		</a>
		<!--<a href="{:Url('Coach/weekPlan')}" class="list clear">-->
			<!--<img src="/home/images/coach/mzjh.png" alt="logo" class="fl">-->
			<!--<div class="content fl">-->
				<!--<div class="name">每周计划</div>-->
				<!--<div class="detail">可查阅教练每周训练计划</div>-->
			<!--</div>-->
			<!--<i class="fa fa-angle-right fr"></i>-->
		<!--</a>-->
		<!--<a href="{:Url('Coach/classPlan')}" class="list clear">-->
			<!--<img src="/home/images/coach/ksjh.png" alt="logo" class="fl">-->
			<!--<div class="content fl">-->
				<!--<div class="name">课时计划</div>-->
				<!--<div class="detail">可查阅教练具体课时计划</div>-->
			<!--</div>-->
			<!--<i class="fa fa-angle-right fr"></i>-->
		<!--</a>-->
		<!--<a href="{:Url('Coach/weekSummary')}" class="list clear">-->
			<!--<img src="/home/images/coach/mzzj.png" alt="logo" class="fl">-->
			<!--<div class="content fl">-->
				<!--<div class="name">每周小结</div>-->
				<!--<div class="detail">可查阅教练每周训练小结</div>-->
			<!--</div>-->
			<!--<i class="fa fa-angle-right fr"></i>-->
		<!--</a>-->
	</div>
</div>
{/block}

{block name="script"}
<script>
$(function(){
	//tab值记录
	tabRecord('.tab' ,'.box');
	//tab切换
	tabSwitch('.tab' ,'.box');
});
function loadScroll(){}
</script>
{/block}