{extend name="public/common"}

{block name="style"}
<title>教练信息</title>
<link rel="stylesheet" href="/home/css/structure/index.css">
{/block}

{block name="body"}
<div class="banner">
	{empty name="$chiefCoachModel.header"}
	<div data-tab="<?php echo param_to($chiefCoachModel['avatar'], \think\Config::get('de_header')); ?>"  class="header up"></div>
	{else/}
	<div data-tab="{$chiefCoachModel.header|get_cover='path'}"  class="header up"></div>
	{/empty}
	<div class="all limit"><span>{$chiefCoachModel.name}</span></div>
	<div class="lists">
		{volist name="headCoachList" id="vo"}
		<a href="{:Url('detail?did='.$vo['userid'])}" class="list clear">
			{empty name="$vo.header"}
			<div data-tab="<?php echo param_to($vo['avatar'], \think\Config::get('de_header')); ?>"  class="fl up"></div>
			{else/}
			<div data-tab="{$vo.header|get_cover='path'}"  class="fl up"></div>
			{/empty}
			<div class="fl content">
				<span class="main limit">{$vo.name}</span>
				<span class="note">目前拥有{$vo.count}名助教</span>
			</div>
			<span class="angle fr"><i class="fa fa-angle-down"></i></span>
		</a>
		<div class="assis clear">
			{volist name="vo.assistant" id="voo"}
			<a href="{:Url('detail?did='.$key)}" class="assi limit">{$voo}</a>
			{/volist}
		</div>
		{/volist}
	</div>
</div>

{/block}

{block name="script"}
<script>
$(function(){
	//信息展开
	$(".list").delegate(".angle","click",function(e){
		e.stopPropagation();
		e.preventDefault();
		var this_ = $(this).find('.fa');
		if(this_.hasClass('toup')){
			this_.addClass('todown').removeClass('toup');
			$(this).parents('.list').next('.assis').stop().fadeOut();

		}else{
			this_.addClass('toup').removeClass('todown');
			$(this).parents('.list').next('.assis').stop().fadeIn();

		}
	});
	//头像自适应
	imgfit();
});

</script>
{/block}