{extend name="public/common"}

{block name="style"}
<title>学员信息</title>
<link rel="stylesheet" href="/home/css/structure/student.css">
{/block}

{block name="body"}
<div class="banner">
	{empty name="$userModel.header"}
	<div data-tab="<?php echo param_to($userModel['avatar'], \think\Config::get('de_header')); ?>"  class="header up"></div>
	{else/}
	<div data-tab="{$userModel.header|get_cover='path'}"  class="header up"></div>
	{/empty}
	<div class="all">
		<div class="name"><span class="student">{$userModel.name}</span></div>
		<div class="note">
			{if condition="$userModel.gender eq 2"}女{else/}男{/if}/{$userModel.age}岁
		</div>
	</div>
	<div class="listbox">
		<div class="lists">
			<div class="tag"><span>基本信息</span></div>
			<div class="list clear">
				<span class="fl">类别</span>
				<span class="fr"><?php echo param_to($userModel['position'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">出生年月</span>
				<span class="fr"><?php echo param_to($userModel['birthday_year'], '-'); ?> / <?php echo param_to($userModel['birthday_month'], '-'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">监护人姓名</span>
				<span class="fr"><?php echo param_to($userModel['guardian'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">联系电话</span>
				<span class="fr">
				<i class="fa fa-phone"></i>
				<a href="tel:<?php echo param_to($userModel['mobile'], '--'); ?>"><?php echo param_to($userModel['mobile'], '--'); ?></a>
			</span>
			</div>
			<div class="list clear">
				<span class="fl">家庭地址</span>
				<span class="fr limit"><?php echo param_to($userModel['address'], '--'); ?></span>
			</div>
		</div>
		<div class="lists">
			<div class="tag"><span>训练信息</span></div>
			<div class="list clear">
				<span class="fl">招生日期</span>
				<span class="fr"><?php echo param_to($userModel['enrollday'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">身高（cm）</span>
				<span class="fr"><?php echo param_to($userModel['height'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">体重（kg）</span>
				<span class="fr"><?php echo param_to($userModel['weight'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">星级情况</span>
				<span class="fr"><?php echo param_to($userModel['star_level'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">原教练</span>
				<span class="fr"><?php echo param_to($userModel['ever_coach'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">现教练</span>
				<span class="fr"><?php echo param_to($userModel['now_coach'], '--'); ?></span>
			</div>
		</div>
		<div class="lists">
			<div class="tag"><span>学习情况</span></div>

			<div class="list clear">
				<span class="fl">学历</span>
				<span class="fr"><?php echo param_to($userModel['education'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">现就读学校</span>
				<span class="fr"><?php echo param_to($userModel['school'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">学籍号</span>
				<span class="fr"><?php echo param_to($userModel['student_code'], '--'); ?></span>
			</div>
			<div class="list clear">
				<span class="fl">文化成绩</span>
				<span class="fr"><?php echo param_to($userModel['achievement'], '--'); ?></span>
			</div>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script>
$(function(){
	//头像自适应
	imgfit();
});
</script>
{/block}