{extend name="public/common"}

{block name="style"}
<title>通知公告</title>
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/notice/index.css">
{/block}

{block name="body"}
<!--切换-->
<div class="tabs">
	<span class="tab active">活动</span>
	<span class="tab">通知</span>
</div>
<!--轮播+列表-->
<div class="boxs">
	<div class="box hidden clear">
		<!--活动轮播-->
		<div class="banners ">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{volist name="top_activity" id="ta"}
					<div class="banner swiper-slide">
						<a href="{:Url('Notice/detail?id='.$ta['id'])}">
							<img src="{$ta.front_cover|get_cover='path'}" alt="">
							<div class="title limit">{$ta.title}</div>
						</a>
					</div>
					{/volist}
				</div>
			</div>
		</div>
		<div class="nice">精彩活动</div>
		<!--活动列表-->
		<div class="lists">
			{volist name="activity" id="act"}
			<a href="{:Url('Notice/detail?id='.$act['id'])}"  class="list">
				<img src="{$act.front_cover|get_cover='path'}" alt="活动图片">
				<div class="title limit">{$act.title}</div>
				<div class="time">{$act.create_time|time_format='Y-m-d'}</div>
				<div class="scan">{$act.views}</div>
				<div class="num">{$act.enrollnum}/{$act.people}</div>
				<!--四种状态-->
				{switch name="$act.is_enroll"}
				{case value="0"}<span class="enter" onclick="enter(this,{$act.id})">报名</span>{/case}
				{case value="1"}<span class="stop">已报名</span>{/case}
				{case value="2"}<span class="stop">已截止</span>{/case}
				{case value="3"}<span class="stop">已满</span>{/case}
				{/switch}
			</a>
			{/volist}
		</div>
		<div class="loading hidden">
			<div class="typing_loader"></div>
		</div>
		<div class="tip"></div>
	</div>
	<!--通知部分-->
	<div class="box hidden">
		<!--通知轮轮播-->
		<div class="banners ">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{volist name="top_note" id="tn"}
					<div class="banner swiper-slide">
						<a href="{:Url('Notice/detail?id='.$tn['id'])}">
							<img src="{$tn.front_cover|get_cover='path'}" alt="">
							<div class="title limit">{$tn.title}</div>
						</a>
					</div>
					{/volist}
				</div>
			</div>
		</div>
		<!--通知列表-->
		<div class="lists">
			{volist name="note" id="no"}
			<a href="{:Url('Notice/detail?id='.$no['id'])}" class="list">
				<img src="{$no.front_cover|get_cover='path'}" alt="通知图片">
				<div class="lr">
					<div class="title limit">{$no.title}</div>
					<div class="note clear">
						<span class="time">{$no.create_time|time_format='Y-m-d'}</span>
						<span class="comment fr">{$no.comments}</span>
						<span class="scan fr">{$no.views}</span>
					</div>
				</div>
			</a>
			{/volist}
		</div>
		<div class="loading hidden">
			<div class="typing_loader"></div>
		</div>
		<div class="tip"></div>
	</div>

</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
$(function(){
	//轮播
	var mySwiper = new Swiper('.swiper-container', {
		autoplay: 3000,
		loop:true,
		autoplayDisableOnInteraction:false
	});
	//tab值记录
	tabRecord('.tab' ,'.box');
	//tab切换
	tabSwitch('.tab' ,'.box');
	//无消息
	var box = $('.box');
	for(var i = 0; i < box.length ;i++){
		var len = box.eq(i).find('.list').length;
		if(len == 0){
			box.eq(i).find('.tip').text('');
			box.eq(i).find('.lists').append('<img src="/home/images/common/nomessage.png" alt="暂无消息" class="nomessage">')
		}else if(len >= 7){
			box.eq(i).find('.tip').text('上拉加载更多');
			//上拉加载评论
			loadScroll();
		}else{
			box.eq(i).find('.tip').text('没有更多了');
		}
	}
});
function  enter(userid,id){
	var this_ = self;
	var data = {
		'id':id
	};
	$.ajax({
		type:"post",
		url:"{:Url('Notice/enroll')}",
		data:data,
		success:function(data){
			if(data.code == 1){
				$(this_).text('已报名').css({'background':'#d0d0d0'})
			}
			swal({
				title: ' ',
				text: data.code == 1 ? '报名成功！':'报名失败！',
				type: data.code == 1 ? 'success':'warning',
				showConfirmButton:false,
				timer:1500
			});
		}
	});
}
$(".list").delegate(".enter","click",function(e){
	e.stopPropagation();
	e.preventDefault();
});
function loadScroll(){
	$(window ).off("scroll" ).on("scroll",function(){
		var dh = $(document).height();
		var end = $(window).height() + $(window ).scrollTop();
		var type = $('.tab.active').index();
		var len = $(".box" ).eq(type).find('.list').length;
		var tip = $(".tip");
		var loading = $('.loading');
		var userid = {$userid};

		if(dh == end){
			$.ajax({
				type:"post",
				url:"{:Url('Notice/listMore')}",
				data:{
					length:len,
					type:type,
					userid:userid,
				},
				beforeSend: function(XMLHttpRequest){
					tip.hide();
					loading.toggleClass('hidden');
				},
				success:function(data){
					loading.toggleClass('hidden');
					tip.show();
					if(data.code == 1){
						addLists(data,type);
						var dataLen =data.data.length;
						if(data.data.length == 7){
							tip.text('上拉加载更多');
						}
					}else{
						tip.text('没有更多了');
						$(window ).off("scroll");
					}
				}
			})
		}
	})
}
function addLists(data,type){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		if(type == 2){
			html +=
				'<a href="/home/notice/detail/id/'+ list.id+'.html" class="list">'+
				'<img src="'+list.path+'" alt="活动图片">'+
				'<div class="title limit">'+list.title+'</div>'+
				'<div class="time">'+list.time+'</div>'+
				'<div class="scan">'+list.comments+'</div>'+
				'<div class="num">'+list.enrollnum+'/'+'list.people'+'</div>';
			if(list.type){
				html+=
					'<span class="enter">报名</span>'+
					'<span class="stop">已截止</span>'+
					'<span class="stop">已报名</span>'+
					'<span class="stop">已满</span>'
			}
			html +=
				'</a>';
		}else{
			html +=
				'<a href="/home/notice/detail/id/'+ list.id+'.html" class="list">'+
				'<img src="'+list.path+'" alt="通知图片">'+
				'<div class="lr">'+
				'<div class="title limit">'+list.title+'</div>'+
				'<div class="note clear">'+
				'<span class="time">'+list.time+'</span>'+
				'<span class="comment fr">'+list.comments+'</span>'+
				'<span class="scan fr">'+list.views+'</span>'+
				'</div>'+
				'</div>'+
				'</a>';
		}

	}
	$('.box').eq(type).find('.lists').append(html);
}
</script>
{/block}