{extend name="public/common"}

{block name="style"}
<title>通知公告</title>
<script src="/static/framework7/framework7.js"></script>
<link rel="stylesheet" href="/static/framework7/framework7.ios.min.css">
<link rel="stylesheet" href="/static/framework7/framework7.ios.colors.min.css">
<style>
    *{
        box-sizing: border-box;
    }
    .none{
        display: none;
    }
    .page-content{
        background:#fff;
    }
    .details>span{
        display: inline-block;
        font-size:14px;
        color:#666;
        text-indent:2em;
    }
    /*add*/
    .add{
        background:#efeff4;
        font-size:13px;
        height:25px;
        line-height:25px;
        padding-left:10px;
    }
    /*details*/
    .details>span{
        padding:0 3%;
    }
    .details>img{
        width:94%; margin-left:3%;
    }
    /*talk*/
    .talk{
        padding:0 3%;
        border-bottom:1px solid #ddd;
    }
    .talk>div:nth-child(1){
        height:40px; line-height:40px;
    }
    .talk>div:nth-child(1)>img{
        width:30px;margin-top:5px; float: left;border-radius:50%;;
    }
    .talk>div:nth-child(1)>span{
        display: inline-block;height:40px;line-height:40px; float: left;margin-left:10px;color:#666;
    }
    .talk>div:nth-child(1)>span:nth-child(3){
        float: right;
    }
    .talk>div:nth-child(2){
        width:70%;margin-left:20%;font-size:12px;color:#999;
    }
    .talk>div:nth-child(3){
        text-align: right
    }
    .talk>div:nth-child(3)>img{
        width:12px;
    }
    /*send*/
    #send{
        width:50px;height:30px;line-height:30px;background:#fff;position:absolute;right:10px;top:5px;text-align: center;border-radius: 10px;border:1px solid #169D3E;color:#169D3E;font-size:14px;
    }
    #send.active-state{
        transition-duration: 0s;
        background: #ddd;
    }
    /*input*/
    #input{
        width:65%;height:30px;position:absolute;left:15%;top:5px;;border-radius:5px;border:1px solid #ddd;font-size:13px;color:#666;padding-left:5px;
    }
    /*zan*/
    .zan>span,.zan1>span{
        color:#999;
    }
    /*zongshu*/
    .zongshu{
        position:relative;height:40px;
    }
    .zongshu>span{
        position:absolute;bottom:10px;left:0;padding-left:10px;color:#999;
    }
    .zongshu>span:nth-child(2){
        position:absolute;bottom:10px;left:50px;margin-left:5px;color:#999;
    }
    .zongshu>span>img{
        width:12px;
    }
</style>
{/block}

{block name="body"}
<div class="views">
    <div class="view view-main">
        <div class="page">
            <div class="page-content" style="padding-bottom:40px;">
                <div style="padding:0 10px;text-align: center;border-bottom:1px solid #ddd;">
                    <span style="font-size:16px;font-weight:bold;color:#333;margin:10px 0;display: inline-block;width:100%;text-overflow:-o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{$list.title} </span>
                    <div  style="text-align: left;position: relative;font-size:13px;color:#999;margin-bottom:5px;">
                        <span>{$list.publisher}/</span>
                        <span>{$list.create_time|date="Y-m-d",###}</span>
                    </div>
                </div>
                <div style="margin-top:10px;width:100%;padding:0 3%;" class="details">
                   {$list.content}
                </div>

            </div>
        </div>


    </div>
</div>
{/block}

{block name="script"}

<script>
    document.title="未审核活动通知";
</script>
{/block}